
<div class="modal fade bs-modal-sm" id="warningmodal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            @*<div class="modal-header" style="color: orange; font-family: 'FrutigerNextPro-Bold'">*@
            <div class="modal-header" style="color: orange; font-family: Arial">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">WARNING!</h3>
            </div>
            <div class="modal-body" style="color:orange">
                <p id="warningtext" style="text-align:center"></p>
            </div>
            <div class="modal-footer">
                <div class="text-center text-center">
                    <input type="button" class="btn btn-warning" data-dismiss="modal" value=" OK " />
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>

<div class="modal fade bs-modal-sm" id="errormodal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            @*<div class="modal-header" style="color: red; font-family: 'FrutigerNextPro-Bold'">*@
            <div class="modal-header" style="color: red; font-family: Arial">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">ERROR!</h3>
            </div>
            <div class="modal-body" style="color:red">
                <p id="errortext" style="text-align:center"></p>
            </div>
            <div class="modal-footer">
                <div class="text-center text-center">
                    <input type="button" class="btn btn-danger" data-dismiss="modal" value=" OK " />
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>

<div class="modal fade bs-modal-sm" id="createmodaluser" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            @*<div class="modal-header" style="background: #00A1dE; color: #313131; font-family: 'FrutigerNextPro-Bold'; ">*@
            <div class="modal-header" style="background: #00A1dE; color: #313131; font-family: Arial; ">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">Add user</h3>
            </div>
            <div class="modal-body" style="height:200px">
                <div id="customvalidationuser" class="validation-summary-errors" data-valmsg-summary="true" style="display:none">
                    <div id="messageuser"></div>
                </div>

                <div class="col-sm-12 col-xs-12">
                    @Html.Label("New username")
                </div>
                <div class="col-sm-12 col-xs-12">
                    @Html.TextBox("NewUserName", "", new { @class = "form-control", placeholder = "Type here new username" })
                </div>
                <div class="col-sm-12 col-xs-12" style="padding-top:10px">
                    @Html.Label("New initial password")
                </div>
                <div class="col-sm-12 col-xs-12">
                    @Html.Password("NewPassword", "", new { @class = "form-control", placeholder = "Type here new initial password" })
                </div>
                <div class="col-sm-12 col-xs-12" style="padding-top:10px">
                    @Html.Label("New name")
                </div>
                <div class="col-sm-12 col-xs-12">
                    @Html.TextBox("NewName", "", new { @class = "form-control", placeholder = "Type here new name" })
                </div>
                <div class="col-sm-12 col-xs-12" style="padding-top:10px">
                    @Html.Label("New email")
                </div>
                <div class="col-sm-12 col-xs-12">
                    @Html.TextBox("NewEmail", "", new { @class = "form-control", placeholder = "Type here new email" })
                </div>
            </div>
            <div class="modal-footer">
                <div class="text-center pull-left">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value=" BACK " />
                </div>
                <div class="text-center pull-right">
                    <input id="createbuttonuser" type="button" class="btn btn-default" value=" SAVE " />
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>

<div class="modal fade bs-modal-sm" id="deletemodaluser" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            @*<div class="modal-header" style="background: #00A1dE; color: #313131; font-family: 'FrutigerNextPro-Bold'; ">*@
            <div class="modal-header" style="background: #00A1dE; color: #313131; font-family: Arial; ">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">ATTENTION!</h3>
            </div>
            <div class="modal-body">
                <p id="deletetext" style="text-align:center">Do you really want to delete this?</p>
            </div>
            <div class="modal-footer">
                <div class="text-center pull-left">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value=" CANCEL " />
                </div>
                <div class="text-center pull-right">
                    <input id="deletebuttonuser" type="button" class="btn btn-default" data-dismiss="modal" value=" DELETE " />
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>

<div class="modal fade bs-modal-sm" id="createmodalsetup" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            @*<div class="modal-header" style="background: #00A1dE; color: #313131; font-family: 'FrutigerNextPro-Bold'; ">*@
            <div class="modal-header" style="background: #00A1dE; color: #313131; font-family: Arial; ">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">Add setup</h3>
            </div>
            <div class="modal-body" style="height:200px">
                <div id="customvalidationsetup" class="validation-summary-errors" data-valmsg-summary="true" style="display:none">
                    <div id="messagesetup"></div>
                </div>
                <div class="col-sm-12 col-xs-12">
                    @Html.Label("New name")
                </div>
                <div class="col-sm-12 col-xs-12">
                    @Html.TextBox("Name", "", new { @class = "form-control", placeholder = "Type here new parameter name" })
                </div>
                <div class="col-sm-12 col-xs-12" style="padding-top:10px">
                    @Html.Label("New value")
                </div>
                <div class="col-sm-12 col-xs-12">
                    @Html.TextBox("Value", "", new { @class = "form-control", placeholder = "Type here new parameter value" })
                </div>
                <div class="col-sm-12 col-xs-12" style="padding-top:10px">
                    @Html.Label("New description")
                </div>
                <div class="col-sm-12 col-xs-12">
                    @Html.TextArea("Description", "", new { @class = "form-control", placeholder = "Type here new parameter description" })
                </div>
            </div>
            <div class="modal-footer">
                <div class="text-center pull-left">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value=" BACK " />
                </div>
                <div class="text-center pull-right">
                    <input id="createbuttonsetup" type="button" class="btn btn-default" value=" SAVE " />
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>

<div class="modal fade bs-modal-sm" id="deletemodalsetup" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            @*<div class="modal-header" style="background: #00A1dE; color: #313131; font-family: 'FrutigerNextPro-Bold'; ">*@
            <div class="modal-header" style="background: #00A1dE; color: #313131; font-family: Arial; ">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">ATTENTION!</h3>
            </div>
            <div class="modal-body">
                <p id="deletetext" style="text-align:center">Do you really want to delete this?</p>
            </div>
            <div class="modal-footer">
                <div class="text-center pull-left">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value=" CANCEL " />
                </div>
                <div class="text-center pull-right">
                    <input id="deletebuttonsetup" type="button" class="btn btn-default" data-dismiss="modal" value=" DELETE " />
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>

<div class="bs-example bs-example-tabs" style="padding-top:35px">
    <ul id="AdminTab" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a data-toggle="tab" href="#Users">Users</a></li>
        <li><a data-toggle="tab" href="#Setup">Setup</a></li>
    </ul>
    <div id="AdminTabContent" class="tab-content" style="background-color: white">
        <div class="tab-pane fade in active" id="Users">
            <div class="row">
                <div class="container grid">
                    <div class="col-sm-12 col-xs-12">
                        <div class="btn-group">
                            <a id="createuser" class="fa fa-plus fa-lg" style="padding-left:5px; padding-right:5px" data-toggle="modal" data-target="#createmodaluser"></a>
                            <a id="deluser" class="fa fa-trash-o fa-lg" style="visibility:hidden; padding-right:5px" data-toggle="modal" data-target="#deletemodaluser"></a>
                        </div>
                        <table id="users" class="display"><tr><td /></tr></table>
                        <div id="userspager"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="Setup">
            <div class="row">
                <div class="container grid">
                    <div class="col-sm-12 col-xs-12">
                        <div class="btn-group">
                            <a id="createsetup" class="fa fa-plus fa-lg" style="padding-left:5px; padding-right:5px" data-toggle="modal" data-target="#createmodalsetup"></a>
                            <a id="delsetup" class="fa fa-trash-o fa-lg" style="visibility:hidden; padding-right:5px" data-toggle="modal" data-target="#deletemodalsetup"></a>
                        </div>
                        <table id="setups" class="display"><tr><td /></tr></table>
                        <div id="setupspager"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input id="rowidUser" style="visibility: hidden" />
<input id="rowidSetup" style="visibility: hidden" />


@section Scripts {
@Scripts.Render("~/Scripts/jqgrid")

    <script type="text/javascript">

        var getColumnIndexByName = function (gridname, columnName) {
            var grid = $("#" + gridname);
            var cm = grid.jqGrid('getGridParam', 'colModel');
            var retval = -1;
            $.each(cm, function () {
                if (this.name === columnName) {
                    retval = cm.indexOf(this);
                }
            });
            return retval;
        };

        jQuery("#users").jqGrid({
            url: '@Url.Action("ListUsers", "Admin")',
            editurl: '@Url.Action("EditUser", "Admin")',
            datatype: "json",        
            ajaxSelectOptions: { type: "GET" }, //ezzel megy a lenyíló az advanced search-ben
            loadError: function (jqXHR, textStatus, errorThrown) {
                $('#errortext').text(jqXHR.responseText);
                $('#errormodal').modal({ show: true });
            },
            colNames: [
                'Action'
                , 'id'
                , 'Username'
                , 'Password'
                , 'Name'
                , 'Email'
                , 'Admin?'
            ],
            colModel: [
                {
                    name: "act"
                    , index: "act"
                    , align: "center"
                    , formatter: "actions"
                    , formatoptions: {
                        keys: false, editbutton: true, delbutton: false,
                        afterSave: function () {
                            $("#users").trigger("reloadGrid", [{ current: true }]);
                        },
                        afterRestore: function () {
                            $("#users").trigger("reloadGrid", [{ current: true }]);
                        },
                        onError: function (jqXHR, textStatus, errorThrown) {
                            $('#errortext').text(jqXHR.responseText);
                            $('#errormodal').modal({ show: true });
                        }
                    }
                    , width: 55
                    , sortable: false
                    , search: false
                },
                {
                    name: 'Id', index: 'Id', hidden: true, sortable: false, editable: false,
                    editoptions: {
                        dataInit: function (element) {
                            $(this).jqGrid('getColProp', 'Admin').formatoptions.disabled = false;
                        }
                    }
                },
                { name: 'UserName', index: 'UserName', width: 150, align: "left", editable: true, editrules: { required: true }, sortable: true },
                { name: 'Password', index: 'Password', width: 100, align: "center", editable: false, sortable: false, search: false },
                {
                    name: 'Name', index: 'Name', width: 250, align: "left",
                    editable: true, sortable: true,
                    cellattr: function (rowId, tv, rawObject, cm, rdata) { return 'style="white-space: normal;"' },
                    //formatter: function (v) { return '<div style="max-height: 100px">' + v + '</div>'; }
                },
                { name: 'Email', index: 'Email', width: 200, align: "left", editable: true, sortable: true },
                {
                    name: 'isLocked', index: 'isLocked', width: 45, align: "center", editable: true,
                    edittype: 'checkbox', editoptions: { value: "True:False" },
                    searchoptions: { sopt: ['eq'], value: '"":All;True:True;False:False' }, stype: 'select',
                    formatter: "checkbox", formatoptions: { disabled: true }, sortable: true
                }
            ],
            rowNum: 20,
            rowList: [20, 40, 60],
            toppager: true,
            pager: '#userspager',
            sortname: 'Name',
            viewrecords: true,
            sortorder: "asc",
            caption: 'Users',
            rownumbers: true,
            gridview: true,
            hoverrows: true,
            scrollrows: false,
            shrinkToFit: false,
            height: '100%',
            autowidth: true,
            onSelectRow: function (rowid, e) {
                $("#rowidUser").val(rowid);
                $("#deluser").show().css({ visibility: "visible" });
            },
            loadComplete: function () {
                $("#deluser").hide().css({ visibility: "hidden" });
            }
        });
    
        jQuery("#users").jqGrid('navGrid', '#userspager'
            , { edit: false, add: false, del: false, refresh: true, cloneToTop: true }
            , {} //prmEdit
            , {} //prmAdd
            , {} //prmDel
            , {
                width: 600,
                multiplesearch: true,
                recreatefilter: true,
                closeonescape: true,
                closeaftersearch: true,
                overlay: 0,
                afterredraw: function () {
                    $('input.add-rule', this)//.button().val('add new rule')
                        .attr('title', 'add new search rule');
                    $('input.delete-rule', this)//.button().val('delete rule')
                        .attr('title', 'delete rule');
                }
            } //prmsearch
            , {} //prmview
        ).jqGrid('filterToolbar', { stringResult: true, searchOnEnter: true, defaultSearch: "cn" });

        jQuery("#users").bind("jqGridInlineSuccessSaveRow",
            function (e, jqXHR, rowid, options) {
                var str = JSON.parse(jqXHR.responseText);
                if (!str.success) {
                    if (str.error) {
                        $('#errortext').text(str.response);
                        $('#errormodal').modal({ show: true });
                    }
                    else {
                        $('#warningtext').text(str.response);
                        $('#warningmodal').modal({ show: true });
                    }
                }
                return [true, jqXHR.responseText];
            }
        );

        $('#deletebuttonuser').click(function () {
            $.ajax({
                url: '@Url.Action("DeleteUser", "Admin")?id=' + $("#rowidUser").val(),
                type: 'POST',
                beforeSend: function (jqXHR, textStatus) { jQuery('#users').block({ message: '<h3>Wait…</h3>' }); },
                complete: function (jqXHR, textStatus) {
                    var str = JSON.parse(jqXHR.responseText);
                    if (!str.success) {
                        if (str.error) {
                            $('#errortext').text(str.response);
                            $('#errormodal').modal({ show: true });
                        }
                        else {
                            $('#warningtext').text(str.response);
                            $('#warningmodal').modal({ show: true });
                        }
                    }
                    jQuery('#users').unblock();
                    $("#users").trigger("reloadGrid", [{ current: true }]);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('#errortext').text(jqXHR.responseText);
                    $('#errormodal').modal({ show: true });
                }
            });
        });

        $('#createbuttonuser').click(function () {
            $.ajax({
                @*IE unicode trash url: '@Url.Action("CreateUser", "Admin")?UserName=' + $('#NewUserName').val()
                        + '&Password=' + $('#NewPassword').val()
                        + '&Name=' + $('#NewName').val()
                        + '&Email=' + $('#NewEmail').val(),*@
                url: '@Url.Action("CreateUser", "Admin")',
                data: {
                    UserName: $('#NewUserName').val(),
                    Password: $('#NewPassword').val(),
                    Name: $('#NewName').val(),
                    Email: $('#NewEmail').val()
                },
                type: 'POST',
                beforeSend: function (jqXHR, textStatus) {
                    jQuery('#users').block({ message: '<h3>Wait…</h3>' });
                },
                complete: function (jqXHR, textStatus) {
                    var str = JSON.parse(jqXHR.responseText);
                    if (!str.success) {
                        $('#messageuser').text(str.response)
                        $('#customvalidationuser').show().css({ visibility: "visible" });
                    }
                    else {
                        $("#customvalidationuser").hide().css({ visibility: "hidden" });
                        $('#createmodaluser').modal('hide');
                    }
                    jQuery('#users').unblock();
                    $("#users").trigger("reloadGrid", [{ current: true }]);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('#errortext').text(jqXHR.responseText);
                    $('#errormodal').modal({ show: true });
                }
            });
        });

        $("#createmodaluser").on("hide.bs.modal", function () {
            $("#customvalidationuser").hide().css({ visibility: "hidden" });
            $('#NewUserName').val('');
            $('#NewPassword').val('');
            $('#NewName').val('');
            $('#NewEmail').val('');
        });


        //setup

        jQuery("#setups").jqGrid({
            url: '@Url.Action("ListSystemParameters", "Admin")',
            editurl: '@Url.Action("EditSetup", "Admin")',
            datatype: "json",
            ajaxSelectOptions: { type: "GET" }, //ezzel megy a lenyíló az advanced search-ben
            colNames: [
                'Action'
                , 'id'
                , 'Name'
                , 'Value'
                , 'Descriptiom'
                , 'Public?'
            ],
            colModel: [
                {
                    name: "act"
                    , index: "act"
                    , formatter: "actions"
                    , formatoptions: {
                        keys: false, editbutton: true, delbutton: false,
                        afterSave: function () {
                            $("#setups").trigger("reloadGrid", [{ current: true }]);
                        },
                        afterRestore: function () {
                            $("#setups").trigger("reloadGrid", [{ current: true }]);
                        },
                        onError: function (jqXHR, textStatus, errorThrown) {
                            $('#errortext').text(jqXHR.responseText);
                            $('#errormodal').modal({ show: true });
                        }
                    }
                    , width: 55
                    , sortable: false
                    , search: false
                },
                {
                    name: 'Id', index: 'Id', hidden: true, sortable: false, editable: false,
                    editoptions: {
                        dataInit: function (element) { //mindenképpen kisül a beforeSelectRow előtt az inline edit, ez viszont szerencsére megelőzi,
                            $(this).jqGrid('getColProp', 'Public').formatoptions.disabled = false;
                        }
                    }
                },
                {
                    name: 'Name', index: 'Name', width: 200, align: "left",
                    editable: true, sortable: true,
                    cellattr: function (rowId, tv, rawObject, cm, rdata) { return 'style="white-space: normal;"' },
                    //formatter: function (v) { return '<div style="max-height: 100px">' + v + '</div>'; }
                },
                { name: 'Value', index: 'Value', width: 100, align: "right", editable: true, sortable: true },
                {
                    name: 'Description', index: 'Description', width: 400, align: "left",
                    editable: true, sortable: true,//edittype: 'textarea', 
                    cellattr: function (rowId, tv, rawObject, cm, rdata) { return 'style="white-space: normal;"' },
                    //formatter: function (v) { return '<div style="max-height: 100px">' + v + '</div>'; }
                },
                {
                    name: 'Public', index: 'Public', width: 50, align: "center",
                    editable: true, edittype: 'checkbox', editoptions: { value: "True:False" },
                    searchoptions: { sopt: ['eq'], value: '"":All;True:True;False:False' }, stype: 'select',
                    formatter: "checkbox", formatoptions: { disabled: true }, sortable: true
                }
            ],
            rowNum: 10,
            rowList: [10, 20, 30],
            toppager: true,
            pager: '#setupspager',
            sortname: 'Name',
            viewrecords: true,
            sortorder: "asc",
            caption: 'System parameters',
            rownumbers: true,
            gridview: true,
            hoverrows: true,
            scrollrows: false,
            shrinkToFit: false,
            height: '100%',
            autowidth: true,
            onSelectRow: function (rowid, e) {
                $("#rowidSetup").val(rowid);
                $("#delsetup").show().css({ visibility: "visible" });
            },
            loadComplete: function () {
                $("#delsetup").hide().css({ visibility: "hidden" });
            }
        });

        jQuery("#setups").jqGrid('navGrid', '#setupspager'
            , { edit: false, add: false, del: false, refresh: true, cloneToTop: true }
            , {} //prmEdit
            , { width: 500, recreateForm: true, closeAfterAdd: true } //prmAdd
            , {} //prmDel
            , {
                width: 600,
                multiplesearch: true,
                recreatefilter: true,
                closeonescape: true,
                closeaftersearch: true,
                overlay: 0,
                afterredraw: function () {
                    $('input.add-rule', this)//.button().val('add new rule')
                        .attr('title', 'add new search rule');
                    $('input.delete-rule', this)//.button().val('delete rule')
                        .attr('title', 'delete rule');
                }
            } //prmsearch
            , {} //prmview
        ).jqGrid('filterToolbar', { stringResult: true, searchOnEnter: true, defaultSearch: "cn" });

        jQuery("#setups").bind("jqGridInlineSuccessSaveRow",
            function (e, jqXHR, rowid, options) {
                var str = JSON.parse(jqXHR.responseText);
                if (!str.success) {
                    if (str.error) {
                        $('#errortext').text(str.response);
                        $('#errormodal').modal({ show: true });
                    }
                    else {
                        $('#warningtext').text(str.response);
                        $('#warningmodal').modal({ show: true });
                    }
                }
                return [true, jqXHR.responseText];
            }
        );

        $('#deletebuttonsetup').click(function () {
            $.ajax({
                url: '@Url.Action("DeleteSetup", "Admin")?id=' + $("#rowidSetup").val(),
                type: 'POST',
                beforeSend: function (jqXHR, textStatus) { jQuery('#setups').block({ message: '<h3>Wait…</h3>' }); },
                complete: function (jqXHR, textStatus) {
                    var str = JSON.parse(jqXHR.responseText);
                    if (!str.success) {
                        if (str.error) {
                            $('#errortext').text(str.response);
                            $('#errormodal').modal({ show: true });
                        }
                        else {
                            $('#warningtext').text(str.response);
                            $('#warningmodal').modal({ show: true });
                        }
                    }
                    jQuery('#setups').unblock();
                    $("#setups").trigger("reloadGrid", [{ current: true }]);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('#errortext').text(jqXHR.responseText);
                    $('#errormodal').modal({ show: true });
                }
            });
        });

        $('#createbuttonsetup').click(function () {
            $.ajax({
                @*url: '@Url.Action("CreateSetup", "Admin")?Name=' + $('#Name').val()
                        + '&Value=' + $('#Value').val()
                        + '&Description=' + $('#Description').val(),*@
                url: '@Url.Action("CreateSetup", "Admin")',
                data: {
                    Name: $('#Name').val(),
                    Value: $('#Value').val(),
                    Description: $('#Description').val()
                },
                type: 'POST',
                beforeSend: function (jqXHR, textStatus) { jQuery('#setups').block({ message: '<h3>Wait…</h3>' }); },
                complete: function (jqXHR, textStatus) {
                    var str = JSON.parse(jqXHR.responseText);
                    if (!str.success) {
                        $('#messagesetup').text(str.response)
                        $('#customvalidationsetup').show().css({ visibility: "visible" });
                    }
                    else {
                        $("#customvalidationsetup").hide().css({ visibility: "hidden" });
                        $('#createmodalsetup').modal('hide');
                    }
                    jQuery('#setups').unblock();
                    $("#setups").trigger("reloadGrid", [{ current: true }]);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('#errortext').text(jqXHR.responseText);
                    $('#errormodal').modal({ show: true });
                }
            });
        });

        $("#createmodalsetup").on("hide.bs.modal", function () {
            $("#customvalidationsetup").hide().css({ visibility: "hidden" });
            $('#Name').val('');
            $('#Value').val('');
            $('#Description').val('');
        });

    </script>
}
