@using Microsoft.AspNet.Identity
@model Tax.Portal.Models.ManageUserViewModel

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Change password</h4>
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-sm-3 col-xs-12 control-label" })
        <div class="col-sm-4 col-xs-12">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Old password" })
        </div>
    </div>
    <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-sm-3 col-xs-12 control-label" })
        <div class="col-sm-4 col-xs-12">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "New password" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-3 col-xs-12 control-label" })
        <div class="col-sm-4 col-xs-12">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "New password again" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-2 col-xs-12 pull-right">
            <input type="submit" value="Change password" class="btn btn-warning" />
        </div>
    </div>
}
