@model Tax.Portal.Models.NewViewModel

<div class="form-group">
    <div class="input-group col-sm-12 col-xs-12">
        <img src="@Url.Action("DownloadImage", "New")?id=@Model.Headline_pictureId" class="img-responsive" alt="Headline" style="border: none;" />'                    
    </div>
    <div class="input-group col-sm-12 col-xs-12">
        @MvcHtmlString.Create(Model.Title1)
    </div>
    <div class="input-group col-sm-12 col-xs-12">
        @MvcHtmlString.Create(Model.PublishingDate.ToString())
    </div>
    <div class="input-group col-sm-12 col-xs-12">
        @MvcHtmlString.Create(Model.Title2)
    </div>
    <div class="input-group col-sm-12 col-xs-12">
        @MvcHtmlString.Create(Model.Subtitle)
    </div>
    <div class="input-group col-sm-12 col-xs-12">
        <img src="@Url.Action("DownloadImage", "New")?id=@Model.ThumbnailId" class="img-responsive" alt="Thumbnail" style="border: none;" />'
    </div>
    <div class="input-group col-sm-12 col-xs-12">
        @MvcHtmlString.Create(Model.Body_text)
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/jquery")
    @Scripts.Render("~/Scripts/bootstrap")
    <script type="text/javascript">
    </script>
}
