@using Tax.Data.Models;

<style type="text/css">
    .ui-jqgrid .ui-state-highlight {
        background: #cccccc;
    }
    /*nem tudom a web lapon customizálni*/
    .container .grid {
        border: 1px solid #ddd;
        padding-left: 0px;
        padding-top: 15px;
        padding-right: 0px;
        padding-bottom: 15px;
        margin-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
    }
</style>

<div class="modal fade bs-modal-sm" id="warningmodal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="color:orange">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">WARNING!</h4>
            </div>
            <div class="modal-body" style="color:orange">
                <p id="warningtext" style="text-align:center"></p>
            </div>
            <div class="modal-footer">
                <div class="text-center text-center">
                    <input type="button" class="btn btn-warning" data-dismiss="modal" value=" OK " />
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>

<div class="modal fade bs-modal-sm" id="errormodal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="color:red">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">ERROR!</h4>
            </div>
            <div class="modal-body" style="color:red">
                <p id="errortext" style="text-align:center"></p>
            </div>
            <div class="modal-footer">
                <div class="text-center text-center">
                    <input type="button" class="btn btn-danger" data-dismiss="modal" value=" OK " />
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>

<div class="row">
    <div class="container grid">
        <div class="col-md-12">
            <div class="col-sm-7 col-xs-12" style="min-width: 660px">
                <table id="news" class="display"><tr><td /></tr></table>
                <div id="newspager"></div>
            </div>
            <div class="col-sm-5 col-xs-12" style="min-width: 470px">
                
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/Scripts/jqgrid")

<script type="text/javascript">
        var getColumnIndexByName = function (gridname, columnName) {
            var grid = $("#" + gridname);
            var cm = grid.jqGrid('getGridParam', 'colModel');
            var retval = -1;
            $.each(cm, function () {
                if (this.name === columnName) {
                    retval = cm.indexOf(this);
                }
            });
            return retval;
        };

        initDateSearch = function (elem) {
            setTimeout(function () {
                $(elem).datepicker({
                    autoSize: true,
                    //showOn: 'button', // it dosn't work in searching dialog
                    changeYear: true,
                    changeMonth: true,
                    showButtonPanel: true,
                    showWeek: true,
                    onSelect: function () {
                        if (this.id.substr(0, 3) === "gs_") {
                            setTimeout(function () {
                                $("#news")[0].triggerToolbar();
                            }, 50);
                        } else {
                            // to refresh the filter
                            $(this).trigger('change');
                        }
                    }
                });
            }, 100);
        };

        numberSearchOptions = ['eq', 'ne', 'lt', 'le', 'gt', 'ge'];// 'nu', 'nn', 'in', 'ni'],

        numberTemplate = {
            formatter: 'integer', align: 'right', sorttype: 'number',
            searchoptions: { searchhidden: true, sopt: numberSearchOptions }
        };

        myDefaultSearch = 'cn';

        var ids = [];

        function datetimecheck(value, colname) {
            if (value.length != 10)
                return [false, "Nem megfelelő a dátum hossza (YYYY.mm.DD)!"];
            var dateParts = value.split(".");
            var dat = new Date(dateParts[0], dateParts[1] - 1, dateParts[2]);
            if (dat.getDate() != parseInt(dateParts[2]) || dat.getMonth() != parseInt(dateParts[1] - 1) || dat.getFullYear() != dateParts[0])
                return [false, "Nem megfelelő dátum (YYYY.mm.DD)!"];
            var min = new Date("1753.01.01");
            var max = new Date("9999.12.31");
            if (dat < min || dat > max)
                return [false, "Csak 1753.01.01 és 9999.12.31 közti érték adható!"];
            return [true, ""];
        }

        function fileFormat(cellvalue, options, rowObject) {
            @*return '<a href="@Url.Action("DownloadImage", "New")?fileId=' + rowObject[getColumnIndexByName('files', 'FileId') - 1]
                    + '" download="' + rowObject[getColumnIndexByName('files', 'Name') - 1]
                    + '" title="' + rowObject[getColumnIndexByName('files', 'Name') - 1]
                    + '"><img src="@Url.Action("DownloadImage", "New")?fileId=' + rowObject[getColumnIndexByName('files', 'FileId') - 1]
                            + '" class="img-responsive img-thumbnail" alt="' + rowObject[getColumnIndexByName('files', 'Name') - 1]
                            + '" id="' + rowObject[getColumnIndexByName('files', 'FileId') - 1]
                    + '"/></a>';*@
            return '';
        }

        jQuery("#news").jqGrid({
            url: '@Url.Action("ListNews", "New")',
            datatype: "json",
            loadError: function (jqXHR, textStatus, errorThrown) {
                $('#errortext').text(jqXHR.responseText);
                $('#errormodal').modal({ show: true });
            },
            colNames: [
                'id'
                , 'Status'
                , 'Title1'
                , 'Title2'
                , 'Tags'
                , 'Published'
                , 'Thumbnail'
            ],  
            colModel: [
                { name: 'Id', index: 'Id', hidden: true }, //nem látszik, nem kereshető, nem vihető fel
                { 
                    name: 'Status', index: 'Status', width: 80, align: "left", hidden: false, sortable: true, 
                    search: true, stype: 'select',
                    searchoptions: {
                        searchhidden: true,
                        sopt: ['eq', 'ne'],
                        dataUrl: '@Url.Action("ListNewsStatus", "New")?isSearch=' + true,
                        buildSelect: function (result) { return result; }
                    },
                    editable: false
                },
                { name: 'Title1', index: 'Title1', width: 150, align: "left", hidden: false, sortable: true, search: true, editable: false },
                { name: 'Title2', index: 'Title2', width: 150, align: "left", hidden: false, sortable: true, search: true, editable: false },
                { name: 'Tags', index: 'Tags', width: 150, align: "left", hidden: false, sortable: true, search: true, editable: false },
                {
                    name: 'PublishingDate', index: 'PublishingDate', width: 90, align: "center",
                    hidden: false,
                    formatter: 'date', formatoptions: { srcformat: 'Y-m-d', newformat: 'Y.m.d' },
                    search: true, searchoptions: { searchhidden: true, sopt: ['eq', 'ne', 'lt', 'le', 'gt', 'ge'], dataInit: initDateSearch }, searchrules: { custom: true, custom_func: datetimecheck }
                },
                { name: 'Thumbnail', index: 'Thumbnail', hidden: false, sortable: false, search: false, editable: false, formatter: fileFormat }
            ],
            rowNum: 20,
            rowList: [20, 40, 60],
            toppager: true,
            pager: '#newspager',
            sortname: 'Status,PublishingDate',
            viewrecords: true,
            sortorder: "desc",
            caption: 'News',
            rownumbers: true,
            gridview: true,
            hoverrows: true,
            scrollrows: true,
            shrinkToFit: false,
            height: '100%',
            width: '800',
            @*beforeSelectRow: function (rowid, e) {
                document.location.href = '@Url.Action("Edit", "Sinosz")?UserID=' + rowid
            },*@
            loadComplete: function () {
            }
        });

        jQuery("#news").jqGrid('navGrid', '#newspager'
            , { edit: true, add: true, del: true, refresh: true, cloneToTop: true }
            , {} //prmEdit
            , { width: 600, recreateForm: true, closeAfterAdd: true } //prmAdd
            , {} //prmDel
            , {
                width: 600,
                multipleSearch: true,
                recreateFilter: true,
                //closeOnEscape: true,
                closeAfterSearch: true,
                overlay: 0,
                afterRedraw: function () {
                    $('input.add-rule', this)//.button().val('Add new rule')
                        .attr('title', 'Add new search rule');
                    $('input.delete-rule', this)//.button().val('Delete rule')
                        .attr('title', 'Delete rule');
                }
            } //prmSearch
            , {} //prmView
        ).jqGrid('filterToolbar', { stringResult: true, searchOnEnter: true, defaultSearch: "cn" });

        @*$('#btnSuserInactivator').click(function () {
            var postdata = $("#sinoszusers").getGridParam("postData");
            $.ajax({
                url: '@Url.Action("ListSinoszUsers", "Sinosz")?'
                        + '_search=' + $("#sinoszusers").getGridParam("search")
                        + '&page=' + postdata.page
                        + '&rows=' + $("#sinoszusers").getGridParam("reccount")
                        + '&sidx=' + $("#sinoszusers").getGridParam("sortname")
                        + '&sord=' + $("#sinoszusers").getGridParam("sortorder")
                        + '&filters=' + postdata.filters
                        + '&isInactivator=True',
                type: 'POST',
                beforeSend: function (jqXHR, textStatus) { jQuery('#grid_id').block({ message: '<h3>Betöltés…</h3>' }); },
                complete: function (jqXHR, textStatus) {
                    jQuery('#grid_id').unblock();
                    $("#sinoszusers").trigger("reloadGrid", [{ current: true }]);
                },
                loadError: function (xhr, status, error) { alert(status + " " + error); }
            });
        });*@
    </script>

}