@using Tax.Data.Models;

<div class="modal fade bs-modal-sm" id="warningmodal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="color: orange; font-family: 'FrutigerNextPro-Bold'">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">WARNING!</h3>
            </div>
            <div class="modal-body" style="color:orange">
                <p id="warningtext" style="text-align:center"></p>
            </div>
            <div class="modal-footer">
                <div class="text-center text-center">
                    <input type="button" class="btn btn-warning" data-dismiss="modal" value=" OK " />
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>

<div class="modal fade bs-modal-sm" id="errormodal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="color: red; font-family: 'FrutigerNextPro-Bold'">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">ERROR!</h3>
            </div>
            <div class="modal-body" style="color:red">
                <p id="errortext" style="text-align:center"></p>
            </div>
            <div class="modal-footer">
                <div class="text-center text-center">
                    <input type="button" class="btn btn-danger" data-dismiss="modal" value=" OK " />
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>

<div class="modal fade bs-modal-sm" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="background: #00A1dE; color: #313131; font-family 'FrutigerNextPro-Bold'; ">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">ATTENTION!</h3>
            </div>
            <div class="modal-body">
                <p id="deletetext" style="text-align:center">Do you really want to delete this?</p>
            </div>
            <div class="modal-footer">
                <div class="text-center pull-left">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value=" CANCEL " />
                </div>
                <div class="text-center pull-right">
                    <input id="deletebutton" type="button" class="btn btn-default" data-dismiss="modal" value=" DELETE " />
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>

<div class="row">    
    <div class="container grid">
        <div class="col-sm-12">
            <div class=" col-sm-7 col-xs-12" style="width:790px; padding-left:0px">
                <div class="btn-group">
                    <a id="create" class="fa fa-plus fa-lg" style="padding-left:5px; padding-right:5px"></a>
                    <a id="edit" class="fa fa-pencil fa-lg" style="visibility:hidden; padding-right:5px"></a>
                    <a id="del" class="fa fa-trash-o fa-lg" style="visibility:hidden; padding-right:5px" data-toggle="modal" data-target="#deletemodal"></a>
                </div>
                <table id="news" class="display"><tr><td /></tr></table>
                <div id="newspager"></div>
            </div>
            <div id="flash" class="col-sm-5 col-xs-12" 
                 style="width: 350px; word-break: break-all; word-wrap: break-word; 
                            height: 620px; 
                            overflow-wrap: break-word; 
                            overflow-x:no-content;
                            overflow-y: auto;
                            background-color: white; 
                            margin-top: 18px;                             
                            padding-top: 15px; 
                            visibility: hidden; ">
                <div id="flash_thumb"></div>
            </div>
        </div>
    </div>
</div>

<input id="rowid" style="visibility: hidden" /> 

@section Scripts {
    @Scripts.Render("~/Scripts/jqgrid")

<script type="text/javascript">
    var getColumnIndexByName = function (gridname, columnName) {
        var grid = $("#" + gridname);
        var cm = grid.jqGrid('getGridParam', 'colModel');
        var retval = -1;
        $.each(cm, function () {
            if (this.name === columnName) {
                retval = cm.indexOf(this);
            }
        });
        return retval;
    };

    initDateSearch = function (elem) {
        setTimeout(function () {
            $(elem).datepicker({
                modal: true,
                autoSize: true,
                //showOn: 'button', // it dosn't work in searching dialog
                changeYear: true,
                changeMonth: true,
                showButtonPanel: true,
                showWeek: true,
                onSelect: function () {
                    if (this.id.substr(0, 3) === "gs_") {
                        setTimeout(function () {
                            $("#news")[0].triggerToolbar();
                        }, 50);
                    } else {
                        // to refresh the filter
                        $(this).trigger('change');
                    }
                }
            });
        }, 100);
    };

    numberSearchOptions = ['eq', 'ne', 'lt', 'le', 'gt', 'ge'];// 'nu', 'nn', 'in', 'ni'],

    numberTemplate = {
        formatter: 'integer', align: 'right', sorttype: 'number',
        searchoptions: { searchhidden: true, sopt: numberSearchOptions }
    };

    myDefaultSearch = 'cn';

    var ids = [];

    //function datetimecheck(value, colName) {
    //    alert(value);
    //    if (value.length != 10)
    //        return [false, "Date lenght error (mm/DD/YYYY)"];
    //    var dateParts = value.split("/");
    //    var dat = new Date(dateParts[2], dateParts[0] - 1, dateParts[1]);
    //    if (dat.getDate() != parseInt(dateParts[1]) || dat.getMonth() != parseInt(dateParts[0] - 1) || dat.getFullYear() != dateParts[2])
    //        return [false, "Date format error (mm/DD/YYYY)"];
    //    var min = new Date("1753.01.01");
    //    var max = new Date("9999.12.31");
    //    if (dat < min || dat > max)
    //        return [false, "Only 01/01/1753 - 12/31/9999"];
    //    return [true, ""];
    //}

    function fileFormat(cellvalue, options, rowObject) {
        //alert(rowObject[getColumnIndexByName('news', 'Thumbnail')]);
        return '<div style="max-height: 80px"><img src="@Url.Action("DownloadImage", "New")?id=' + cellvalue
                + '" class="img-responsive" alt="'
                + '" id="' + rowObject[getColumnIndexByName('news', 'Thumbnail') - 1]
                + '"/></div>';
    }

    jQuery("#news").jqGrid({
        url: '@Url.Action("ListNews", "New")',
        datatype: "json",
        ajaxSelectOptions: { type: "GET" }, //ezzel megy a lenyíló az advanced search-ben
        loadError: function (jqXHR, textStatus, errorThrown) {
            $('#errortext').text(jqXHR.responseText);
            $('#errormodal').modal({ show: true });
        },
        colNames: [
            'id'
            , 'Status'
            , 'Title1'
            , 'Title2'
            , 'Tags'
            , 'Published'
            , 'Thumbnail'
        ],
        colModel: [
            { name: 'Id', index: 'Id', hidden: true }, //nem látszik, nem kereshető, nem vihető fel
            {
                name: 'Status', index: 'Status', width: 80, align: "left", hidden: false, sortable: true,
                search: true, stype: 'select',
                searchoptions: {
                    searchhidden: true,
                    sopt: ['eq', 'ne'],
                    dataUrl: '@Url.Action("ListNewsStatus", "New")?isSearch=' + true,
                    buildSelect: function (result) { return result; }
                },
                editable: false
            },
            {
                name: 'Title1', index: 'Title1', width: 170, align: "left", hidden: false,
                sortable: true, search: true, editable: false,
                cellattr: function (rowId, tv, rawObject, cm, rdata) { return 'style="white-space: normal;"' },
                formatter: function (v) { return '<div style="max-height: 100px">' + v + '</div>'; }
            },
            {
                name: 'Title2', index: 'Title2', width: 170, align: "left", hidden: false,
                sortable: true, search: true, editable: false,
                cellattr: function (rowId, tv, rawObject, cm, rdata) { return 'style="white-space: normal;"' },
                formatter: function (v) { return '<div style="max-height: 100px">' + v + '</div>'; }
            },
            {
                name: 'Tags', index: 'Tags', width: 185, align: "left", hidden: false,
                sortable: true, search: true, editable: false,
                cellattr: function (rowId, tv, rawObject, cm, rdata) { return 'style="white-space: normal;"' },
                formatter: function (v) { return '<div style="max-height: 100px">' + v + '</div>'; }
            },
            {
                name: 'PublishingDate', index: 'PublishingDate', width: 90, align: "center",
                hidden: false,
                formatter: 'date', formatoptions: { srcformat: $('#griddateformat').val(), newformat: $('#griddateformat').val() },
                search: true, searchoptions: { sopt: ['eq', 'ne', 'lt', 'le', 'gt', 'ge'], dataInit: initDateSearch }
                //searchrules: { custom: true, custom_func: function (value, colName) { alert(value); return datetimecheck(value, colName); } }
            },
            {
                name: 'Thumbnail', index: 'Thumbnail', width: 80, align: "center", hidden: false,
                sortable: false, search: false, editable: false, formatter: fileFormat
            }
        ],
        rowNum: 10,
        rowList: [10, 20, 30],
        toppager: true,
        pager: '#newspager',
        sortname: 'PublishingDate',
        viewrecords: true,
        sortorder: "desc",
        caption: 'News',
        rownumbers: false,
        gridview: true,
        hoverrows: true,
        scrollrows: true,
        shrinkToFit: false,
        height: '100%',
        //width: '800',
        autowidth: true,
        onSelectRow: function (rowid) {
            $("#rowid").val(rowid);
            switch ($(this).getCell(rowid, 'Status'))
            {
                case 'Published':
                case 'Kiadva':
                    $("#Publish").hide().css({ visibility: "hidden" });
                    $("#CallBack").show().css({ visibility: "visible" });
                    $("#edit").hide().css({ visibility: "hidden" });
                    $("#del").hide().css({ visibility: "hidden" });
                    break;
                case 'Under editing':
                case 'Szerkesztés alatt':
                    $("#Publish").show().css({ visibility: "visible" });
                    $("#CallBack").hide().css({ visibility: "hidden" });
                    $("#edit").show().css({ visibility: "visible" });
                    $("#del").show().css({ visibility: "visible" });
                    break;
                case 'Unpublished':
                case 'Visszavonva':
                    $("#Publish").show().css({ visibility: "visible" });
                    $("#CallBack").hide().css({ visibility: "hidden" });
                    $("#edit").hide().css({ visibility: "hidden" });
                    $("#del").hide().css({ visibility: "hidden" });
                    break;
                default:
                    break;
            }
            $.ajax({
                url: '@Url.Action("FlashNew", "New")?id=' + rowid,
                type: 'GET',
                success: function (data) {
                    $("#flash_thumb").html(data);
                    $("#flash").show().css({ visibility: "visible" });
                    $('#flash table').removeAttr("width").removeAttr("height").css({ width: "100%", height: "" });
                    $('#flash img').removeAttr("width").removeAttr("height").css({ width: "", height: "" });
                    $('#flash img').each(function () {                        
                        if ($(this).attr("class") != "img-responsive col-sm-12")
                        {
                            $(this).addClass("img-responsive col-sm-12");
                            $(this).css({ padding: "0px" });
                        }
                    })
                },
                onerror: function (jqXHR, textStatus, errorThrown) {
                    $('#errortext').text(jqXHR.responseText);
                    $('#errormodal').modal({ show: true });
                }
            });
        },
        loadComplete: function () {
            $("#Publish").hide().css({ visibility: "hidden" });
            $("#CallBack").hide().css({ visibility: "hidden" });
            $("#edit").hide().css({ visibility: "hidden" });
            $("#del").hide().css({ visibility: "hidden" });
            $("#flash").hide().css({ visibility: "hidden" });
        }
    });

    jQuery("#news").jqGrid('navGrid', '#newspager'
        , { edit: false, add: false, del: false, refresh: true, cloneToTop: true }
        , {} //prmedit
        , {} //prmadd
        , {} //prmdel
        , {
            width: 600,
            multiplesearch: true,
            recreatefilter: true,
            closeonescape: true,
            closeaftersearch: true,
            overlay: 0,
            afterredraw: function () {
                $('input.add-rule', this)//.button().val('add new rule')
                    .attr('title', 'add new search rule');
                $('input.delete-rule', this)//.button().val('delete rule')
                    .attr('title', 'delete rule');
            }
        } //prmsearch
        , {} //prmview
    )
    .jqGrid('filterToolbar', { stringResult: true, searchOnEnter: true, defaultSearch: "cn" })

    $('#Publish').click(function () {
        $.ajax({
            url: '@Url.Action("UpdateNewStatus", "New")?id=' + $("#rowid").val() + '&to=Published',
            type: 'POST',
            beforeSend: function (jqXHR, textStatus) { jQuery('#news').block({ message: '<h3>Wait…</h3>' }); },
            complete: function (jqXHR, textStatus) {
                var str = JSON.parse(jqXHR.responseText);
                if (!str.success) {
                    if (str.error) {
                        $('#errortext').text(str.response);
                        $('#errormodal').modal({ show: true });
                    }
                    else {
                        $('#warningtext').text(str.response);
                        $('#warningmodal').modal({ show: true });
                    }
                }
                jQuery('#news').unblock();
                $("#news").trigger("reloadGrid", [{ current: true }]);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#errortext').text(jqXHR.responseText);
                $('#errormodal').modal({ show: true });
            }
        });
    });
    $('#CallBack').click(function () {
        $.ajax({
            url: '@Url.Action("UpdateNewStatus", "New")?id=' + $("#rowid").val() + '&to=Unpublished',
            type: 'POST',
            beforeSend: function (jqXHR, textStatus) { jQuery('#news').block({ message: '<h3>Wait…</h3>' }); },
            complete: function (jqXHR, textStatus) {
                var str = JSON.parse(jqXHR.responseText);
                if (!str.success) {
                    if (str.error) {
                        $('#errortext').text(str.response);
                        $('#errormodal').modal({ show: true });
                    }
                    else {
                        $('#warningtext').text(str.response);
                        $('#warningmodal').modal({ show: true });
                    }
                }
                jQuery('#news').unblock();
                $("#news").trigger("reloadGrid", [{ current: true }]);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#errortext').text(jqXHR.responseText);
                $('#errormodal').modal({ show: true });
            }
        });
    });
    $('#deletebutton').click(function () {
        $.ajax({
            url: '@Url.Action("DeleteNew", "New")?id=' + $("#rowid").val(),
            type: 'POST',
            beforeSend: function (jqXHR, textStatus) { jQuery('#news').block({ message: '<h3>Wait…</h3>' }); },
            complete: function (jqXHR, textStatus) {
                var str = JSON.parse(jqXHR.responseText);
                if (!str.success) {
                    if (str.error) {
                        $('#errortext').text(str.response);
                        $('#errormodal').modal({ show: true });
                    }
                    else {
                        $('#warningtext').text(str.response);
                        $('#warningmodal').modal({ show: true });
                    }
                }
                jQuery('#news').unblock();
                $("#news").trigger("reloadGrid", [{ current: true }]);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#errortext').text(jqXHR.responseText);
                $('#errormodal').modal({ show: true });
            }
        });
    });

    $('#create').click(function () {
        document.location.href = '@Url.Action("Create", "New")';
    });

    $('#edit').click(function () {
        document.location.href = '@Url.Action("Edit", "New")?id=' + $("#rowid").val();
    });

    </script>

}