@model Tax.Portal.Models.EventViewModel

<div class="form-group">
    <div class="input-group col-sm-12 col-xs-12" style="font-size: 16px; color: #002776;">
        @MvcHtmlString.Create(Model.Title1)
    </div>
    <div class="input-group col-sm-12 col-xs-12">
        @MvcHtmlString.Create(null == Model.PublishingDate ? Model.PublishingDate.ToString() : Model.PublishingDate.Value.ToShortDateString())
    </div>
    <div class="input-group col-sm-12 col-xs-12">
        @MvcHtmlString.Create(null == Model.Date ? Model.Date.ToString() : Model.Date.Value.ToShortDateString())
    </div>
    <div class="input-group col-sm-12 col-xs-12" style="font-size: 14px; color: #81BC00;">
        @MvcHtmlString.Create(Model.Title2)
    </div>
    <div class="input-group col-sm-12 col-xs-12 text-left" style="font-size: 12px; color: black;">
        @MvcHtmlString.Create(Model.Body_text)
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/jquery")
    @Scripts.Render("~/Scripts/bootstrap")
    <script type="text/javascript">
    </script>
}
