@using Microsoft.AspNet.Identity
@model Tax.Portal.Models.ManageUserViewModel

<p>Jelenleg <strong>@User.Identity.GetUserName()</strong> névvel használja a rendszert.</p>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Jelszó módosítása</h4>
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-sm-3 col-xs-12 control-label" })
        <div class="col-sm-4 col-xs-12">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Régi jelszó" })
        </div>
    </div>
    <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-sm-3 col-xs-12 control-label" })
        <div class="col-sm-4 col-xs-12">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Új jelszó" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-3 col-xs-12 control-label" })
        <div class="col-sm-4 col-xs-12">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Új jelszó ismét" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-2 col-xs-12 pull-right">
            <input type="submit" value="Jelszó módosítása" class="btn btn-warning" />
        </div>
    </div>
}
