@model Tax.Portal.Models.LoginViewModel
@using Tax.Data.Models

@{
    ViewBag.Title = "Login";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-sm-7 col-xs-12">
        <section id="loginForm">
            @using (Html.BeginForm(MVC.Account.ActionNames.Login, MVC.Account.Name, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "col-sm-5 col-xs-12 control-label" })
                    <div class="col-sm-7 col-xs-12">
                        <div class="input-group col-sm-12 col-xs-12">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Login name" })
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-sm-5 col-xs-12 control-label" })
                    <div class="col-sm-7 col-xs-12">
                        <div class="input-group col-sm-12 col-xs-12">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-5 col-sm-7 col-xs-12">
                        <div class="checkbox col-sm-12 col-xs-12 pull-right">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)!
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 col-xs-12 pull-right">
                        <input type="submit" value="Login" class="btn btn-warning" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/Scripts/jqueryval")
}