@model Tax.Portal.Models.ResetPasswordStartViewModel
@{
    ViewBag.Title = "Elfelejtett jelszó";
}
<style type="text/css">
    .checker.loading {
        background: transparent url('/content/images/ajaxloading.gif') no-repeat scroll right center content-box !important;
    }

    .fade {
        opacity: 0;
        -webkit-transition: opacity 0.15s linear;
        -moz-transition: opacity 0.15s linear;
        -o-transition: opacity 0.15s linear;
        transition: opacity 0.15s linear;
    }

        .fade.in {
            opacity: 1;
        }
</style>


<h2>@ViewBag.Title</h2>
<div class="container">
    <div class="row">
        @using (Html.BeginForm(MVC.Account.ResetPasswordStart(), FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            <h4>jelszó visszaállítása</h4>
            <hr />
            @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-sm-2 col-xs-12 control-label" })
        <div class="col-sm-4 col-xs-12">
            <div class="input-group col-sm-12 col-xs-12">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control checker", placeholder = "E-mail cím" })
                <span id="emailokicon" class="input-group-addon" style="visibility: hidden; color: green;"><i class="fa fa-check"></i></span>
            </div>
            <span class="help-block" id="emailerrorgroup" style="visibility: hidden;">
                <span class="label label-danger" id="emailerrortext"></span>
            </span>
        </div>
    </div>
            <div class="form-group">
                <div class="col-sm-4 col-xs-12 pull-right">
                    <input type="submit" class="btn btn-warning" value="Jelszóvisszaállítás" />
                </div>
            </div>

        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/jqueryval")
}

<script src="@Url.Content("~/Scripts/rx.js")"></script>
<script src="@Url.Content("~/Scripts/rx.binding.js")"></script>
<script src="@Url.Content("~/Scripts/rx.time.js")"></script>
<script src="@Url.Content("~/Scripts/rx.dom.js")"></script>

<script type="text/javascript">
    (function (global, undefined) {

        @*Ha van ilyen mező, akkor gyártunk belőle kifejezést*@
        function ftoexp(field,prefix) { return (null === field) ? null : prefix + field + "=" + $("#" + field).val(); };

        @*Legfeljebb két mezőt küldünk az érvényesítéshez*@
        function search2(term, field1, field2) {
            $("#" + field1).addClass("loading");
            var cleanTerm = global.encodeURIComponent(term);
            var url = "@Url.Action(MVC.Account.viResetPasswordStart())" + ftoexp(field1,"?") + ftoexp(field2,"&") + "&field=" + field1 + "&callback=JSONPCallback";
            return Rx.DOM.Request.jsonpRequestCold(url);
        };

        function checkthis(field, field2) {
            var input = document.querySelector("#" + field);

            var keyup = Rx.DOM.fromEvent(input, "keyup")
                .map(function (e) {
                    return e.target.value;
                })
                .filter(function (text) {
                    return text.length > 0 || text.length == 0;
                })
                .throttle(500)
                .distinctUntilChanged();

            var searcher = keyup
                .map(function (text) {
                    return result = search2(text, field, field2);
                })
                .switchLatest();

            var subscript = searcher.subscribe(
                function (data) {
                    field0 = field.toLowerCase();
                    if (data[0].valid == "True") {
                        $("#" + field0 + "errortext").html("");
                        $("#" + field0 + "errorgroup").show().css({ visibility: "hidden" });
                        $("#" + field0 + "okicon").show().css({ visibility: "visible" });
                    } else {
                        $("#" + field0 + "errortext").html(data[0].message);
                        $("#" + field0 + "errorgroup").show().css({ visibility: "visible" });
                        $("#" + field0 + "okicon").show().css({ visibility: "hidden" });
                    }
                    $("#" + field).removeClass("loading");
                },
                function (error) {
                    $("#" + field).removeClass("loading");
                }
            );
        };

        function main() {
            checkthis("Email");
        };

        main();

    }(window));
</script>