
@{
    ViewBag.Title = "Napló";
}

<style type="text/css">
    .ui-jqgrid .ui-state-highlight {
        background: #cccccc;
    }
    /*nem tudom a web lapon customizálni*/
    .container .grid {
        border: 1px solid #ddd;
        padding-left: 0px;
        padding-top: 15px;
        padding-right: 0px;
        padding-bottom: 15px;
        margin-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
    }
    .myAltRowClass {
        background-color: #DDDDDC;
        background-image: none;
    }
</style>

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="container grid">
        <div class="col-md-12">
            <div>
                <table id="RecordChanges" class="display"><tr><td /></tr></table>
                <div id="RecordChangesPager"></div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/Scripts/jqgrid")

    <script type="text/javascript">
    (function (global, undefined) {

        var getColumnIndexByName = function (gridname, columnName) {
            var grid = $("#" + gridname);
            var cm = grid.jqGrid('getGridParam', 'colModel');
            var retval = -1;
            $.each(cm, function () {
                if (this.name === columnName) {
                    retval = cm.indexOf(this);
                }
            });
            return retval;
        };

        jQuery("#RecordChanges").jqGrid({
            url: '@Url.Action(@MVC.Log.ActionNames.ListRecordChanges)',
            datatype: "json",
            colNames: [
                 'Id',
                 'Időpont',
                 'Felhasználó',
                 'Tábla',
                 'Módosítás típusa'
            ],
            colModel: [
                { name: 'Id', index: 'Id', hidden: true, sortable: false, editable: false },
                { name: 'Date', index: 'Date', width: 130, align: "left", editable: false, sortable: true, searchoptions: { sopt:['eq'] } },
                {
                    name: 'User.UserName', index: 'User.UserName', width: 200, align: "left", editable: false, sortable: true
                    @*name: 'UserId', index: 'UserId', width: 200, align: "left", editable: false, sortable: true
                    ,search: true, stype: 'select', searchoptions: { dataUrl: '@Url.Action("SelectListUsers")', sopt:['eq'] },*@
                },
                {
                    //name: 'DbTable.Name', index: 'DbTable.Name', width: 200, align: "left", editable: false, sortable: true, search: true, sopt: ['cn']
                    name: 'DbTableId', index: 'DbTableId', width: 200, align: "left", editable: false, sortable: true
                    ,search: true, stype: 'select', searchoptions: { dataUrl: '@Url.Action("SelectListDbTables")', sopt: ['eq'] },
                },
                {
                    name: 'ChangeType', index: 'ChangeType', width: 100, align: "right", editable: false, sortable: true
                    ,search: true, stype: 'select', searchoptions: { dataUrl: '@Url.Action("SelectListChangeTypes")', sopt: ['eq'] },
                }
            ],
            rowNum: 10,
            rowList: [10, 20, 30],
            toppager: true,
            pager: '#RecordChangesPager',
            sortname: 'Date',
            viewrecords: true,
            sortorder: "desc",
            caption: 'Adatmódosítási napló',
            rownumbers: true,
            gridview: true,
            hoverrows: true,
            scrollrows: false,
            shrinkToFit: false,
            height: '100%',
            width: '800',
            subGrid: true,
            subGridOptions: {
                "plusicon": "ui-icon-triangle-1-e",
                "minusicon": "ui-icon-triangle-1-s",
                "openicon": "ui-icon-arrowreturn-1-e"
            },
            subGridRowExpanded: function (subgrid_id, row_id) {
                var subgrid_table_id, pager_id;
                subgrid_table_id = subgrid_id + "_t";
                pager_id = "p_" + subgrid_table_id;
                $("#" + subgrid_id).html("<table id='" + subgrid_table_id + "' class='scroll'></table><div id='" + pager_id + "' class='scroll'></div>");
                jQuery("#" + subgrid_table_id).jqGrid({
                    url: '@Url.Action("ListColumnChanges")',
                    postData: {
                        Id: function () { return row_id; }
                    },
                    datatype: "json",
                    colNames: [
                            'id',
                            'Mezőnév',
                            'Korábbi érték',
                            'Új érték',
                            'Változott'
                    ],
                    colModel: [
                        { name: 'Id', index: '', hidden: true, sortable: false, key: true },
                        { name: 'Name', index: 'Name', width: 100, align: "left", editable: false },
                        { name: 'OldValue', index: 'OldValue', width: 200, align: "left", editable: false },
                        { name: 'NewValue', index: 'NewValue', width: 200, align: "left", editable: false },
                        {
                            name: 'IsChanged', index: 'IsChanged', width: 50, align: "Right", editable: false,
                            searchoptions:{ sopt: ['eq'], value:'"":Mind;True:Változott;False:Változatlan' }, stype: 'select',
                            formatter: "checkbox", formatoptions: {disabled : true}, sortable:true 
                        }
                    ],
                    rowNum: 10,
                    loadComplete: function() {
                        var i = getColumnIndexByName(subgrid_table_id, 'IsChanged');
                        $("table#" + subgrid_table_id + " > tbody > tr.jqgrow > td:nth-child(" + (i + 1) + ") > input").each(function (e) {
                            if ($(this).is(':checked')) {
                                $(this).closest('tr').removeClass('ui-widget-content');
                                $(this).closest('tr').addClass('myAltRowClass');
                            }
                        });
                    },
                    sortname: 'Name',
                    sortorder: "asc",
                    height: '100%',
                    width: '600',
                    viewrecords: true,
                    rownumbers: true,
                    gridview: true,
                    hoverrows: true,
                    scrollrows: false,
                    shrinkToFit: false
                });
            }

        });

        jQuery("#RecordChanges").jqGrid('navGrid', '#RecordChangesPager'
            , { edit: false, add: true, del: false, refresh: true, cloneToTop: true }
            , {} //prmEdit
            , { width: 500, recreateForm: true, closeAfterAdd: true } //prmAdd
            , {} //prmDel
            , { width: 600 } //prmSearch
            , {} //prmView
        ).jqGrid('filterToolbar', { searchOnEnter: true, stringResult: true, defaultSearch: "cn" });

    }(window));
    </script>

}
