@using Tax.Data.Models
@using System.Configuration
<!DOCTYPE html>
<html>
<head>
    @Scripts.Render("~/Scripts/bootstrap")
    @RenderSection("scripts", required: false)
    <title>@ViewBag.Title - SINOSZ Kontakt</title>
</head>
<body>    
    <div class="col-lg-3 pull-right">
        <img src="@Url.Content("~/Content/images/Kontakt_logo.png")" class="img-responsive img-thumbnail" alt="" style="border: none;" />
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="input-group-addon row">
                <div class="col-lg-5 pull-left" style="margin-top: 15px;">
                    <p>&copy; @DateTime.Now.Year - SINOSZ Kontakt - @ViewContext.Controller.GetType().Assembly.GetName().Name: @ViewContext.Controller.GetType().Assembly.GetName().Version.ToString(), @ApplicationDbContext.version - @ConfigurationManager.AppSettings["Environment"]</p>
                </div>
                <div class="col-lg-1 pull-right">
                    <img src="@Url.Content("~/Content/images/footer_logo_egroup.png")" class="img-responsive img-thumbnail" alt="" style="border: none;" />
                </div>
                <div class="col-lg-1 pull-right">
                    <img src="@Url.Content("~/Content/images/footer_logo_invitel.png")" class="img-responsive img-thumbnail" alt="" style="border: none;" />
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
