@using Tax.Data.Models
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using Tax.MvcGlobalisationSupport;
@using Tax.Portal.Helpers;
@{
    var rootUrl = HtmlHelpers.AppRootUrl();
    var actUrl = Request.Url.PathAndQuery;
    var delockUrl = actUrl;
    if (Request.ApplicationPath != "/")
    {
        delockUrl = delockUrl.Replace(Request.ApplicationPath, "");//vd lecsap
    }
    delockUrl = delockUrl.Replace("/hu", "").Replace("/en", "");//loki lecsap
}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="@Url.Content("~/Content/images/favicon.ico")" type="image/x-icon" />
        <title>@ViewBag.Title - Tax & Leagal 4Me</title>
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        @Scripts.Render("~/Scripts/modernizr")
        <style type="text/css">            
            body {
                /*width: 1240px;*/
                height: 768px;
                padding-top: 50px;
                /*font-family: "~/fonts/FrutigerNextPro-Light.otf";*/
                /*font-family: "FrutigerNextPro-Light" !important;*/
                font-family: Arial;
                font-size: 12px;
                color: #313131;
            }
            footer {
                /*font-family: "FrutigerNextPro-Light" !important;*/
                font-family: Arial;
                font-size: 10px;
                color: #313131;
            }
            .ui-jqgrid {
                /*font-family: "FrutigerNextPro-Light" !important;*/
                font-family: Arial;
            }
            h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
                /*font-family: "FrutigerNextPro-Light" !important;*/
                font-family: Arial;
            }
        </style>
        @Html.Hidden("griddateformat", CultureManager.CultureDateFormGrid())
        @Html.Hidden("actUrl", actUrl)
    </head>
    <body>
        <div class="navbar navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")" style="padding:0px">
                        <img src="@Url.Content("~/Content/images/logo2.png")" class="img-responsive" alt="" style="height: 45px; padding: 12px 15px 12px 15px; border: none;" />
                    </a>
                </div>
                <div class="navbar-collapse collapse" style="margin-top: 5px">
                    @Html.Partial("_LoginPartial")
                    <ul class="nav navbar-nav navbar-right" id="menuGroup" style="margin-right: 10px;">
                        @if (Request.IsAuthenticated)
                        {
                            using (var db = new Tax.Data.Models.ApplicationDbContext())
                            {
                                string usrId = User.Identity.GetUserId();
                                bool isAdmin = Roles.IsUserInRole("SysAdmin");
                                foreach (var menu in db.Menu.OrderBy(x => x.Position).ToList())
                                {
                                    foreach (var menuitem in menu.SubMenu.OrderBy(x => x.Position).ToList())
                                    {
                                        if (@menuitem.Name != "Admin" || isAdmin)
                                        {
                                            <li class="@(delockUrl.Contains(string.Format("/{0}",menuitem.Controller)) ? "active" : "")">
                                                <a class="@(!menu.isActive ? "disabled" : "")"
                                                   @*style="font-family: 'FrutigerNextPro-Bold';*@
                                                   style="font-family: Arial;
                                                            font-size: 18px;
                                                            color: #00A1D1 !important; "
                                                   id="@menuitem.Id"
                                                   href="@Url.Action(menuitem.Action, menuitem.Controller)">
                                                    @menuitem.Name
                                                </a>
                                            </li>
                                        }
                                    }
                                }
                            }
                        }
                    </ul>
                </div>
            </div>
            <div class="container" style="height: 40px; padding-top:5px; padding-bottom:5px; background-color:#dcdcdc">
                <div class="row">
                    <div class="col-sm-4 col-xs-6">
                        <input id="Publish" type="button" class="btn btn-default" value="Publish" style="display:none" />
                        <input id="CallBack" type="button" class="btn btn-default" value="CallBack" style="display:none" />
                        <input id="Back" type="button" class="btn btn-default" value="Back" style="display:none" onclick="" />
                        <input id="Save" type="button" class="btn btn-default" value="Save" style="display:none" onclick="$('#main').submit()" />
                    </div>
                    <div class="col-xs-6 pull-right text-right" id="locGroup">
                        @if (!actUrl.Contains("/en ") && !actUrl.Contains("/en/"))
                        {
                            <input type="button" class="btn btn-default active"
                                   value="@CultureManager.CultureShortname(CultureManager.CultureNameHungarian)"
                                   onclick="location.href = '@string.Format("{0}{1}{2}", rootUrl, "/hu", delockUrl)'" />
                            <input type="button" class="btn btn-default"
                                   value="@CultureManager.CultureShortname(CultureManager.CultureNameEnglish)"
                                   onclick="location.href = '@string.Format("{0}{1}{2}", rootUrl, "/en", delockUrl)'" />
                        }
                        else
                        {
                            <input type="button" class="btn btn-default"
                                   value="@CultureManager.CultureShortname(CultureManager.CultureNameHungarian)"
                                   onclick="location.href = '@string.Format("{0}{1}{2}", rootUrl, "/hu", delockUrl)'" />
                            <input type="button" class="btn btn-default active"
                                    value="@CultureManager.CultureShortname(CultureManager.CultureNameEnglish)"
                                    onclick="location.href = '@string.Format("{0}{1}{2}", rootUrl, "/en", delockUrl)'" />
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="container body-content" style="background-color: #dcdcdc; min-height: 688px;">
            @RenderBody()
        </div>
        <div class="container body-content" style="background-color: white">
            <footer>
                <p>Deloitte Hungary - BackEnd application for Tax & Legal 4Me Mobile applications</p>
            </footer>
        </div>

        @* Áttértünk a 2.0-s jquery-re, viszont ezzel *@
        @* megmarad az ie 6-7-8 kompatibilitás *@
        @* http://stackoverflow.com/a/18782433/208922 *@
        @Scripts.Render("~/Scripts/jquery")
        <!--[if lte IE 8]>
        <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <![endif]-->
        @Scripts.Render("~/Scripts/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
