@using Tax.Data.Models
@using System.Configuration
<!DOCTYPE html>
<html>
<head>
    @Scripts.Render("~/Scripts/bootstrap")
    @RenderSection("scripts", required: false)
    <title></title>
    <style>
        font-face
	        {font-family:Wingdings;
	        panose-1:5 0 0 0 0 0 0 0 0 0;
	        mso-font-charset:2;
	        mso-generic-font-family:auto;
	        mso-font-pitch:variable;
	        mso-font-signature:0 268435456 0 0 -2147483648 0;}
        font-face
	        {font-family:Wingdings;
	        panose-1:5 0 0 0 0 0 0 0 0 0;
	        mso-font-charset:2;
	        mso-generic-font-family:auto;
	        mso-font-pitch:variable;
	        mso-font-signature:0 268435456 0 0 -2147483648 0;}
        font-face
	        {font-family:Cambria;
	        panose-1:2 4 5 3 5 4 6 3 2 4;
	        mso-font-charset:238;
	        mso-generic-font-family:roman;
	        mso-font-pitch:variable;
	        mso-font-signature:-536870145 1073743103 0 0 415 0;}
        font-face
	        {font-family:Calibri;
	        panose-1:2 15 5 2 2 2 4 3 2 4;
	        mso-font-charset:238;
	        mso-generic-font-family:swiss;
	        mso-font-pitch:variable;
	        mso-font-signature:-536870145 1073786111 1 0 415 0;}
        font-face
	        {font-family:Tahoma;
	        panose-1:2 11 6 4 3 5 4 4 2 4;
	        mso-font-charset:238;
	        mso-generic-font-family:swiss;
	        mso-font-pitch:variable;
	        mso-font-signature:-520081665 -1073717157 41 0 66047 0;}
        font-face
	        {font-family:Verdana;
	        panose-1:2 11 6 4 3 5 4 4 2 4;
	        mso-font-charset:238;
	        mso-generic-font-family:swiss;
	        mso-font-pitch:variable;
	        mso-font-signature:-1593833729 1073750107 16 0 415 0;}
        p.MsoNormal, li.MsoNormal, div.MsoNormal
	        {mso-style-unhide:no;
	        mso-style-qformat:yes;
	        mso-style-parent:"";
	        margin:0cm;
	        margin-bottom:.0001pt;
	        mso-pagination:widow-orphan;
	        font-size:14.0pt;
	        font-family:"Times New Roman","serif";
	        mso-fareast-font-family:"Times New Roman";}
        p.MsoCommentText, li.MsoCommentText, div.MsoCommentText
	        {mso-style-noshow:yes;
	        mso-style-priority:99;
	        mso-style-link:"Jegyzetszöveg Char";
	        margin:0cm;
	        margin-bottom:.0001pt;
	        mso-pagination:widow-orphan;
	        font-size:10.0pt;
	        font-family:"Times New Roman","serif";
	        mso-fareast-font-family:"Times New Roman";}
        p.MsoHeader, li.MsoHeader, div.MsoHeader
	        {mso-style-priority:99;
	        mso-style-unhide:no;
	        mso-style-link:"Élőfej Char";
	        margin:0cm;
	        margin-bottom:.0001pt;
	        mso-pagination:widow-orphan;
	        tab-stops:center 8.0cm right 16.0cm;
	        font-size:11.0pt;
	        font-family:"Times New Roman","serif";
	        mso-fareast-font-family:"Times New Roman";}
        p.MsoFooter, li.MsoFooter, div.MsoFooter
	        {mso-style-unhide:no;
	        mso-style-link:"Élőláb Char";
	        margin:0cm;
	        margin-bottom:.0001pt;
	        mso-pagination:widow-orphan;
	        tab-stops:center 8.0cm right 16.0cm;
	        font-size:15.0pt;
	        font-family:"Times New Roman","serif";
	        mso-fareast-font-family:"Times New Roman";}
        span.MsoCommentReference
	        {mso-style-noshow:yes;
	        mso-style-unhide:no;
	        mso-style-parent:"";
	        mso-ansi-font-size:8.0pt;
	        mso-bidi-font-size:8.0pt;
	        font-family:"Times New Roman","serif";
	        mso-bidi-font-family:"Times New Roman";}
        p.MsoTitle, li.MsoTitle, div.MsoTitle
	        {mso-style-unhide:no;
	        mso-style-qformat:yes;
	        mso-style-link:"Cím Char";
	        margin:0cm;
	        margin-bottom:.0001pt;
	        text-align:center;
	        mso-pagination:widow-orphan;
	        font-size:12.0pt;
	        font-family:"Times New Roman","serif";
	        mso-fareast-font-family:"Times New Roman";
	        letter-spacing:2.0pt;
	        mso-font-width:120%;
	        mso-fareast-language:EN-US;
	        font-weight:bold;}
        a:link, span.MsoHyperlink
	        {mso-style-unhide:no;
	        mso-style-parent:"";
	        color:blue;
	        text-decoration:underline;
	        text-underline:single;}
        a:visited, span.MsoHyperlinkFollowed
	        {mso-style-noshow:yes;
	        mso-style-priority:99;
	        color:purple;
	        mso-themecolor:followedhyperlink;
	        text-decoration:underline;
	        text-underline:single;}
        p.MsoCommentSubject, li.MsoCommentSubject, div.MsoCommentSubject
	        {mso-style-noshow:yes;
	        mso-style-priority:99;
	        mso-style-parent:Jegyzetszöveg;
	        mso-style-link:"Megjegyzés tárgya Char";
	        mso-style-next:Jegyzetszöveg;
	        margin:0cm;
	        margin-bottom:.0001pt;
	        mso-pagination:widow-orphan;
	        font-size:10.0pt;
	        font-family:"Times New Roman","serif";
	        mso-fareast-font-family:"Times New Roman";
	        font-weight:bold;}
        p.MsoAcetate, li.MsoAcetate, div.MsoAcetate
	        {mso-style-noshow:yes;
	        mso-style-priority:99;
	        mso-style-link:"Buborékszöveg Char";
	        margin:0cm;
	        margin-bottom:.0001pt;
	        mso-pagination:widow-orphan;
	        font-size:8.0pt;
	        font-family:"Tahoma","sans-serif";
	        mso-fareast-font-family:"Times New Roman";}
        span.CmChar
	        {mso-style-name:"Cím Char";
	        mso-style-unhide:no;
	        mso-style-locked:yes;
	        mso-style-parent:"";
	        mso-style-link:Cím;
	        mso-ansi-font-size:12.0pt;
	        mso-bidi-font-size:12.0pt;
	        font-family:"Times New Roman","serif";
	        mso-ascii-font-family:"Times New Roman";
	        mso-fareast-font-family:"Times New Roman";
	        mso-hansi-font-family:"Times New Roman";
	        letter-spacing:2.0pt;
	        mso-font-width:120%;
	        mso-fareast-language:EN-US;
	        font-weight:bold;}
        span.llbChar
	        {mso-style-name:"Élőláb Char";
	        mso-style-unhide:no;
	        mso-style-locked:yes;
	        mso-style-parent:"";
	        mso-style-link:Élőláb;
	        mso-ansi-font-size:11.0pt;
	        mso-bidi-font-size:11.0pt;
	        font-family:"Times New Roman","serif";
	        mso-ascii-font-family:"Times New Roman";
	        mso-fareast-font-family:"Times New Roman";
	        mso-hansi-font-family:"Times New Roman";}
        p.Norml1, li.Norml1, div.Norml1
	        {mso-style-name:Normál1;
	        mso-style-unhide:no;
	        mso-style-parent:"";
	        margin:0cm;
	        margin-bottom:.0001pt;
	        mso-pagination:widow-orphan;
	        mso-hyphenate:none;
	        font-size:12.0pt;
	        font-family:"Cambria","serif";
	        mso-fareast-font-family:"Times New Roman";
	        mso-bidi-font-family:"Times New Roman";
	        color:black;}
        span.lfejChar
	        {mso-style-name:"Élőfej Char";
	        mso-style-priority:99;
	        mso-style-unhide:no;
	        mso-style-locked:yes;
	        mso-style-parent:"";
	        mso-style-link:Élőfej;
	        mso-ansi-font-size:11.0pt;
	        mso-bidi-font-size:11.0pt;
	        font-family:"Times New Roman","serif";
	        mso-ascii-font-family:"Times New Roman";
	        mso-fareast-font-family:"Times New Roman";
	        mso-hansi-font-family:"Times New Roman";}
        span.JegyzetszvegChar
	        {mso-style-name:"Jegyzetszöveg Char";
	        mso-style-noshow:yes;
	        mso-style-priority:99;
	        mso-style-unhide:no;
	        mso-style-locked:yes;
	        mso-style-parent:"";
	        mso-style-link:Jegyzetszöveg;
	        font-family:"Times New Roman","serif";
	        mso-ascii-font-family:"Times New Roman";
	        mso-fareast-font-family:"Times New Roman";
	        mso-hansi-font-family:"Times New Roman";}
        span.MegjegyzstrgyaChar
	        {mso-style-name:"Megjegyzés tárgya Char";
	        mso-style-noshow:yes;
	        mso-style-priority:99;
	        mso-style-unhide:no;
	        mso-style-locked:yes;
	        mso-style-parent:"";
	        mso-style-link:"Megjegyzés tárgya";
	        font-family:"Times New Roman","serif";
	        mso-ascii-font-family:"Times New Roman";
	        mso-fareast-font-family:"Times New Roman";
	        mso-hansi-font-family:"Times New Roman";
	        font-weight:bold;}
        span.BuborkszvegChar
	        {mso-style-name:"Buborékszöveg Char";
	        mso-style-noshow:yes;
	        mso-style-priority:99;
	        mso-style-unhide:no;
	        mso-style-locked:yes;
	        mso-style-parent:"";
	        mso-style-link:Buborékszöveg;
	        mso-ansi-font-size:8.0pt;
	        mso-bidi-font-size:8.0pt;
	        font-family:"Tahoma","sans-serif";
	        mso-ascii-font-family:Tahoma;
	        mso-fareast-font-family:"Times New Roman";
	        mso-hansi-font-family:Tahoma;
	        mso-bidi-font-family:Tahoma;}
        .MsoChpDefault
	        {mso-style-type:export-only;
	        mso-default-props:yes;
	        mso-ascii-font-family:Calibri;
	        mso-fareast-font-family:Calibri;
	        mso-hansi-font-family:Calibri;}
        page
	        {mso-mirror-margins:yes;
	        mso-footnote-separator:url("Szolgáltatási%20szerződés%20természetes%20személy%20felhasználónak%20tervezet%20végleges_elemei/header.htm") fs;
	        mso-footnote-continuation-separator:url("Szolgáltatási%20szerződés%20természetes%20személy%20felhasználónak%20tervezet%20végleges_elemei/header.htm") fcs;
	        mso-endnote-separator:url("Szolgáltatási%20szerződés%20természetes%20személy%20felhasználónak%20tervezet%20végleges_elemei/header.htm") es;
	        mso-endnote-continuation-separator:url("Szolgáltatási%20szerződés%20természetes%20személy%20felhasználónak%20tervezet%20végleges_elemei/header.htm") ecs;}
        page WordSection1
	        {size:612.0pt 792.0pt;
	        margin:35.45pt 70.85pt 42.55pt 70.85pt;
	        mso-header-margin:.05pt;
	        mso-footer-margin:35.4pt;
	        mso-even-footer:url("Szolgáltatási%20szerződés%20természetes%20személy%20felhasználónak%20tervezet%20végleges_elemei/header.htm") ef1;
	        mso-paper-source:0;}
        list l0
	        {mso-list-id:-132;
	        mso-list-type:simple;
	        mso-list-template-ids:2025460292;}
        list l0:level1
	        {mso-level-tab-stop:74.6pt;
	        mso-level-number-position:left;
	        margin-left:74.6pt;
	        text-indent:-18.0pt;}
        list l1
	        {mso-list-id:-131;
	        mso-list-type:simple;
	        mso-list-template-ids:634928790;}
        list l1:level1
	        {mso-level-tab-stop:60.45pt;
	        mso-level-number-position:left;
	        margin-left:60.45pt;
	        text-indent:-18.0pt;}
        list l2
	        {mso-list-id:-130;
	        mso-list-type:simple;
	        mso-list-template-ids:-1969877120;}
        list l2:level1
	        {mso-level-tab-stop:46.3pt;
	        mso-level-number-position:left;
	        margin-left:46.3pt;
	        text-indent:-18.0pt;}
        list l3
	        {mso-list-id:-129;
	        mso-list-type:simple;
	        mso-list-template-ids:512816424;}
        list l3:level1
	        {mso-level-tab-stop:32.15pt;
	        mso-level-number-position:left;
	        margin-left:32.15pt;
	        text-indent:-18.0pt;}
        list l4
	        {mso-list-id:-128;
	        mso-list-type:simple;
	        mso-list-template-ids:-1259286842;}
        list l4:level1
	        {mso-level-number-format:bullet;
	        mso-level-text:\F0B7;
	        mso-level-tab-stop:74.6pt;
	        mso-level-number-position:left;
	        margin-left:74.6pt;
	        text-indent:-18.0pt;
	        font-family:Symbol;}
        list l5
	        {mso-list-id:-127;
	        mso-list-type:simple;
	        mso-list-template-ids:-319399246;}
        list l5:level1
	        {mso-level-number-format:bullet;
	        mso-level-text:\F0B7;
	        mso-level-tab-stop:60.45pt;
	        mso-level-number-position:left;
	        margin-left:60.45pt;
	        text-indent:-18.0pt;
	        font-family:Symbol;}
        list l6
	        {mso-list-id:-126;
	        mso-list-type:simple;
	        mso-list-template-ids:-1064779446;}
        list l6:level1
	        {mso-level-number-format:bullet;
	        mso-level-text:\F0B7;
	        mso-level-tab-stop:46.3pt;
	        mso-level-number-position:left;
	        margin-left:46.3pt;
	        text-indent:-18.0pt;
	        font-family:Symbol;}
        list l7
	        {mso-list-id:-125;
	        mso-list-type:simple;
	        mso-list-template-ids:-1646873668;}
        list l7:level1
	        {mso-level-number-format:bullet;
	        mso-level-text:\F0B7;
	        mso-level-tab-stop:32.15pt;
	        mso-level-number-position:left;
	        margin-left:32.15pt;
	        text-indent:-18.0pt;
	        font-family:Symbol;}
        list l8
	        {mso-list-id:-120;
	        mso-list-type:simple;
	        mso-list-template-ids:827344700;}
        list l8:level1
	        {mso-level-tab-stop:18.0pt;
	        mso-level-number-position:left;
	        margin-left:18.0pt;
	        text-indent:-18.0pt;}
        list l9
	        {mso-list-id:-119;
	        mso-list-type:simple;
	        mso-list-template-ids:-1422229072;}
        list l9:level1
	        {mso-level-number-format:bullet;
	        mso-level-text:\F0B7;
	        mso-level-tab-stop:18.0pt;
	        mso-level-number-position:left;
	        margin-left:18.0pt;
	        text-indent:-18.0pt;
	        font-family:Symbol;}
        list l10
	        {mso-list-id:1525439087;
	        mso-list-type:hybrid;
	        mso-list-template-ids:-777772470 -957308494 68026371 68026373 68026369 68026371 68026373 68026369 68026371 68026373;}
        list l10:level1
	        {mso-level-start-at:4;
	        mso-level-number-format:bullet;
	        mso-level-text:-;
	        mso-level-tab-stop:36.0pt;
	        mso-level-number-position:left;
	        text-indent:-18.0pt;
	        font-family:"Times New Roman","serif";
	        mso-fareast-font-family:"Times New Roman";}
        list l10:level2
	        {mso-level-number-format:bullet;
	        mso-level-text:o;
	        mso-level-tab-stop:72.0pt;
	        mso-level-number-position:left;
	        text-indent:-18.0pt;
	        font-family:"Courier New";}
        ol
	        {margin-bottom:0cm;}
        ul
	        {margin-bottom:0cm;}
    </style>

</head>
<body lang=HU link=blue vlink=purple style='tab-interval:35.4pt'>
    @*<div class="col-sm-3 pull-left">
            <img src="@Url.Content("~/Content/images/sinosz_logo_felirattal.png")" class="img-responsive img-thumbnail" alt="" style="border: none;" />
        </div>
        <div class="col-sm-3 pull-right">
            <img src="@Url.Content("~/Content/images/Kontakt_Tolmacsszolgalat_Logo.png")" class="img-responsive img-thumbnail" alt="" style="border: none;" />
        </div>*@
    <div class="container body-content">
        @RenderBody()
        <footer></footer>
    </div>
</body>
</html>
