@model Tax.Portal.Models.PrintViewModel

@{
    ViewBag.Title = "SINOSZ Tagok fizetései";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    <table>
        <tr class="name">
            @if (null != @Model.lstHeaders)
            {
                foreach (var head in @Model.lstHeaders)
                {
                    <td>
                        @MvcHtmlString.Create(head)
                    </td>
                }
            }
        </tr>
        @if (null != @Model.listRows)
        {
            foreach (var row in @Model.listRows)
            {
                <tr>
                    @foreach (var item in row.ToList())
                    {
                        <td>
                            @MvcHtmlString.Create(item)
                        </td>
                    }
                </tr>
            }
        }
    </table>

}   
