@model Tax.Portal.Models.PrintContractViewModel
@*
    @Model.SinoszUserName
    @Model.BirthName
    @Model.MothersName
    @Model.BirthDatas
    @Model.HomeAddress
    @Model.SinoszId
    @Model.Email
    @Model.Telephone
    @Model.DateNow
    @Model.SinoszUserName
*@
<p class=MsoHeader align=right style='text-align:right'>
    <span style='mso-ignore:vglayout;position:absolute;z-index:1;left:0px;margin-left:-44px;margin-top:27px;width:245px;height:70px'>
        <img width=245 height=70 src="@Url.Content("~/Content/images/sinosz_logo_felirattal.png")" v:shapes="Kép_x0020_23">
    </span>
    <span style='mso-tab-count:1'>                                                   </span>
    <b style='mso-bidi-font-weight:normal'>
        <span style='font-size:14.0pt;font-family:"Verdana","sans-serif"'>
            <img width=199 height=108 src="@Url.Content("~/Content/images/Kontakt_Tolmacsszolgalat_Logo.png")" /> @*v:shapes="_x0000_i1025">*@
        </span>
    </b>
</p>

<p class=MsoNormal align=center style='text-align:center'>
    <b style='mso-bidi-font-weight:
normal'>
        <span style='font-size:15.0pt'>
            Szolgáltatási szerződés természetes
            személy felhasználónak<o:p></o:p>
        </span>
    </b>
</p>

<p class=MsoNormal align=center style='text-align:center'>
    <b style='mso-bidi-font-weight:
normal'><span style='font-size:15.0pt'>próbaidőszakra<o:p></o:p></span></b>
</p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:8.0pt'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'>mely létrejött</p>

<p class=MsoNormal style='text-align:justify'>
    egyrészről az alább megjelölt <b style='mso-bidi-font-weight:normal'>Szolgáltató:<o:p></o:p></b>
</p>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0
       style='border-collapse:collapse;border:none;mso-border-alt:solid black .5pt;
 mso-yfti-tbllook:1184;mso-padding-alt:0cm 5.4pt 0cm 5.4pt;mso-border-insideh:
 .5pt solid black;mso-border-insidev:.5pt solid black'>
    <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes'>
        <td width=267 valign=top style='width:250pt;border:solid black 1.0pt;
  mso-border-alt:solid black .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <b style='mso-bidi-font-weight:
  normal'>Elnevezése:<o:p></o:p></b>
            </p>
        </td>
        <td width=374 valign=top style='width:300pt;border:solid black 1.0pt;
  border-left:none;mso-border-left-alt:solid black .5pt;mso-border-alt:solid black .5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoTitle style='text-align:justify;tab-stops:127.6pt'>
                <span style='font-size:14.0pt;mso-bidi-font-size:13.0pt;letter-spacing:0pt;
  mso-font-width:100%'>Siketek és Nagyothallók Országos Szövetsége</span><span style='font-size:14.0pt;mso-bidi-font-size:15.0pt;letter-spacing:0pt;
  mso-font-width:100%;font-weight:normal'><o:p></o:p></span>
            </p>
        </td>
    </tr>
    <tr style='mso-yfti-irow:1'>
        <td width=267 valign=top style='width:200.4pt;border:solid black 1.0pt;
  border-top:none;mso-border-top-alt:solid black .5pt;mso-border-alt:solid black .5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <b style='mso-bidi-font-weight:
  normal'>Székhelye:<o:p></o:p></b>
            </p>
        </td>
        <td width=374 valign=top style='width:280.7pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  mso-border-top-alt:solid black .5pt;mso-border-left-alt:solid black .5pt;
  mso-border-alt:solid black .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoTitle style='text-align:justify;tab-stops:127.6pt'>
                <span style='font-size:14.0pt;mso-bidi-font-size:13.0pt;letter-spacing:0pt;
  mso-font-width:100%;font-weight:normal;mso-bidi-font-weight:bold'>
                    1068
                    Budapest, Benczúr u. 21.
                </span><span style='letter-spacing:0pt;mso-font-width:
  100%;font-weight:normal;mso-bidi-font-weight:bold'><o:p></o:p></span>
            </p>
        </td>
    </tr>
    <tr style='mso-yfti-irow:2'>
        <td width=267 valign=top style='width:200.4pt;border:solid black 1.0pt;
  border-top:none;mso-border-top-alt:solid black .5pt;mso-border-alt:solid black .5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <b style='mso-bidi-font-weight:
  normal'>Képviselője:<o:p></o:p></b>
            </p>
        </td>
        <td width=374 valign=top style='width:280.7pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  mso-border-top-alt:solid black .5pt;mso-border-left-alt:solid black .5pt;
  mso-border-alt:solid black .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                dr. <st1:personname productid="K&#65523;sa &#65473;d&#65505;m" w:st="on">Kósa Ádám</st1:personname>
                országos elnök
            </p>
        </td>
    </tr>
    <tr style='mso-yfti-irow:3'>
        <td width=267 valign=top style='width:200.4pt;border:solid black 1.0pt;
  border-top:none;mso-border-top-alt:solid black .5pt;mso-border-alt:solid black .5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <b style='mso-bidi-font-weight:
  normal'>Jelen szerződéskötés során képviseli:<o:p></o:p></b>
            </p>
        </td>
        <td width=374 valign=top style='width:280.7pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  mso-border-top-alt:solid black .5pt;mso-border-left-alt:solid black .5pt;
  mso-border-alt:solid black .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                Ormódi Róbert általános
                meghatalmazással
            </p>
        </td>
    </tr>
    <tr style='mso-yfti-irow:4'>
        <td width=267 valign=top style='width:200.4pt;border:solid black 1.0pt;
  border-top:none;mso-border-top-alt:solid black .5pt;mso-border-alt:solid black .5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <b style='mso-bidi-font-weight:
  normal'>Országos nyilvántartásbeli azonosító:<o:p></o:p></b>
            </p>
        </td>
        <td width=374 valign=top style='width:280.7pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  mso-border-top-alt:solid black .5pt;mso-border-left-alt:solid black .5pt;
  mso-border-alt:solid black .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoTitle align=left style='text-align:left;tab-stops:127.6pt'>
                <span style='letter-spacing:0pt;mso-font-width:100%;font-weight:normal;mso-bidi-font-weight:
  bold'>Pk. 60331/1989.</span><span style='letter-spacing:0pt;mso-font-width:
  100%;font-weight:normal'><o:p></o:p></span>
            </p>
        </td>
    </tr>
    <tr style='mso-yfti-irow:5'>
        <td width=267 valign=top style='width:200.4pt;border:solid black 1.0pt;
  border-top:none;mso-border-top-alt:solid black .5pt;mso-border-alt:solid black .5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <b style='mso-bidi-font-weight:
  normal'>E-mail címe:<o:p></o:p></b>
            </p>
        </td>
        <td width=374 valign=top style='width:280.7pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  mso-border-top-alt:solid black .5pt;mso-border-left-alt:solid black .5pt;
  mso-border-alt:solid black .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>info@sinosz.hu</p>
        </td>
    </tr>
    <tr style='mso-yfti-irow:6;mso-yfti-lastrow:yes'>
        <td width=267 valign=top style='width:200.4pt;border:solid black 1.0pt;
  border-top:none;mso-border-top-alt:solid black .5pt;mso-border-alt:solid black .5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <b style='mso-bidi-font-weight:
  normal'>Telefon száma:<o:p></o:p></b>
            </p>
        </td>
        <td width=374 valign=top style='width:280.7pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  mso-border-top-alt:solid black .5pt;mso-border-left-alt:solid black .5pt;
  mso-border-alt:solid black .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>Tel.:(06-1)351-04-34</p>
        </td>
    </tr>
</table>

<p class=MsoNormal style='text-align:justify'><span style='font-size:8.0pt'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'>
    másrészről az alább megjelölt <b style='mso-bidi-font-weight:normal'>Felhasználó:<o:p></o:p></b>
</p>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0
       style='border-collapse:collapse;border:none;mso-border-alt:solid black .5pt;
 mso-yfti-tbllook:1184;mso-padding-alt:0cm 5.4pt 0cm 5.4pt;mso-border-insideh:
 .5pt solid black;mso-border-insidev:.5pt solid black'>
    <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes'>
        <td width=264 valign=top style='width:250pt;border:solid black 1.0pt;
  mso-border-alt:solid black .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <b style='mso-bidi-font-weight:
  normal'>Név:<o:p></o:p></b>
            </p>
        </td>
        <td width=378 valign=top style='width:300pt;border:solid black 1.0pt;
  border-left:none;mso-border-left-alt:solid black .5pt;mso-border-alt:solid black .5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <b style='mso-bidi-font-weight:
  normal'>@Model.SinoszUserName<o:p>&nbsp;</o:p></b>
            </p>
        </td>
    </tr>
    <tr style='mso-yfti-irow:1'>
        <td width=264 valign=top style='width:198.05pt;border:solid black 1.0pt;
  border-top:none;mso-border-top-alt:solid black .5pt;mso-border-alt:solid black .5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <b style='mso-bidi-font-weight:
  normal'>Születési név:<o:p></o:p></b>
            </p>
        </td>
        <td width=378 valign=top style='width:10.0cm;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  mso-border-top-alt:solid black .5pt;mso-border-left-alt:solid black .5pt;
  mso-border-alt:solid black .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <b style='mso-bidi-font-weight:
  normal'>@Model.BirthName<o:p>&nbsp;</o:p></b>
            </p>
        </td>
    </tr>
    <tr style='mso-yfti-irow:2'>
        <td width=264 valign=top style='width:198.05pt;border:solid black 1.0pt;
  border-top:none;mso-border-top-alt:solid black .5pt;mso-border-alt:solid black .5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <b style='mso-bidi-font-weight:
  normal'>Anyja neve:<o:p></o:p></b>
            </p>
        </td>
        <td width=378 valign=top style='width:10.0cm;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  mso-border-top-alt:solid black .5pt;mso-border-left-alt:solid black .5pt;
  mso-border-alt:solid black .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <b style='mso-bidi-font-weight:
  normal'>@Model.MothersName<o:p>&nbsp;</o:p></b>
            </p>
        </td>
    </tr>
    <tr style='mso-yfti-irow:3'>
        <td width=264 valign=top style='width:198.05pt;border:solid black 1.0pt;
  border-top:none;mso-border-top-alt:solid black .5pt;mso-border-alt:solid black .5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <b style='mso-bidi-font-weight:
  normal'>Születési helye, ideje:<o:p></o:p></b>
            </p>
        </td>
        <td width=378 valign=top style='width:10.0cm;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  mso-border-top-alt:solid black .5pt;mso-border-left-alt:solid black .5pt;
  mso-border-alt:solid black .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <b style='mso-bidi-font-weight:
  normal'>@Model.BirthDatas<o:p>&nbsp;</o:p></b>
            </p>
        </td>
    </tr>
    <tr style='mso-yfti-irow:4'>
        <td width=264 valign=top style='width:198.05pt;border:solid black 1.0pt;
  border-top:none;mso-border-top-alt:solid black .5pt;mso-border-alt:solid black .5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <b style='mso-bidi-font-weight:
  normal'>Lakóhelye:<o:p></o:p></b>
            </p>
        </td>
        <td width=378 valign=top style='width:10.0cm;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  mso-border-top-alt:solid black .5pt;mso-border-left-alt:solid black .5pt;
  mso-border-alt:solid black .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <b style='mso-bidi-font-weight:
  normal'>@Model.HomeAddress<o:p>&nbsp;</o:p></b>
            </p>
        </td>
    </tr>
    <tr style='mso-yfti-irow:5'>
        <td width=264 valign=top style='width:198.05pt;border:solid black 1.0pt;
  border-top:none;mso-border-top-alt:solid black .5pt;mso-border-alt:solid black .5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <b style='mso-bidi-font-weight:
  normal'>SINOSZ tagsági száma:<o:p></o:p></b>
            </p>
        </td>
        <td width=378 valign=top style='width:10.0cm;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  mso-border-top-alt:solid black .5pt;mso-border-left-alt:solid black .5pt;
  mso-border-alt:solid black .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <b style='mso-bidi-font-weight:
  normal'>@Model.SinoszId<o:p>&nbsp;</o:p></b>
            </p>
        </td>
    </tr>
    <tr style='mso-yfti-irow:6'>
        <td width=264 valign=top style='width:198.05pt;border:solid black 1.0pt;
  border-top:none;mso-border-top-alt:solid black .5pt;mso-border-alt:solid black .5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <b style='mso-bidi-font-weight:
  normal'>E-mail címe:<o:p></o:p></b>
            </p>
        </td>
        <td width=378 valign=top style='width:10.0cm;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  mso-border-top-alt:solid black .5pt;mso-border-left-alt:solid black .5pt;
  mso-border-alt:solid black .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <b style='mso-bidi-font-weight:
  normal'>@Model.Email<o:p>&nbsp;</o:p></b>
            </p>
        </td>
    </tr>
    <tr style='mso-yfti-irow:7;mso-yfti-lastrow:yes'>
        <td width=264 valign=top style='width:198.05pt;border:solid black 1.0pt;
  border-top:none;mso-border-top-alt:solid black .5pt;mso-border-alt:solid black .5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <b style='mso-bidi-font-weight:
  normal'>Telefon száma:<o:p></o:p></b>
            </p>
        </td>
        <td width=378 valign=top style='width:10.0cm;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  mso-border-top-alt:solid black .5pt;mso-border-left-alt:solid black .5pt;
  mso-border-alt:solid black .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <b style='mso-bidi-font-weight:
  normal'>@Model.Telephone<o:p>&nbsp;</o:p></b>
            </p>
        </td>
    </tr>
</table>

<p class=MsoNormal style='text-align:justify'><span style='font-size:8.0pt'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'>
    együttesen mint felek között
    alulírott helyen és napon az alábbi feltételekkel.
</p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:8.0pt'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'>
    <st1:metricconverter productid="1. A" w:st="on"><b style='mso-bidi-font-weight:normal'>1. A</b></st1:metricconverter><b style='mso-bidi-font-weight:normal'>szerződés tárgya<o:p></o:p></b>
</p>

<p class=MsoNormal style='text-align:justify'>
    Szolgáltató <span style='mso-bidi-font-weight:bold'>
        „A jelnyelvi tolmácsszolgálatok fejlesztése
        video alapú jelnyelvi tolmácsolás és szöveges operátori szolgáltatások
        bevezetésével” című, TIOP-3.3.1.B-12/1-2012-0001 számú támogatott projekt
        keretében tolmácsszolgáltatást nyújt hallássérült természetes személy
        felhasználók részére.<o:p></o:p>
    </span>
</p>

<p class=MsoNormal style='text-align:justify'>
    <span style='mso-bidi-font-weight:
bold'>
        A tolmácsszolgáltatást jelen szerződés alapján a 2014. évre rendezett
        SINOSZ tagsággal valamint a szolgáltatásra elfogadott regisztrációval
        rendelkező természetes személy veheti igénybe.<o:p></o:p>
    </span>
</p>

<p class=MsoNormal style='text-align:justify'>
    <span style='mso-bidi-font-weight:
bold'>
        Az ÁSZF tartalmazza az igénybevétel feltételeit (III/3. pont), a
        regisztráció folyamatát (III/4. pont), a szolgáltatás típusait (III/6. pont), a
        tolmácsolási módokat (III/9. pont), a tolmácsolási területeket (III/8. pont).<o:p></o:p>
    </span>
</p>

<p class=MsoNormal style='text-align:justify'>
    A projekt próbaidőszaka alatt
    oktatási célra a térítésmentes jelnyelvi videó- és szöveges tolmácsszolgáltatás
    nem terjed ki.
</p>

<p class=MsoNormal style='text-align:justify'>
    <span style='mso-bidi-font-weight:
bold'><o:p>&nbsp;</o:p></span>
</p>

<p class=MsoNormal style='text-align:justify'>
    <st1:metricconverter productid="2. A" w:st="on"><b>2. A</b></st1:metricconverter><b>
        szerződés
        időbeli hatálya<o:p></o:p>
    </b>
</p>

<p class=MsoNormal style='text-align:justify'>
    A jelen szolgáltatási szerződés
    határozott időre, a szolgáltatás aktiválásától 2015. február 28-ig jön létre.
</p>

<p class=MsoNormal style='text-align:justify'>
    Felek rögzítik, hogy a
    szolgáltatás aktiválására (ÁSZF III/5.3. pont) a szerződés mindkét fél általi
    aláírását követő 5 munkanapon belül kerül sor.
</p>

<p class=MsoNormal style='text-align:justify'>
    Felek megállapodnak abban, hogy
    amennyiben Felhasználó jelen szerződés időtartamának lejártát követően is
    szeretné megszakítás nélkül igénybe venni a szolgáltatást, úgy erre vonatkozó
    igényét a jelen szerződésben meghatározott határozott idő lejártát megelőző
    legalább 90 nappal a Szolgáltató honlapján a későbbiekben elérhető határozatlan
    időtartamú szolgáltatási szerződés aláírásával és Szolgáltatónak történő
    megküldésével jogosult bejelenteni (ÁSZF III/10. pont).
</p>

<p class=MsoNormal style='text-align:justify'><o:p>&nbsp;</o:p></p>

<p class=MsoNormal style='text-align:justify'><o:p>&nbsp;</o:p></p>

<p class=MsoNormal style='text-align:justify'><o:p>&nbsp;</o:p></p>

<br />

<p class=MsoFooter style="text-align:center">    
        <span class=MsoPageNumber><span style='mso-no-proof:yes'>1</span></span>
</p>

<p class=MsoNormal style='text-align:justify'><o:p>&nbsp;</o:p></p>

<p class=MsoHeader align=right style='text-align:right'>
    <span style='mso-ignore:vglayout;position:absolute;z-index:1;left:0px;margin-left:-44px;margin-top:27px;width:245px;height:70px'>
        <img width=245 height=70 src="@Url.Content("~/Content/images/sinosz_logo_felirattal.png")" v:shapes="Kép_x0020_23">
    </span>
    <span style='mso-tab-count:1'>                                                   </span>
    <b style='mso-bidi-font-weight:normal'>
        <span style='font-size:14.0pt;font-family:"Verdana","sans-serif"'>
            <img width=199 height=108 src="@Url.Content("~/Content/images/Kontakt_Tolmacsszolgalat_Logo.png")" v:shapes="_x0000_i1025">
        </span>
    </b>
</p>

<p class=MsoNormal style='text-align:justify'>
    Felek kifejezetten rögzítik, hogy
    Szolgáltató a határozott időtartam lejártát követően a szolgáltatás nyújtására
    kötelezettséget nem vállal, arra kötelezetté csak az előzőekben hivatkozott
    határozatlan időtartamú szerződés általa történő aláírásával válik.
</p>

<p class=MsoNormal style='text-align:justify'><o:p>&nbsp;</o:p></p>

<p class=MsoNormal style='text-align:justify'>
    <st1:metricconverter productid="3. A" w:st="on"><b style='mso-bidi-font-weight:normal'>3. A</b></st1:metricconverter><b style='mso-bidi-font-weight:normal'>
        szolgáltatás műszaki feltételeinek
        biztosítása (ÁSZF III/3.b) pont)<o:p></o:p>
    </b>
</p>

<p class=MsoNormal style='text-align:justify'>
    Felek egyezően rögzítik, hogy a
    szolgáltatás eléréséhez szükséges megfelelő sávszélességű internet (WI-FI vagy
    GSM rendszernél micro SIM felhasználásával) biztosítása Felhasználó
    kötelezettsége saját költségén:
</p>

<p class=MsoNormal style='text-align:justify'>
    Felek egyezően rögzítik, hogy a
    szolgáltatás eléréséhez szükséges előlapi kamerával rendelkező megfelelő
    készülék (PC; iOS vagy android rendszerű tablet, iOS vagy android rendszerű okostelefon)
    biztosítása – felek eltérő külön írásbeli megállapodásának hiányában –
    Felhasználó kötelezettsége saját költségén. A szolgáltatás Felhasználó általi
    igénybevételéhez szükséges és a Felhasználó által biztosítandó eszközök műszaki
    paramétereit a szolgáltatás honlapja tartalmazza. A Felhasználó saját
    eszközeinek működéséért a Szolgáltató semmilyen formában nem felelős.
</p>

<p class=MsoNormal style='text-align:justify'><o:p>&nbsp;</o:p></p>

<p class=MsoNormal style='text-align:justify'>
    <st1:metricconverter productid="4. A" w:st="on"><b style='mso-bidi-font-weight:normal'>4. A</b></st1:metricconverter><b style='mso-bidi-font-weight:normal'>szolgáltatás elérésének időrendje<o:p></o:p></b>
</p>

<p class=MsoNormal style='text-align:justify'>
    Szolgáltató kijelenti, Felhasználó
    tudomásul veszi, hogy a szolgáltatás a következők szerint elérhető (ASZF III/11.1.
    pont):
</p>

<p class=MsoNormal>a) munkanapokon: 08-16 óráig</p>

<p class=MsoNormal>b) ügyelet:</p>

<p class=MsoNormal style='margin-left:72.0pt;text-align:justify;text-indent:
-18.0pt;mso-list:l10 level2 lfo1;tab-stops:list 72.0pt'>
    <![if !supportLists]><span style='font-family:"Courier New";mso-fareast-font-family:"Courier New"'>
        <span style='mso-list:Ignore'>
            o<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;
            </span>
        </span>
    </span><![endif]>munkanapokon 16:00-08:00 óráig
</p>

<p class=MsoNormal style='margin-left:72.0pt;text-align:justify;text-indent:
-18.0pt;mso-list:l10 level2 lfo1;tab-stops:list 72.0pt'>
    <![if !supportLists]><span style='font-family:"Courier New";mso-fareast-font-family:"Courier New"'>
        <span style='mso-list:Ignore'>
            o<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;
            </span>
        </span>
    </span><![endif]>munkaszüneti napokon (hétvégén és ünnepnapokon):
    00:00-24.00 óráig.
</p>

<p class=MsoNormal><o:p>&nbsp;</o:p></p>

<p class=MsoNormal style='text-align:justify'>
    <a name="_Toc367981982">
        Felek
        kifejezetten rögzítik, hogy az ügyeleti időszakban Szolgáltató kizárólag sürgősségi
        hívást (ÁSZF III/8.d) pont) fogad. Felhasználó kötelezettséget vállal arra,
        hogy sürgősségi videó hívást csak vészhelyzetben kezdeményez, valamint arra,
        hogy ügyeleti időszakban kizárólag sürgősségi hívást kezdeményez.
    </a>
</p>

<p class=MsoNormal style='text-align:justify'><span style='mso-bookmark:_Toc367981982'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'>
    <span style='mso-bookmark:_Toc367981982'>
        <b style='mso-bidi-font-weight:normal'>5. Díjazás<o:p></o:p></b>
    </span>
</p>

<p class=MsoNormal style='text-align:justify'>
    <span style='mso-bookmark:_Toc367981982'>
        Felek
        kifejezetten rögzítik, hogy Szolgáltató a tolmácsszolgáltatást a próbaidőszakban
        Felhasználó részére ellenérték nélkül nyújtja, azért Felhasználó díjfizetésre
        nem köteles. A díjmentesség kizárólag a próbaidőszakra érvényes.
    </span>
</p>

<p class=MsoNormal><span style='mso-bookmark:_Toc367981982'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal>
    <span style='mso-bookmark:_Toc367981982'>
        <b style='mso-bidi-font-weight:normal'>6. Szolgáltató kötelezettsége, felelőssége<o:p></o:p></b>
    </span>
</p>

<span style='mso-bookmark:_Toc367981982'></span>

<p class=MsoNormal style='text-align:justify'>
    Szolgáltató kötelezettséget
    vállal arra, hogy a jelen szerződés 1. pontjában meghatározott
    tolmácsszolgáltatást nyújtja Felhasználó részére a jelen szerződésben és az
    ÁSZF-ben meghatározott feltételek szerint.
</p>

<p class=MsoNormal style='text-align:justify'>
    Felek kifejezetten rögzítik azon
    megállapodásukat, hogy amennyiben a Szolgáltató által vállalt szolgáltatás
    bármilyen okból hibásan (ideértve azon esetet is, amennyiben a tolmácsolás nem
    megfelelő), vagy egyáltalán nem valósul meg (ideértve azon esetet is, ha a
    hívás kezdeményezésének időpontjában szabad tolmácskapacitás nem áll
    rendelkezésre), azért Szolgáltatót felelősség nem terheli, erre hivatkozva
    Felhasználó semmilyen jogcímen nem élhet igénnyel Szolgáltatóval szemben (ÁSZF III/13.3.
    pont).
</p>

<p class=MsoNormal style='text-align:justify'>
    Felek rögzítik, hogy ezen
    nyilatkozatuk megtétele során figyelemmel voltak arra a körülményre is, hogy a
    szolgáltatás tesztelés alatt áll, illetve hogy a szolgáltatás nyújtására
    ellenérték nélkül<span style='mso-spacerun:yes'>  </span>kerül sor.
</p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:8.0pt'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'>
    Felek rögzítik, hogy a
    szolgáltatással összefüggésben felmerülő panaszokat Felhasználó jogosult a Szolgáltató
    felé jelezni, a panaszkezelési eljárást az ÁSZF VI/4. pontja tartalmazza.
</p>

<p class=MsoFooter><span class=MsoPageNumber><o:p>&nbsp;</o:p></span></p>

<br />
<br />

<p class=MsoFooter style="text-align:center">
    <span class=MsoPageNumber><span style='mso-no-proof:yes'>2</span></span>
</p>

<p class=MsoHeader align=right style='text-align:right'><o:p>&nbsp;</o:p></p>

<p class=MsoHeader align=right style='text-align:right'>
    <span style='mso-ignore:vglayout;position:absolute;z-index:1;left:0px;margin-left:-44px;margin-top:27px;width:245px;height:70px'>
        <img width=245 height=70 src="@Url.Content("~/Content/images/sinosz_logo_felirattal.png")" v:shapes="Kép_x0020_23">
    </span>
    <span style='mso-tab-count:1'>                                                   </span>
    <b style='mso-bidi-font-weight:normal'>
        <span style='font-size:14.0pt;font-family:"Verdana","sans-serif"'>
            <img width=199 height=108 src="@Url.Content("~/Content/images/Kontakt_Tolmacsszolgalat_Logo.png")" v:shapes="_x0000_i1025">
        </span>
    </b>
</p>

<p class=MsoNormal style='text-align:justify'>
    <b style='mso-bidi-font-weight:
normal'>7. Felhasználó kötelezettségei<o:p></o:p></b>
</p>

<p class=MsoNormal style='text-align:justify'>
    <b style='mso-bidi-font-weight:
normal'>a) Igénybevételi kötelezettség<o:p></o:p></b>
</p>

<p class=MsoNormal style='text-align:justify'>
    Felhasználó köteles bármely olyan
    a jelen szerződés 1. pontjában meghatározott projekt rendszer által nyújtott szolgáltatást,
    amely<span style='mso-spacerun:yes'>  </span>tolmács közreműködésével jár
    naptári hónaponként minimum 2 alkalommal igénybe venni.
</p>

<p class=MsoNormal style='text-align:justify'>
    Felek kifejezetten rögzítik, hogy
    a regisztrált és szerződött felhasználóknak a jelen szerződés 1. pontjában
    meghatározott projekt rendszerének felhasználásával történő egymás közötti
    kommunikációja nem minősül igénybevételnek.
</p>

<p class=MsoNormal style='text-align:justify'>
    Amennyiben az igénybevételi
    kötelezettségének Felhasználó nem tesz eleget, úgy arra Szolgáltató
    felszólítja. Amennyiben a Szolgáltató felszólítása ellenére az igénybevételi
    kötelezettségének Felhasználó továbbra sem tesz eleget, úgy Szolgáltató
    jogosult a Felhasználót a szolgáltatásból 1-től 10 napig terjedő időtartamra
    kizárni, a szolgáltatás nyújtását felfüggeszteni.
</p>

<p class=MsoNormal style='text-align:justify'>
    Felek kifejezetten rögzítik, hogy
    amennyiben Felhasználó a jelen alpontban meghatározott kötelezettségének
    fentieken túl ismételten nem tesz eleget, az súlyos szerződésszegésnek minősül,
    melyre tekintettel Szolgáltató jogosult a szerződés azonnali hatályú
    felmondására.
</p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:6.0pt'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'>
    <b style='mso-bidi-font-weight:
normal'>b) Adatszolgáltatási kötelezettség<o:p></o:p></b>
</p>

<p class=MsoNormal style='text-align:justify'>
    Szolgáltató kijelenti,
    Felhasználó tudomásul veszi, hogy a szolgáltatás igénybevételét követően
    Szolgáltató a szolgáltatásra vonatkozóan visszajelző kérdőívet továbbít
    Felhasználó részére. Felhasználó kötelezettséget vállal arra, hogy a kérdőívet
    teljes mértékben kitölti és Szolgáltató rendelkezésére bocsátja.
</p>

<p class=MsoNormal style='text-align:justify'>
    Amennyiben az adatszolgáltatási
    kötelezettségének Felhasználó nem tesz eleget, úgy arra Szolgáltató elektronikus
    levélben felszólítja. Amennyiben a Szolgáltató felszólítása ellenére az
    adatszolgáltatási kötelezettségének Felhasználó továbbra sem tesz eleget, úgy
    Szolgáltató jogosult a Felhasználót a szolgáltatásból 1-től 10 napig terjedő
    időtartamra kizárni, a szolgáltatás nyújtását felfüggeszteni.
</p>

<p class=MsoNormal style='text-align:justify'>
    Felek kifejezetten rögzítik, hogy
    amennyiben Felhasználó a jelen alpontban meghatározott kötelezettségének
    fentieken túl ismételten nem tesz eleget, az súlyos szerződésszegésnek minősül,
    melyre tekintettel Szolgáltató jogosult a szerződés azonnali hatályú
    felmondására.
</p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:6.0pt'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'>
    <b style='mso-bidi-font-weight:
normal'>
        c) Ügyelet alatt a Felhasználó csak sürgősségi hívást kezdeményezhet, kizárólag
        indokolt vészhelyzetben.<o:p></o:p>
    </b>
</p>

<p class=MsoNormal style='text-align:justify'>(lásd jelen szerződés 4. pontja)</p>

<p class=MsoNormal style='text-align:justify'>
    Amennyiben jelen alpontban
    rögzített kötelezettségének Felhasználó nem tesz eleget, úgy Szolgáltató
    jogosult a Felhasználót a szolgáltatásból 10 nap időtartamra kizárni, a
    szolgáltatás nyújtását felfüggeszteni. Felek kifejezetten rögzítik, hogy
    amennyiben Felhasználó a jelen alpontban meghatározott kötelezettségének
    fentieken túl ismételten nem tesz eleget, úgy Szolgáltató jogosult a
    Felhasználót a szolgáltatásból határozatlan időtartamra kizárni, a szolgáltatás
    nyújtását felfüggeszteni.
</p>

<p class=MsoNormal style='text-align:justify'>
    Amennyiben Felhasználó jelen
    alpontban rögzített kötelezettségét kettőnél több esetben megszegi, az súlyos
    szerződésszegésnek minősül, melyre tekintettel Szolgáltató jogosult a szerződés
    azonnali hatályú felmondására.
</p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:8.0pt'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'>
    <st1:metricconverter productid="8. A" w:st="on"><b style='mso-bidi-font-weight:normal'>8. A</b></st1:metricconverter><b style='mso-bidi-font-weight:normal'>szerződés módosítása<o:p></o:p></b>
</p>

<p class=MsoNormal style='text-align:justify'>
    Jelen szerződés felek közös
    megegyezésével, illetve a Szolgáltató által egyoldalúan kizárólag az ÁSZF-ben
    írt feltételek mellett az ÁSZF egyoldalú módosítása útján módosítható (ÁSZF VI/1.
    pont).
</p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:8.0pt'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'>
    <st1:metricconverter productid="9. A" w:st="on"><b style='mso-bidi-font-weight:normal'>9. A</b></st1:metricconverter><b style='mso-bidi-font-weight:normal'>
        szerződés megszűnésének esetei (ÁSZF VI/2.
        pont)<o:p></o:p>
    </b>
</p>

<p class=MsoNormal style='text-align:justify'>Jelen szerződés megszűnik:</p>

<p class=MsoNormal style='text-align:justify'><o:p>&nbsp;</o:p></p>

<p class=MsoNormal style='text-align:justify'><o:p>&nbsp;</o:p></p>

<p class=MsoNormal style='text-align:justify'><o:p>&nbsp;</o:p></p>

<br />

<p class=MsoFooter style="text-align:center">
    <span class=MsoPageNumber><span style='mso-no-proof:yes'>3</span></span>
</p>

<p class=MsoHeader align=right style='text-align:right'>
    <span style='mso-ignore:vglayout;position:absolute;z-index:1;left:0px;margin-left:-44px;margin-top:27px;width:245px;height:70px'>
        <img width=245 height=70 src="@Url.Content("~/Content/images/sinosz_logo_felirattal.png")" v:shapes="Kép_x0020_23">
    </span>
    <span style='mso-tab-count:1'>                                                   </span>
    <b style='mso-bidi-font-weight:normal'>
        <span style='font-size:14.0pt;font-family:"Verdana","sans-serif"'>
            <img width=199 height=108 src="@Url.Content("~/Content/images/Kontakt_Tolmacsszolgalat_Logo.png")" v:shapes="_x0000_i1025">
        </span>
    </b>
</p>

<p class=MsoNormal style='margin-left:36.0pt;text-align:justify;text-indent:
-18.0pt;mso-list:l10 level1 lfo1;tab-stops:list 36.0pt'>
    <![if !supportLists]><span style='mso-list:Ignore'>
        -<span style='font:7.0pt "Times New Roman"'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </span><![endif]>a határozott idő lejártával,
</p>

<p class=MsoNormal style='margin-left:36.0pt;text-align:justify;text-indent:
-18.0pt;mso-list:l10 level1 lfo1;tab-stops:list 36.0pt'>
    <![if !supportLists]><span style='mso-list:Ignore'>
        -<span style='font:7.0pt "Times New Roman"'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </span><![endif]>Felhasználó SINOSZ tagságának bármilyen okból történő
    megszűnésével,
</p>

<p class=MsoNormal style='margin-left:36.0pt;text-align:justify;text-indent:
-18.0pt;mso-list:l10 level1 lfo1;tab-stops:list 36.0pt'>
    <![if !supportLists]><span style='mso-list:Ignore'>
        -<span style='font:7.0pt "Times New Roman"'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </span><![endif]>Felhasználó halálával
</p>

<p class=MsoNormal style='margin-left:36.0pt;text-align:justify;text-indent:
-18.0pt;mso-list:l10 level1 lfo1;tab-stops:list 36.0pt'>
    <![if !supportLists]><span style='mso-list:Ignore'>
        -<span style='font:7.0pt "Times New Roman"'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </span><![endif]>Szolgáltató jogutód nélkül történő megszűnésével.
</p>

<p class=MsoNormal style='text-align:justify'><o:p>&nbsp;</o:p></p>

<p class=MsoNormal style='text-align:justify'>Jelen szerződés megszűntethető:</p>

<p class=MsoNormal style='margin-left:36.0pt;text-align:justify;text-indent:
-18.0pt;mso-list:l10 level1 lfo1;tab-stops:list 36.0pt'>
    <![if !supportLists]><span style='mso-list:Ignore'>
        -<span style='font:7.0pt "Times New Roman"'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </span><![endif]>felek közös megegyezésével,
</p>

<p class=MsoNormal style='margin-left:36.0pt;text-indent:-18.0pt;mso-list:l10 level1 lfo1;
tab-stops:list 36.0pt'>
    <![if !supportLists]><span style='mso-list:Ignore'>
        -<span style='font:7.0pt "Times New Roman"'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </span><![endif]>súlyos szerződésszegés esetén azonnali hatályú
    felmondással,
</p>

<p class=MsoNormal style='margin-left:36.0pt;text-align:justify;text-indent:
-18.0pt;mso-list:l10 level1 lfo1;tab-stops:list 36.0pt'>
    <![if !supportLists]><span style='mso-list:Ignore'>
        -<span style='font:7.0pt "Times New Roman"'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </span><![endif]>amennyiben a Felhasználó az adatkezeléshez adott
    hozzájárulását visszavonja, vagy adatai törlését, zárolását kéri és ezen
    bármely kérése a Szolgáltatót a<span style='mso-spacerun:yes'>
    </span>szerződés teljesítésében gátolja vagy akadályozza, SINOSZ azonnali
    hatályú felmondásával.
</p>

<p class=MsoNormal style='margin-left:36.0pt;text-indent:-18.0pt;mso-list:l10 level1 lfo1;
tab-stops:list 36.0pt'>
    <![if !supportLists]><span style='mso-list:Ignore'>
        -<span style='font:7.0pt "Times New Roman"'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </span><![endif]>a jelen szerződés 1. pontjában leírt projekt
    forrásainak bármely okból történő megszűnése vagy a projekt fenntarthatóságát
    érintő csökkenése esetén, Szolgáltató azonnali hatályú felmondásával.
</p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:8.0pt'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'>
    <b style='mso-bidi-font-weight:
normal'>10. Adatkezelés, adatbiztonság<o:p></o:p></b>
</p>

<p class=MsoNormal style='text-align:justify'>
    Az adatkezelés részletes
    szabályait az ÁSZF VI/3. pontja tartalmazza.<b style='mso-bidi-font-weight:
normal'><o:p></o:p></b>
</p>

<p class=MsoNormal style='text-align:justify'><o:p>&nbsp;</o:p></p>

<p class=MsoNormal style='text-align:justify'>
    Felhasználó kijelenti, hogy az
    adatkezelés megkezdése előtt részletes és egyértelmű tájékoztatást kapott az adatai
    kezelésével kapcsolatos minden tényről, körülményről és eljárásról.
</p>

<p class=MsoNormal style='text-align:justify'>
    Felhasználó e körben kijelenti,
    hogy tudomással bír arról is, hogy a jelen szerződés időtartama alatt a
    szolgáltatás általa történő felhasználása videó felvétel útján rögzítésre kerül,
    az ÁSZF VI/3.7. pontjában rögzített időig, melyhez a Felhasználó hozzájárul. A
    Szolgáltató valamennyi a szolgáltatással kapcsolatos dokumentációt köteles
    2020. december 31-ig megőrizni, Felhasználó ehhez kifejezetten hozzájárul.
</p>

<p class=MsoNormal style='text-align:justify'>
    Felhasználó személyes adatai –
    ideértve az információs önrendelkezési jogról és az információs szabadságról
    szóló 2011. CXII. tv. szerinti különleges adatokat is – Szolgáltató, valamint
    az 1. pontban megnevezett projektet támogató Nemzeti Fejlesztési Ügynökség és
    az abban közreműködő ESZA Társadalmi Nonprofit Kft. általi kezeléséhez –
    ideértve ezen adatok felvételét, tárolását és nyilvánosságra hozatalát is – jelen
    szerződés aláírásával kifejezetten hozzájárul.
</p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:6.0pt'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'>
    A Szolgáltató műszaki és
    szervezési intézkedésekkel köteles gondoskodni a szolgáltatás nyújtása során
    kezelt felhasználói adatok védelméről. Az adatbiztonság részletes szabályait az
    ÁSZF VI/3.10. pontja tartalmazza.
</p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:8.0pt'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'>
    <b style='mso-bidi-font-weight:
normal'>11. Általános Szerződési Feltételek (ÁSZF)<o:p></o:p></b>
</p>

<p class=Norml1 style='text-align:justify;tab-stops:35.4pt 70.8pt 106.2pt 141.6pt 177.0pt 212.4pt 247.8pt 283.2pt 318.6pt 354.0pt 389.4pt 424.8pt'>
    <span style='font-size:14.0pt;font-family:"Times New Roman","serif"'>
        A jelen
        szerződés szerinti szolgáltatásra, annak igénybevételére a Szolgáltató alábbi
        megnevezésű Általános Szerződési Feltételei vonatkoznak:<o:p></o:p>
    </span>
</p>

<p class=Norml1 style='text-align:justify;tab-stops:35.4pt 70.8pt 106.2pt 141.6pt 177.0pt 212.4pt 247.8pt 283.2pt 318.6pt 354.0pt 389.4pt 424.8pt'>
    <span style='font-size:14.0pt;font-family:"Times New Roman","serif"'>
        „<span style='mso-bidi-font-weight:bold'>ÁLTALÁNOS SZERZŐDÉSI FELTÉTELEK<o:p></o:p></span>
    </span>
</p>

<p class=Norml1 style='text-align:justify;tab-stops:35.4pt 70.8pt 106.2pt 141.6pt 177.0pt 212.4pt 247.8pt 283.2pt 318.6pt 354.0pt 389.4pt 424.8pt'>
    <span style='font-size:14.0pt;font-family:"Times New Roman","serif";mso-bidi-font-weight:
bold'>
        A jelnyelvi tolmácsszolgálatok fejlesztése video alapú jelnyelvi
        tolmácsolás és szöveges operátori szolgáltatások bevezetésével című,
        TIOP-3.3.1.B-12/1-2012-0001 számú projekt megvalósítása során nyújtott KONTAKT
    </span><span class=MsoCommentReference>
        <span style='font-size:14.0pt;mso-fareast-language:
EN-US'>tol</span>
    </span><span style='font-size:14.0pt;font-family:"Times New Roman","serif";
mso-bidi-font-weight:bold'>mácsszolgáltatás igénybevételéhez”.<o:p></o:p></span>
</p>

<p class=Norml1 style='text-align:justify;tab-stops:35.4pt 70.8pt 106.2pt 141.6pt 177.0pt 212.4pt 247.8pt 283.2pt 318.6pt 354.0pt 389.4pt 424.8pt'>
    <span style='font-size:14.0pt;font-family:"Times New Roman","serif";mso-bidi-font-weight:
bold'><o:p>&nbsp;</o:p></span>
</p>

<p class=Norml1 style='text-align:justify;tab-stops:35.4pt 70.8pt 106.2pt 141.6pt 177.0pt 212.4pt 247.8pt 283.2pt 318.6pt 354.0pt 389.4pt 424.8pt'>
    <span style='font-size:14.0pt;font-family:"Times New Roman","serif";mso-bidi-font-weight:
bold'>Az ÁSZF elérhető a Szolgáltató honlapján (</span><span style='font-family:
"Times New Roman","serif";mso-bidi-font-weight:bold'>
        <a href="http://www.sinosz.hu/">www.sinosz.hu</a>
    </span><span style='font-size:
11.0pt;font-family:"Times New Roman","serif";mso-bidi-font-weight:bold'>).<o:p></o:p></span>
</p>

<p class=Norml1 style='text-align:justify;tab-stops:35.4pt 70.8pt 106.2pt 141.6pt 177.0pt 212.4pt 247.8pt 283.2pt 318.6pt 354.0pt 389.4pt 424.8pt'>
    <span style='font-size:14.0pt;font-family:"Times New Roman","serif";mso-bidi-font-weight:
bold'>
        Felhasználó kijelenti, hogy a hatályos ÁSZF-et megismerte, az abban
        foglaltakat magára nézve kötelezőnek elfogadja.<o:p></o:p>
    </span>
</p>

<p class=Norml1 style='tab-stops:35.4pt 70.8pt 106.2pt 141.6pt 177.0pt 212.4pt 247.8pt 283.2pt 318.6pt 354.0pt 389.4pt 424.8pt'>
    <span style='font-size:8.0pt;font-family:"Times New Roman","serif";mso-bidi-font-weight:
bold'><o:p>&nbsp;</o:p></span>
</p>

<p class=Norml1 style='tab-stops:35.4pt 70.8pt 106.2pt 141.6pt 177.0pt 212.4pt 247.8pt 283.2pt 318.6pt 354.0pt 389.4pt 424.8pt'>
    <b>
        <span style='font-size:14.0pt;font-family:"Times New Roman","serif"'>
            12. Felhasználó
            jelen szerződéssel kapcsolatos nyilatkozatai<o:p></o:p>
        </span>
    </b>
</p>

<p class=MsoNormal style='text-align:justify'>
    Felhasználó kijelenti, hogy jelen
    szerződéssel összefüggő minden lényeges körülményről tájékoztatásra került, a
    tájékoztatásban és a szerződésben foglaltakat megértette, azokat tudomásul
    veszi.
</p>

<p class=MsoNormal style='text-align:justify'>
    Felhasználó kijelenti továbbá,
    hogy az adatkezelésre vonatkozóan is teljes körűen tájékoztatásra került, annak
    alapja az ő hozzájárulása.
</p>

<br />

<p class=MsoFooter style="text-align:center">
    <span class=MsoPageNumber><span style='mso-no-proof:yes'>4</span></span>
</p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:8.0pt'><o:p>&nbsp;</o:p></span></p>

<p class=MsoHeader align=right style='text-align:right'>
    <span style='mso-ignore:vglayout;position:absolute;z-index:1;left:0px;margin-left:-44px;margin-top:27px;width:245px;height:70px'>
        <img width=245 height=70 src="@Url.Content("~/Content/images/sinosz_logo_felirattal.png")" v:shapes="Kép_x0020_23">
    </span>
    <span style='mso-tab-count:1'>                                                   </span>
    <b style='mso-bidi-font-weight:normal'>
        <span style='font-size:14.0pt;font-family:"Verdana","sans-serif"'>
            <img width=199 height=108 src="@Url.Content("~/Content/images/Kontakt_Tolmacsszolgalat_Logo.png")" v:shapes="_x0000_i1025">
        </span>
    </b>
</p>

<p class=MsoNormal style='text-align:justify'>
    <b style='mso-bidi-font-weight:
normal'>13. Egyéb<o:p></o:p></b>
</p>

<p class=MsoNormal style='text-align:justify'>
    A jelen szerződésben nem
    szabályozott kérdésekben a Polgári Törvénykönyv, a Polgári Törvénykönyv vállalkozási
    szerződésre vonatkozó szabályai és más vonatkozó jogszabályok rendelkezései az irányadóak.
</p>

<p class=MsoNormal style='text-align:justify'>
    Felek jogvitája esetén
    alkalmazandó eljárást az ÁSZF VI/8. pontja rögzíti.
</p>

<p class=MsoNormal style='text-align:justify'>
    Ha a jelen szerződés bármely
    pontja érvényét vesztené, attól a szerződés egésze még nem válik érvénytelenné
    (ÁSZF VI/7. pont).
</p>

<p class=MsoNormal style='text-align:justify'><o:p>&nbsp;</o:p></p>

<p class=MsoNormal style='text-align:justify;mso-layout-grid-align:none;
text-autospace:none'>
    Felek jelen szerződést kölcsönös elolvasás és egységes
    értelmezés után, mint akaratukkal mindenben megegyezőt, jóváhagyólag aláírják.
</p>

<p class=MsoNormal><o:p>&nbsp;</o:p></p>

<p class=MsoNormal>Budapest, 2014. @Model.DateNow</p>

<p class=MsoNormal><o:p>&nbsp;</o:p></p>

<p class=MsoNormal><o:p>&nbsp;</o:p></p>

<p class=MsoNormal><o:p>&nbsp;</o:p></p>

<p class=MsoNormal><o:p>&nbsp;</o:p></p>

<div align=center>

    <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 @*width=621*@
           style='@*width:550pt;*@border-collapse:collapse;mso-padding-alt:0cm 3.5pt 0cm 3.5pt'>
        <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes;
  height:45.15pt'>
            <td width=308 valign=top style='width:300pt;padding:0cm 3.5pt 0cm 3.5pt;
  height:45.15pt'>
                <p class=MsoNormal><o:p>&nbsp;</o:p></p>
                <p class=MsoNormal align=center style='margin-left:2.55pt;text-align:center;text-indent:-2.55pt'>………………………………..…………..</p>
                <p class=MsoNormal align=center style='margin-left:2.55pt;text-align:center'>
                    <b style='mso-bidi-font-weight:normal'>Siketek és Nagyothallók Országos Szövetsége<o:p></o:p></b>
                </p>
                <p class=MsoNormal align=center style='margin-left:2.55pt;text-align:center'>
                    <b style='mso-bidi-font-weight:normal'>Szolgáltató<o:p></o:p></b>
                </p>
                <p class=MsoNormal align=center style='margin-left:2.55pt;text-align:center'>
                    <b style='mso-bidi-font-weight:normal'>képv.: Ormódi Róbert meghatalmazott<o:p></o:p></b>
                </p>
            </td>
            <td width=313 valign=top style='width:300pt;padding:0cm 3.5pt 0cm 3.5pt;
  height:45.15pt'>
                <p class=MsoNormal><o:p>&nbsp;</o:p></p>
                <p class=MsoNormal align=center style='margin-left:2.55pt;text-align:center;text-indent:-2.55pt'>………………………………..…………..</p>
                <p class=MsoNormal align=center style='margin-left:2.55pt; text-align: center'>
                    <b style='mso-bidi-font-weight:normal'>@Model.SinoszUserName<o:p></o:p></b>
                </p>
                <p class=MsoNormal align=center style='margin-left:2.55pt; text-align: center'>
                    <b style='mso-bidi-font-weight:normal'>Felhasználó<o:p></o:p></b>
                </p>
            </td>
        </tr>
    </table>

</div>

<p class=MsoNormal style='text-align:justify'><o:p>&nbsp;</o:p></p>

<p class=MsoNormal style='text-align:justify'><o:p>&nbsp;</o:p></p>

<p class=MsoNormal style='text-align:justify'><o:p>&nbsp;</o:p></p>

<p class=MsoNormal style='text-align:justify'><o:p>&nbsp;</o:p></p>

<p class=MsoNormal style='text-align:justify'><o:p>&nbsp;</o:p></p>

<p class=MsoNormal style='text-align:justify'><o:p>&nbsp;</o:p></p>

<p class=MsoNormal style='text-align:justify'><o:p>&nbsp;</o:p></p>

<p class=MsoNormal style='text-align:justify'><o:p>&nbsp;</o:p></p>

<p class=MsoNormal style='text-align:justify'><o:p>&nbsp;</o:p></p>

<p class=MsoNormal style='text-align:justify'><o:p>&nbsp;</o:p></p>

<p class=MsoNormal style='text-align:justify'><o:p>&nbsp;</o:p></p>

<p class=MsoNormal style='text-align:justify'><o:p>&nbsp;</o:p></p>

<p class=MsoNormal style='text-align:justify'><o:p>&nbsp;</o:p></p>

<p class=MsoNormal style='text-align:justify'><o:p>&nbsp;</o:p></p>

<p class=MsoNormal style='text-align:justify'><o:p>&nbsp;</o:p></p>

<p class=MsoNormal style='text-align:justify'><o:p>&nbsp;</o:p></p>

<p class=MsoNormal style='text-align:justify'><o:p>&nbsp;</o:p></p>

<p class=MsoNormal style='text-align:justify'><o:p>&nbsp;</o:p></p>

<p class=MsoNormal style='text-align:justify'><o:p>&nbsp;</o:p></p>

<p class=MsoNormal style='text-align:justify'><o:p>&nbsp;</o:p></p>

<p class=MsoNormal style='text-align:justify'><o:p>&nbsp;</o:p></p>

<p class=MsoNormal style='text-align:justify'><o:p>&nbsp;</o:p></p>

<p class=MsoNormal style='text-align:justify'><o:p>&nbsp;</o:p></p>

<p class=MsoNormal style='text-align:justify'><o:p>&nbsp;</o:p></p>

<p class=MsoNormal style='text-align:justify'><o:p>&nbsp;</o:p></p>

<br />
<br />
<br />

<p class=MsoFooter style="text-align:center">
    <span class=MsoPageNumber><span style='mso-no-proof:yes'>5</span></span>
</p>








