@model Tax.Portal.Models.PrintContractViewModel
@*
@Model.SinoszUserName
@Model.BirthName
@Model.MothersName
@Model.BirthDatas
@Model.HomeAddress
@Model.SinoszId
@Model.Email
@Model.Telephone
@Model.DateNow
@Model.SinoszUserName
@Model.SinoszUserName
@Model.HomeAddress
@Model.DeviceId
@Model.DateNow
@Model.SinoszUserName
*@
<p class=MsoHeader align=right style='text-align:right'>
    <span style='mso-ignore:vglayout;position:absolute;z-index:1;left:0px;margin-left:-44px;margin-top:27px;width:245px;height:70px'>
        <img width=245 height=70 src="@Url.Content("~/Content/images/sinosz_logo_felirattal.png")" v:shapes="Kép_x0020_23">
    </span>
    <span style='mso-tab-count:1'>                                                   </span>
    <b style='mso-bidi-font-weight:normal'>
        <span style='font-size:14.0pt;font-family:"Verdana","sans-serif"'>
            <img width=199 height=108 src="@Url.Content("~/Content/images/Kontakt_Tolmacsszolgalat_Logo.png")" /> @*v:shapes="_x0000_i1025">*@
        </span>
    </b>
</p>

<p class=MsoNormal align=center style='text-align:center'>
    <b style='mso-bidi-font-weight:normal'>
        <span style='font-size:15.0pt'>
            Készülék kölcsönzésére és használatára vonatkozó szerződés<o:p></o:p>
        <span />
    </b>
</p>

<p class=MsoNormal align=center style='text-align:center'>
    <span class=GramE>
        <b style='mso-bidi-font-weight:normal'>természetes</b>
    </span><b style='mso-bidi-font-weight:
normal'>személy felhasználók számára<o:p></o:p></b>
</p>

<p class=MsoNormal style='text-align:justify;tab-stops:412.7pt'>
    <span style='font-size:8.0pt'><span style='mso-tab-count:1'>                                                                                                                                                                                       </span><o:p></o:p></span>
</p>

<p class=MsoNormal style='text-align:justify'>
    <span class=GramE>
        <span style='font-size:14.0pt'>mely</span>
    </span><span style='font-size:14.0pt'>
        létrejött<o:p></o:p>
    </span>
</p>

<p class=MsoNormal style='text-align:justify'>
    <span class=GramE>
        <span style='font-size:14.0pt'>egyrészről</span>
    </span><span style='font-size:14.0pt'>
        az alább megjelölt <b style='mso-bidi-font-weight:normal'>Tulajdonos<o:p></o:p></b>
    </span>
</p>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0
       style='border-collapse:collapse;border:none;mso-border-alt:solid black .5pt;
 mso-yfti-tbllook:1184;mso-padding-alt:0cm 5.4pt 0cm 5.4pt;mso-border-insideh:
 .5pt solid black;mso-border-insidev:.5pt solid black'>
    <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes'>
        <td width=262 valign=top style='width:250pt;border:solid black 1.0pt;
  mso-border-alt:solid black .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <b style='mso-bidi-font-weight:
  normal'><span style='font-size:14.0pt'>Elnevezése:<o:p></o:p></span></b>
            </p>
        </td>
        <td width=417 valign=top style='width:300.6pt;border:solid black 1.0pt;
  border-left:none;mso-border-left-alt:solid black .5pt;mso-border-alt:solid black .5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoTitle style='text-align:justify;tab-stops:127.6pt'>
                <span style='font-size:14.0pt;letter-spacing:0pt;mso-font-width:100%'>
                    Siketek és
                    Nagyothallók Országos Szövetsége (SINOSZ)
                </span><span style='font-size:14.0pt;
  letter-spacing:0pt;mso-font-width:100%;font-weight:normal'><o:p></o:p></span>
            </p>
        </td>
    </tr>
    <tr style='mso-yfti-irow:1'>
        <td width=262 valign=top style='width:196.8pt;border:solid black 1.0pt;
  border-top:none;mso-border-top-alt:solid black .5pt;mso-border-alt:solid black .5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <b style='mso-bidi-font-weight:
  normal'><span style='font-size:14.0pt'>Székhelye:<o:p></o:p></span></b>
            </p>
        </td>
        <td width=417 valign=top style='width:312.6pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  mso-border-top-alt:solid black .5pt;mso-border-left-alt:solid black .5pt;
  mso-border-alt:solid black .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoTitle style='text-align:justify;tab-stops:127.6pt'>
                <span style='font-size:14.0pt;letter-spacing:0pt;mso-font-width:100%;font-weight:
  normal;mso-bidi-font-weight:bold'>1068 Budapest, Benczúr u. 21.<o:p></o:p></span>
            </p>
        </td>
    </tr>
    <tr style='mso-yfti-irow:2'>
        <td width=262 valign=top style='width:196.8pt;border:solid black 1.0pt;
  border-top:none;mso-border-top-alt:solid black .5pt;mso-border-alt:solid black .5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <b style='mso-bidi-font-weight:
  normal'><span style='font-size:14.0pt'>Képviselője:<o:p></o:p></span></b>
            </p>
        </td>
        <td width=417 valign=top style='width:312.6pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  mso-border-top-alt:solid black .5pt;mso-border-left-alt:solid black .5pt;
  mso-border-alt:solid black .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <span style='font-size:14.0pt'>
                    dr.
                    <st1:personname productid="K&#65523;sa &#65473;d&#65505;m" w:st="on">
                        Kósa
                        Ádám
                    </st1:personname> országos elnök<o:p></o:p>
                </span>
            </p>
        </td>
    </tr>
    <tr style='mso-yfti-irow:3'>
        <td width=262 valign=top style='width:196.8pt;border:solid black 1.0pt;
  border-top:none;mso-border-top-alt:solid black .5pt;mso-border-alt:solid black .5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <b style='mso-bidi-font-weight:
  normal'><span style='font-size:14.0pt'>Jelen szerződéskötés során képviseli:<o:p></o:p></span></b>
            </p>
        </td>
        <td width=417 valign=top style='width:312.6pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  mso-border-top-alt:solid black .5pt;mso-border-left-alt:solid black .5pt;
  mso-border-alt:solid black .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <span class=SpellE>
                    <span style='font-size:14.0pt'>Ormódi</span>
                </span><span style='font-size:14.0pt'>
                    Róbert általános meghatalmazással<o:p></o:p>
                </span>
            </p>
        </td>
    </tr>
    <tr style='mso-yfti-irow:4'>
        <td width=262 valign=top style='width:196.8pt;border:solid black 1.0pt;
  border-top:none;mso-border-top-alt:solid black .5pt;mso-border-alt:solid black .5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <b style='mso-bidi-font-weight:
  normal'><span style='font-size:14.0pt'>Országos nyilvántartásbeli azonosító:<o:p></o:p></span></b>
            </p>
        </td>
        <td width=417 valign=top style='width:312.6pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  mso-border-top-alt:solid black .5pt;mso-border-left-alt:solid black .5pt;
  mso-border-alt:solid black .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoTitle align=left style='text-align:left;tab-stops:127.6pt'>
                <span class=SpellE>
                    <span style='font-size:14.0pt;letter-spacing:0pt;mso-font-width:
  100%;font-weight:normal;mso-bidi-font-weight:bold'>Pk</span>
                </span><span style='font-size:14.0pt;letter-spacing:0pt;mso-font-width:100%;font-weight:
  normal;mso-bidi-font-weight:bold'>. 60331/1989.</span><span style='font-size:
  14.0pt;letter-spacing:0pt;mso-font-width:100%;font-weight:normal'><o:p></o:p></span>
            </p>
        </td>
    </tr>
    <tr style='mso-yfti-irow:5'>
        <td width=262 valign=top style='width:196.8pt;border:solid black 1.0pt;
  border-top:none;mso-border-top-alt:solid black .5pt;mso-border-alt:solid black .5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <b style='mso-bidi-font-weight:
  normal'><span style='font-size:14.0pt'>E-mail címe:<o:p></o:p></span></b>
            </p>
        </td>
        <td width=417 valign=top style='width:312.6pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  mso-border-top-alt:solid black .5pt;mso-border-left-alt:solid black .5pt;
  mso-border-alt:solid black .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'><span style='font-size:14.0pt'>info@sinosz.hu<o:p></o:p></span></p>
        </td>
    </tr>
    <tr style='mso-yfti-irow:6;mso-yfti-lastrow:yes'>
        <td width=262 valign=top style='width:196.8pt;border:solid black 1.0pt;
  border-top:none;mso-border-top-alt:solid black .5pt;mso-border-alt:solid black .5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <b style='mso-bidi-font-weight:
  normal'><span style='font-size:14.0pt'>Telefon száma:<o:p></o:p></span></b>
            </p>
        </td>
        <td width=417 valign=top style='width:312.6pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  mso-border-top-alt:solid black .5pt;mso-border-left-alt:solid black .5pt;
  mso-border-alt:solid black .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'><span style='font-size:14.0pt'>(06-1)351-04-34<o:p></o:p></span></p>
        </td>
    </tr>
</table>

<p class=MsoNormal style='text-align:justify'><span style='font-size:8.0pt'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'>
    <span class=GramE>
        <span style='font-size:14.0pt'>másrészről</span>
    </span><span style='font-size:14.0pt'>
        az alább megjelölt <b style='mso-bidi-font-weight:normal'>Használó</b><o:p></o:p>
    </span>
</p>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0
       style='border-collapse:collapse;border:none;mso-border-alt:solid black .5pt;
 mso-yfti-tbllook:1184;mso-padding-alt:0cm 5.4pt 0cm 5.4pt;mso-border-insideh:
 .5pt solid black;mso-border-insidev:.5pt solid black'>
    <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes'>
        <td width=262 valign=top style='width:250pt;border:solid black 1.0pt;
  mso-border-alt:solid black .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <b style='mso-bidi-font-weight:
  normal'><span style='font-size:14.0pt'>Név:<o:p></o:p></span></b>
            </p>
        </td>
        <td width=417 valign=top style='width:300pt;border:solid black 1.0pt;
  border-left:none;mso-border-left-alt:solid black .5pt;mso-border-alt:solid black .5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <b style='mso-bidi-font-weight:
  normal'><span style='font-size:14.0pt'>@Model.SinoszUserName<o:p>&nbsp;</o:p></span></b>
            </p>
        </td>
    </tr>
    <tr style='mso-yfti-irow:1'>
        <td width=262 valign=top style='width:196.8pt;border:solid black 1.0pt;
  border-top:none;mso-border-top-alt:solid black .5pt;mso-border-alt:solid black .5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <b style='mso-bidi-font-weight:
  normal'><span style='font-size:14.0pt'>Születési név:<o:p></o:p></span></b>
            </p>
        </td>
        <td width=417 valign=top style='width:312.6pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  mso-border-top-alt:solid black .5pt;mso-border-left-alt:solid black .5pt;
  mso-border-alt:solid black .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <b style='mso-bidi-font-weight:
  normal'><span style='font-size:14.0pt'>@Model.BirthName<o:p>&nbsp;</o:p></span></b>
            </p>
        </td>
    </tr>
    <tr style='mso-yfti-irow:2'>
        <td width=262 valign=top style='width:196.8pt;border:solid black 1.0pt;
  border-top:none;mso-border-top-alt:solid black .5pt;mso-border-alt:solid black .5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <b style='mso-bidi-font-weight:
  normal'><span style='font-size:14.0pt'>Anyja neve:<o:p></o:p></span></b>
            </p>
        </td>
        <td width=417 valign=top style='width:312.6pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  mso-border-top-alt:solid black .5pt;mso-border-left-alt:solid black .5pt;
  mso-border-alt:solid black .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <b style='mso-bidi-font-weight:
  normal'><span style='font-size:14.0pt'>@Model.MothersName<o:p></o:p></span></b>
            </p>
        </td>
    </tr>
    <tr style='mso-yfti-irow:3'>
        <td width=262 valign=top style='width:196.8pt;border:solid black 1.0pt;
  border-top:none;mso-border-top-alt:solid black .5pt;mso-border-alt:solid black .5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <b style='mso-bidi-font-weight:
  normal'><span style='font-size:14.0pt'>Születési helye, ideje:<o:p></o:p></span></b>
            </p>
        </td>
        <td width=417 valign=top style='width:312.6pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  mso-border-top-alt:solid black .5pt;mso-border-left-alt:solid black .5pt;
  mso-border-alt:solid black .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <b style='mso-bidi-font-weight:
  normal'><span style='font-size:14.0pt'>@Model.BirthDatas<o:p></o:p></span></b>
            </p>
        </td>
    </tr>
    <tr style='mso-yfti-irow:4'>
        <td width=262 valign=top style='width:196.8pt;border:solid black 1.0pt;
  border-top:none;mso-border-top-alt:solid black .5pt;mso-border-alt:solid black .5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <b style='mso-bidi-font-weight:
  normal'><span style='font-size:14.0pt'>Lakóhelye:<o:p></o:p></span></b>
            </p>
        </td>
        <td width=417 valign=top style='width:312.6pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  mso-border-top-alt:solid black .5pt;mso-border-left-alt:solid black .5pt;
  mso-border-alt:solid black .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <b style='mso-bidi-font-weight:
  normal'><span style='font-size:14.0pt'>@Model.HomeAddress<o:p></o:p></span></b>
            </p>
        </td>
    </tr>
    <tr style='mso-yfti-irow:5'>
        <td width=262 valign=top style='width:196.8pt;border:solid black 1.0pt;
  border-top:none;mso-border-top-alt:solid black .5pt;mso-border-alt:solid black .5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <b style='mso-bidi-font-weight:
  normal'><span style='font-size:14.0pt'>SINOSZ tagsági száma:<o:p></o:p></span></b>
            </p>
        </td>
        <td width=417 valign=top style='width:312.6pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  mso-border-top-alt:solid black .5pt;mso-border-left-alt:solid black .5pt;
  mso-border-alt:solid black .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <b style='mso-bidi-font-weight:
  normal'><span style='font-size:14.0pt'>@Model.SinoszId<o:p></o:p></span></b>
            </p>
        </td>
    </tr>
    <tr style='mso-yfti-irow:6'>
        <td width=262 valign=top style='width:196.8pt;border:solid black 1.0pt;
  border-top:none;mso-border-top-alt:solid black .5pt;mso-border-alt:solid black .5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <b style='mso-bidi-font-weight:
  normal'><span style='font-size:14.0pt'>E-mail címe:<o:p></o:p></span></b>
            </p>
        </td>
        <td width=417 valign=top style='width:312.6pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  mso-border-top-alt:solid black .5pt;mso-border-left-alt:solid black .5pt;
  mso-border-alt:solid black .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <b style='mso-bidi-font-weight:
  normal'><span style='font-size:14.0pt'>@Model.Email<o:p></o:p></span></b>
            </p>
        </td>
    </tr>
    <tr style='mso-yfti-irow:7;mso-yfti-lastrow:yes'>
        <td width=262 valign=top style='width:196.8pt;border:solid black 1.0pt;
  border-top:none;mso-border-top-alt:solid black .5pt;mso-border-alt:solid black .5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <b style='mso-bidi-font-weight:
  normal'><span style='font-size:14.0pt'>Telefon száma:<o:p></o:p></span></b>
            </p>
        </td>
        <td width=417 valign=top style='width:312.6pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  mso-border-top-alt:solid black .5pt;mso-border-left-alt:solid black .5pt;
  mso-border-alt:solid black .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal style='text-align:justify'>
                <b style='mso-bidi-font-weight:
  normal'><span style='font-size:14.0pt'>@Model.Telephone<o:p></o:p></span></b>
            </p>
        </td>
    </tr>
</table>

<p class=MsoNormal style='text-align:justify'><span style='font-size:8.0pt'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'>
    <span class=GramE>
        <span style='font-size:14.0pt'>együttesen</span>
    </span><span style='font-size:14.0pt'>
        ,
        mint felek között alulírott helyen és napon az alábbi feltételekkel. <o:p></o:p>
    </span>
</p>

<p class=MsoNormal style='text-align:justify'>
    <b style='mso-bidi-font-weight:
normal'><span style='font-size:14.0pt'><o:p>&nbsp;</o:p></span></b>
</p>

<p class=MsoNormal style='text-align:justify'>
    <b style='mso-bidi-font-weight:
normal'><span style='font-size:14.0pt'>1. Előzmény<o:p></o:p></span></b>
</p>

<p class=MsoNormal style='text-align:justify'>
    <span style='font-size:14.0pt'>
        Felek
        rögzítik, hogy Tulajdonos az infokommunikációs akadálymentesítés elősegítése
        érdekében teszt jelleggel „a jelnyelvi tolmácsszolgálatok fejlesztése video
        alapú jelnyelvi tolmácsolás és szöveges operátori szolgáltatások bevezetésével”
        című, TIOP-3.3.1<span class=GramE>.B-12</span>/1-2012-0001 számú támogatott
        projekt keretében ún. KONTAKT Tolmácsszolgálatot üzemeltet hallássérült
        természetes személy felhasználók részére. Felek rögzítik továbbá, <span class=GramE>hogy</span> jelen szerződés létrejöttének és fenntartásának
        feltétele, hogy a projekthez kapcsolódóan Használó a Tulajdonossal a külön
        szolgáltatási szerződést (a továbbiakban: <b style='mso-bidi-font-weight:normal'>
            Szolgáltatási
            szerződés
        </b>) megkösse és az alapján a KONTAKT Tolmácsszolgálat elfogadott
        regisztrációval rendelkező felhasználója legyen. <o:p></o:p>
    </span>
</p>

<p class=MsoNormal style='text-align:justify'>
    <span style='font-size:14.0pt'>
        Használó
        kijelenti és szavatolja, hogy a Szolgáltatási szerződés közte és a Tulajdonos
        között létrejött, a KONTAKT Tolmácsszolgálat elfogadott regisztrációval
        rendelkező felhasználója. <o:p></o:p>
    </span>
</p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:14.0pt'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'>
    <st1:metricconverter productid="2. A" w:st="on">
        <b style='mso-bidi-font-weight:normal'>
            <span style='font-size:14.0pt'>2.</span>
        </b><span style='font-size:14.0pt'>
            <b style='mso-bidi-font-weight:normal'>A</b>
        </span>
    </st1:metricconverter><b style='mso-bidi-font-weight:normal'>
        <span style='font-size:14.0pt'>
            szerződés
            időtartama<o:p></o:p>
        </span>
    </b>
</p>

<p class=MsoNormal style='text-align:justify'>
    <span style='font-size:14.0pt'>
        Felek
        megállapodása alapján jelen szerződés a mindkét fél általi aláírás napján lép
        hatályba és a 2015. február 1. napjáig tartó határozott időtartamra jön létre. <o:p></o:p>
    </span>
</p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:14.0pt'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'>
    <st1:metricconverter productid="3. A" w:st="on">
        <b style='mso-bidi-font-weight:normal'>
            <span style='font-size:14.0pt'>3.</span>
        </b><span style='font-size:14.0pt'>
            <b style='mso-bidi-font-weight:normal'>A</b>
        </span>
    </st1:metricconverter><b style='mso-bidi-font-weight:normal'>
        <span style='font-size:14.0pt'>
            szerződés
            tárgya<o:p></o:p>
        </span>
    </b>
</p>

<p class=MsoNormal style='text-align:justify'>
    <span style='font-size:14.0pt'>
        Felek
        megállapodása alapján Tulajdonos a kizárólagos tulajdonát képező és a KONTAKT
        Tolmácsszolgálat szolgáltatásainak igénybevételére alkalmas ASUS <span class=SpellE>Fonepad</span> 7 HD típusú készüléket, valamint annak a jelen
        szerződés elválaszthatatlan mellékletét képező átadás-átvételi jegyzőkönyvben
        rögzített tartozékait (a továbbiakban együttesen: Készülék) Használó
        használatába bocsátja az 1. pontban meghatározott projekt tesztelése érdekében
        a 2. pontban meghatározott időtartamra. <o:p></o:p>
    </span>
</p>

<br />
<br />

<p class=MsoFooter style="text-align:center">
    <span class=MsoPageNumber><span style='mso-no-proof:yes'>1</span></span>
</p>

<p class=MsoNormal style='text-align:justify'><o:p>&nbsp;</o:p></p>

<p class=MsoHeader align=right style='text-align:right'>
    <span style='mso-ignore:vglayout;position:absolute;z-index:1;left:0px;margin-left:-44px;margin-top:27px;width:245px;height:70px'>
        <img width=245 height=70 src="@Url.Content("~/Content/images/sinosz_logo_felirattal.png")" v:shapes="Kép_x0020_23">
    </span>
    <span style='mso-tab-count:1'>                                                   </span>
    <b style='mso-bidi-font-weight:normal'>
        <span style='font-size:14.0pt;font-family:"Verdana","sans-serif"'>
            <img width=199 height=108 src="@Url.Content("~/Content/images/Kontakt_Tolmacsszolgalat_Logo.png")" v:shapes="_x0000_i1025">
        </span>
    </b>
</p>

<p class=MsoNormal style='text-align:justify'>
    <span style='font-size:14.0pt'>
        Tulajdonos
        a jelen szerződés aláírásával egyidejűleg a mellékelt átadás-átvételi
        jegyzőkönyv szerint – a Készülék tulajdonjogának érintése nélkül – Használó
        birtokába és használatába adja a Készüléket. Használó a jelen szerződés
        aláírásával a Készülék átvételét elismeri és nyugtázza. <o:p></o:p>
    </span>
</p>

<p class=MsoNormal style='text-align:justify'>
    <b style='mso-bidi-font-weight:
normal'><span style='font-size:14.0pt'><o:p>&nbsp;</o:p></span></b>
</p>

<p class=MsoNormal style='text-align:justify'>
    <span style='font-size:14.0pt'>
        A
        készülék beüzemelésével és használatával kapcsolatosan a jelen szerződésre
        vonatkozó általános szerződési feltételek (ÁSZF) szerint Tulajdonos – Használó
        erre vonatkozó igénye esetén – segítséget nyújt (ÁSZF VI/5 pont). <o:p></o:p>
    </span>
</p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:8.0pt'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'>
    <span style='font-size:14.0pt'>
        Használó
        tudomásul veszi Tulajdonos azon tájékoztatását, mely szerint a Készülék használatához
        internet elérésre van szükség. A készülék az internetre kapcsolódni egyaránt
        képes <span class=SpellE>WiFi-n</span>, és mobil szolgáltatón keresztül, ún. <span class=SpellE>micro</span> SIM kártya behelyezését követően. A megfelelő
        sávszélességű internet hozzáférés biztosítása a Szolgáltatási szerződésben és
        az <span class=SpellE>ÁSZF-ben</span> meghatározottak szerint Használó
        kötelezettsége saját költségén. Felek kifejezetten rögzítik, hogy az internet-szolgáltatás
        fenntartásának költségei Használót terhelik, azok Tulajdonosra át nem
        háríthatóak.<o:p></o:p>
    </span>
</p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:14.0pt'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'>
    <b style='mso-bidi-font-weight:
normal'><span style='font-size:14.0pt'>4.</span></b><span style='font-size:
14.0pt'><b style='mso-bidi-font-weight:normal'>Díjazás<o:p></o:p></b></span>
</p>

<p class=MsoNormal style='text-align:justify'>
    <span style='font-size:14.0pt'>
        Felek
        kifejezetten rögzítik, hogy Tulajdonos a Készüléket ellenérték nélkül adja át
        Használó részére, azért Használó jelen szerződés időtartama alatt díjfizetésre
        nem köteles.<o:p></o:p>
    </span>
</p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:14.0pt'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'>
    <b style='mso-bidi-font-weight:
normal'><span style='font-size:14.0pt'>5.</span></b><span style='font-size:
14.0pt'><b style='mso-bidi-font-weight:normal'>Használó kötelezettségei: <o:p></o:p></b></span>
</p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:8.0pt'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'>
    <span style='font-size:14.0pt'>
        Használót
        jelen szerződéses jogviszony fennállása alatt az alábbi kötelezettségek
        terhelik:<o:p></o:p>
    </span>
</p>

<p class=MsoNormal style='text-align:justify'>
    <span class=GramE>
        <b style='mso-bidi-font-weight:normal'><span style='font-size:14.0pt'>a</span></b>
    </span><b style='mso-bidi-font-weight:normal'><span style='font-size:14.0pt'>)</span></b><span style='font-size:14.0pt'>
        a Készülék állagának megóvása és rendeltetésszerű
        használata. <o:p></o:p>
    </span>
</p>

<p class=MsoNormal style='text-align:justify'>
    <span style='font-size:14.0pt'>
        A
        Használó köteles saját költségén a Készüléket karbantartani, állagát megóvni,
        azt rendeltetésszerűen használni. <o:p></o:p>
    </span>
</p>

<p class=MsoNormal style='text-align:justify'>
    <span style='font-size:14.0pt'>
        Felek
        kifejezetten rögzítik, hogy Használó nem <span class=GramE>telepíthet</span> és
        nem futtathat illegális tartalmakat a készüléken <span style='mso-spacerun:yes'></span>(ÁSZF IV/8.2.a) pont).<o:p></o:p>
    </span>
</p>

<p class=MsoNormal style='text-align:justify'>
    <span style='font-size:14.0pt'>
        Amennyiben
        Használó a jelen alpontban meghatározott kötelezettségeinek nem tesz eleget,
        úgy Tulajdonos jogosult jelen szerződést azonnali hatállyal felmondani, ez
        esetben Használó köteles a Készüléket a felmondástól számított 3 munkanapon
        belül a rendeltetésszerű használatnak megfelelő állapotban átadás-átvételi
        jegyzőkönyv felvétele mellett Tulajdonosnak visszaadni.<o:p></o:p>
    </span>
</p>

<p class=MsoNormal style='text-align:justify'>
    <span style='font-size:14.0pt'>
        Használó
        – függetlenül attól, hogy Tulajdonos él-e az azonnali hatályú felmondás jogával
        – köteles a szerződésszegésből eredő károkat a polgári jog szabályai szerint
        megtéríteni, valamint viselni valamennyi magatartásával összefüggésben
        felmerülő hátrányos jogkövetkezményt.<b style='mso-bidi-font-weight:normal'><o:p></o:p></b>
    </span>
</p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:8.0pt'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'>
    <b style='mso-bidi-font-weight:
normal'><span style='font-size:14.0pt'>b)</span></b><span style='font-size:
14.0pt'>
        <span class=GramE>A</span> Készülék megrongálódása, meghibásodása,
        megsemmisülése, Használó birtokából való kikerülése, egyéb, a Készüléket érintő
        lényeges körülmény esetén haladéktalan bejelentési, kárenyhítési,
        együttműködési kötelezettség (ÁSZF IV/8.2.b) pont) a Tulajdonos felé.<o:p></o:p>
    </span>
</p>

<p class=MsoNormal style='text-align:justify'>
    <span style='font-size:14.0pt'>
        Amennyiben
        Használó a jelen alpontban meghatározott kötelezettségeinek nem tesz eleget,
        úgy Tulajdonos jogosult jelen szerződést azonnali hatállyal felmondani, ez esetben
        Használó köteles a Készüléket a felmondástól számított 3 munkanapon belül a
        rendeltetésszerű használatnak megfelelő állapotban átadás-átvételi jegyzőkönyv
        felvétele mellett Tulajdonosnak visszaadni.<o:p></o:p>
    </span>
</p>

<p class=MsoNormal style='text-align:justify'>
    <span style='font-size:14.0pt'>
        Használó
        – függetlenül attól, hogy Tulajdonos él-e az azonnali hatályú felmondás jogával
        – köteles a szerződésszegésből eredő károkat a polgári jog szabályai szerint
        megtéríteni, valamint viselni valamennyi magatartásával összefüggésben
        felmerülő hátrányos jogkövetkezményt.<b style='mso-bidi-font-weight:normal'><o:p></o:p></b>
    </span>
</p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:8.0pt'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'>
    <b style='mso-bidi-font-weight:
normal'><span style='font-size:14.0pt'>c) </span></b><span style='font-size:
14.0pt'>
        folyamatos együttműködés a KONTAKT Tolmácsszolgálattal a Szolgáltatási
        szerződés 7. pontjában meghatározottak szerint (ÁSZF IV/8.2<span class=GramE>.c</span>)
        pont). Amennyiben
        Használó ismételten nem tesz megfelelően eleget a Szolgáltatási szerződésben
        meghatározott igénybevételi és visszajelzési kötelezettségének, Tulajdonos
        jogosult jelen szerződést azonnali hatállyal felmondani,<b style='mso-bidi-font-weight:normal'> <o:p></o:p></b>
    </span>
</p>

<p class=MsoFooter style="text-align:center">
    <span class=MsoPageNumber><span style='mso-no-proof:yes'>2</span></span>
</p>

<p class=MsoNormal style='text-align:justify'><o:p>&nbsp;</o:p></p>

<p class=MsoHeader align=right style='text-align:right'>
    <span style='mso-ignore:vglayout;position:absolute;z-index:1;left:0px;margin-left:-44px;margin-top:27px;width:245px;height:70px'>
        <img width=245 height=70 src="@Url.Content("~/Content/images/sinosz_logo_felirattal.png")" v:shapes="Kép_x0020_23">
    </span>
    <span style='mso-tab-count:1'>                                                   </span>
    <b style='mso-bidi-font-weight:normal'>
        <span style='font-size:14.0pt;font-family:"Verdana","sans-serif"'>
            <img width=199 height=108 src="@Url.Content("~/Content/images/Kontakt_Tolmacsszolgalat_Logo.png")" v:shapes="_x0000_i1025">
        </span>
    </b>
</p>

<p class=MsoNormal style='text-align:justify'>
    <span style='font-size:14.0pt'>
        ez esetben Használó
        köteles a Készüléket a felmondástól számított 3 munkanapon belül a
        rendeltetésszerű használatnak megfelelő állapotban átadás-átvételi jegyzőkönyv
        felvétele mellett Tulajdonosnak visszaadni. <o:p></o:p>
    </span>
</p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:8.0pt'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'>
    <b style='mso-bidi-font-weight:
normal'><span style='font-size:14.0pt'>d)</span></b><span style='font-size:
14.0pt'>
        <span class=GramE>A</span> jelen szerződés időtartama alatt
        kizárólagosan Használó jogosult a készülék használatára, a Készüléket Használó
        más harmadik személynek – az ÁSZF III/8.d) pontjában meghatározott sürgős eset
        kivételével – nem adhatja át (ÁSZF IV/8.2.d) pont). <o:p></o:p>
    </span>
</p>

<p class=MsoNormal style='text-align:justify'>
    <span style='font-size:14.0pt'>
        Amennyiben
        Használó a jelen alpontban rögzített kötelezettségét megszegi, köteles az ebből
        eredő károkat megtéríteni. Ismételt esetben Tulajdonos jogosult jelen
        szerződést azonnali hatállyal felmondani, ez esetben Használó köteles a
        Készüléket a felmondástól számított 3 munkanapon belül a rendeltetésszerű
        használatnak megfelelő állapotban átadás-átvételi jegyzőkönyv felvétele mellett
        Tulajdonosnak visszaadni.<o:p></o:p>
    </span>
</p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:14.0pt'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'>
    <span style='font-size:14.0pt'>
        Felek
        megállapodása alapján amennyiben Használó a Készüléket a jelen pont a-d)
        alpontjaiban meghatározott határidőben nem adja Tulajdonos birtokába, úgy
        köteles a késedelem időtartamára napi 5.000,- <span class=GramE>Ft ,</span> de
        maximum 25.000,- Ft kötbért a Tulajdonosnak megfizetni, 5 napot meghaladó
        késedelem esetén ezen felül köteles a Készülék átadás-átvételi jegyzőkönyvben
        meghatározott értékét is Tulajdonosnak megtéríteni.<o:p></o:p>
    </span>
</p>

<p class=MsoNormal style='text-align:justify'>
    <b style='mso-bidi-font-weight:
normal'><span style='font-size:14.0pt'><o:p>&nbsp;</o:p></span></b>
</p>

<p class=MsoNormal style='text-align:justify'>
    <b style='mso-bidi-font-weight:
normal'><span style='font-size:14.0pt'>6. Kárveszély viselése<o:p></o:p></span></b>
</p>

<p class=MsoNormal style='text-align:justify'>
    <span style='font-size:14.0pt'>
        Felek
        megállapodása alapján a Készülékkel kapcsolatos kárveszélyt a Készülék
        átvételétől kezdve a Használó viseli (ÁSZF IV/9. pont), erre tekintettel
        köteles a Tulajdonosnak megtéríteni minden olyan, a Készülékben beállott kárt –
        ideértve a Készülék megsemmisüléséből, elvesztéséből vagy ellopásából eredő
        kárt is –, melynek megtérítésére más nem <span class=GramE>kötelezhető .</span><o:p></o:p>
    </span>
</p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:14.0pt'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'>
    <st1:metricconverter productid="7. A" w:st="on">
        <b style='mso-bidi-font-weight:normal'>
            <span style='font-size:14.0pt'>7. A</span>
        </b>
    </st1:metricconverter><b style='mso-bidi-font-weight:normal'>
        <span style='font-size:14.0pt'>
            szerződés
            megszűnése illetőleg megszüntetése: <o:p></o:p>
        </span>
    </b>
</p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:14.0pt'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;text-indent:7.1pt'>
    <b style='mso-bidi-font-weight:normal'>
        <span style='font-size:14.0pt'>
            7.1 Jelen
            szerződés az alábbi esetekben szűnik meg: <o:p></o:p>
        </span>
    </b>
</p>

<p class=MsoNormal style='margin-left:54.0pt;text-align:justify;text-indent:
-18.0pt;mso-list:l9 level2 lfo1'>
    <![if !supportLists]><b style='mso-bidi-font-weight:
normal'>
        <span style='font-size:14.0pt;mso-fareast-font-family:"Times New Roman"'>
            <span style='mso-list:Ignore'>
                a)<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>
        </span>
    </b><![endif]><span style='font-size:14.0pt'>
        a határozott
        idő lejártával,<b style='mso-bidi-font-weight:normal'><o:p></o:p></b>
    </span>
</p>

<p class=MsoNormal style='margin-left:54.0pt;text-align:justify;text-indent:
-18.0pt;mso-list:l9 level2 lfo1'>
    <![if !supportLists]><b style='mso-bidi-font-weight:
normal'>
        <span style='font-size:14.0pt;mso-fareast-font-family:"Times New Roman"'>
            <span style='mso-list:Ignore'>
                b)<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>
        </span>
    </b><![endif]><span style='font-size:14.0pt'>
        Használó SINOSZ
        tagságának bármely okból történő megszűnésével,<b style='mso-bidi-font-weight:
normal'><o:p></o:p></b>
    </span>
</p>

<p class=MsoNormal style='margin-left:54.0pt;text-align:justify;text-indent:
-18.0pt;mso-list:l9 level2 lfo1'>
    <![if !supportLists]><b style='mso-bidi-font-weight:
normal'>
        <span style='font-size:14.0pt;mso-fareast-font-family:"Times New Roman"'>
            <span style='mso-list:Ignore'>
                c)<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>
        </span>
    </b><![endif]><span style='font-size:14.0pt'>
        Használó
        halálával,<b style='mso-bidi-font-weight:normal'><o:p></o:p></b>
    </span>
</p>

<p class=MsoNormal style='margin-left:54.0pt;text-align:justify;text-indent:
-18.0pt;mso-list:l9 level2 lfo1'>
    <![if !supportLists]><b style='mso-bidi-font-weight:
normal'>
        <span style='font-size:14.0pt;mso-fareast-font-family:"Times New Roman"'>
            <span style='mso-list:Ignore'>
                d)<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>
        </span>
    </b><![endif]><span style='font-size:14.0pt'>
        Tulajdonos
        jogutód nélkül történő megszűnésével,<b style='mso-bidi-font-weight:normal'><o:p></o:p></b>
    </span>
</p>

<p class=MsoNormal style='margin-left:54.0pt;text-align:justify;text-indent:
-18.0pt;mso-list:l9 level2 lfo1'>
    <![if !supportLists]><b style='mso-bidi-font-weight:
normal'>
        <span style='font-size:14.0pt;mso-fareast-font-family:"Times New Roman"'>
            <span style='mso-list:Ignore'>
                e)<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>
        </span>
    </b><![endif]><span style='font-size:14.0pt'>
        ha a
        Szolgáltatási szerződés bármely okból megszűnik,<b style='mso-bidi-font-weight:
normal'><o:p></o:p></b>
    </span>
</p>

<p class=MsoNormal style='margin-left:54.0pt;text-align:justify;text-indent:
-18.0pt;mso-list:l9 level2 lfo1'>
    <![if !supportLists]><b style='mso-bidi-font-weight:
normal'>
        <span style='font-size:14.0pt;mso-fareast-font-family:"Times New Roman"'>
            <span style='mso-list:Ignore'>
                f)<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>
        </span>
    </b><![endif]><span style='font-size:14.0pt'>
        a készülék
        megsemmisülésével illetőleg elvesztésével (ideértve ellopás esetét is). <b style='mso-bidi-font-weight:normal'><o:p></o:p></b>
    </span>
</p>

<p class=MsoNormal style='margin-left:36.0pt;text-align:justify'>
    <span style='font-size:14.0pt'>
        Felek ismételten kifejezetten rögzítik, hogy a
        készülék megsemmisülése, illetőleg elvesztése esetén Használó a Tulajdonos felé
        kártérítési felelősséggel tartozik. Rögzítik továbbá felek, hogy a Készülék
        megsemmisülése illetőleg elvesztése esetén Tulajdonos a készülék pótlására nem
        köteles. <b style='mso-bidi-font-weight:normal'><o:p></o:p></b>
    </span>
</p>

<p class=MsoNormal style='text-align:justify;text-indent:7.1pt'>
    <b style='mso-bidi-font-weight:normal'>
        <span style='font-size:14.0pt'>
            7.2 Jelen
            szerződés az alábbi esetekben szüntethető meg:<o:p></o:p>
        </span>
    </b>
</p>

<p class=MsoNormal style='margin-left:36.0pt;text-align:justify'>
    <span class=GramE><b style='mso-bidi-font-weight:normal'><span style='font-size:14.0pt'>a</span></b></span><b style='mso-bidi-font-weight:normal'><span style='font-size:14.0pt'>)</span></b><span style='font-size:14.0pt'>felek közös megegyezésével,<o:p></o:p></span>
</p>

<p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:
17.4pt'>
    <b style='mso-bidi-font-weight:normal'><span style='font-size:14.0pt'>b</span></b><span style='font-size:14.0pt'>
        ) súlyos szerződésszegés esetén azonnali hatályú
        felmondással,<o:p></o:p>
    </span>
</p>

<p class=MsoNormal style='margin-left:35.4pt;text-align:justify'>
    <span style='font-size:14.0pt'>
        c) amennyiben a Használó az adatkezeléshez adott
        hozzájárulását visszavonja, vagy adatai törlését, zárolását kéri és ezen
        bármely kérése a Szolgáltatót <span class=GramE>
            a<span style='mso-spacerun:yes'></span>szerződés
        </span> teljesítésében gátolja vagy
        akadályozza, SINOSZ azonnali hatályú felmondásával.<o:p></o:p>
    </span>
</p>

<p class=MsoNormal style='margin-left:35.4pt;text-align:justify'>
    <span style='font-size:14.0pt'>
        d) a jelen szerződés 1. pontjában leírt projekt
        forrásainak bármely okból történő megszűnése vagy a projekt fenntarthatóságát
        érintő csökkenése esetén, Szolgáltató azonnali hatályú felmondásával.<o:p></o:p>
    </span>
</p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:14.0pt'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'>
    <span style='font-size:14.0pt'>
        Felek
        kifejezetten rögzítik, hogy jelen szerződés bármely okból történő megszűnése
        nem jelenti egyben a Szolgáltatási szerződés megszűnését is. <span style='mso-spacerun:yes'></span>A Szolgáltatási szerződés megszűnésére a Szolgáltatási
        szerződés 9. pontjában rögzítettek az irányadók.<o:p></o:p>
    </span>
</p>

<p class=MsoFooter style="text-align:center">
    <span class=MsoPageNumber><span style='mso-no-proof:yes'>3</span></span>
</p>

<p class=MsoNormal style='text-align:justify'><o:p>&nbsp;</o:p></p>

<p class=MsoHeader align=right style='text-align:right'>
    <span style='mso-ignore:vglayout;position:absolute;z-index:1;left:0px;margin-left:-44px;margin-top:27px;width:245px;height:70px'>
        <img width=245 height=70 src="@Url.Content("~/Content/images/sinosz_logo_felirattal.png")" v:shapes="Kép_x0020_23">
    </span>
    <span style='mso-tab-count:1'>                                                   </span>
    <b style='mso-bidi-font-weight:normal'>
        <span style='font-size:14.0pt;font-family:"Verdana","sans-serif"'>
            <img width=199 height=108 src="@Url.Content("~/Content/images/Kontakt_Tolmacsszolgalat_Logo.png")" v:shapes="_x0000_i1025">
        </span>
    </b>
</p>

<p class=MsoNormal style='margin-left:35.4pt;text-align:justify'>
    <span style='font-size:14.0pt'><o:p>&nbsp;</o:p></span>
</p>

<p class=MsoNormal style='text-align:justify'>
    <span style='font-size:14.0pt'>
        Használó
        kifejezetten kötelezettséget vállal arra, hogy a jelen szerződés bármely okból
        történő megszűnésétől számított 3 munkanapon belül a Készüléket a
        rendeltetésszerű használatnak megfelelő állapotban átadás-átvételi jegyzőkönyv
        felvétele mellett Tulajdonosnak visszaadja.<o:p></o:p>
    </span>
</p>

<p class=MsoNormal style='text-align:justify'>
    <span style='font-size:14.0pt'>
        Felek
        megállapodása alapján amennyiben Használó a Készüléket a fent meghatározott
        határidőben nem adja Tulajdonos birtokába, úgy köteles a késedelem időtartamára
        napi 5.000,- Ft, de maximum 25.000,- Ft kötbért Tulajdonosnak megfizetni, 5
        napot meghaladó késedelem esetén ezen felül köteles a Készülék átadás-átvételi
        jegyzőkönyvben meghatározott értékét Tulajdonosnak megtéríteni.<o:p></o:p>
    </span>
</p>

<p class=MsoNormal style='text-align:justify'>
    <b style='mso-bidi-font-weight:
normal'><span style='font-size:14.0pt'><o:p>&nbsp;</o:p></span></b>
</p>

<p class=MsoNormal style='text-align:justify'>
    <st1:metricconverter productid="8. A" w:st="on">
        <b style='mso-bidi-font-weight:normal'>
            <span style='font-size:14.0pt'>8. A</span>
        </b>
    </st1:metricconverter><b style='mso-bidi-font-weight:normal'>
        <span style='font-size:14.0pt'>
            szerződés
            módosítása<o:p></o:p>
        </span>
    </b>
</p>

<p class=MsoNormal style='text-align:justify'>
    <span style='font-size:14.0pt'>
        Jelen
        szerződés felek közös megegyezésével, illetve a Tulajdonos által egyoldalúan
        kizárólag az <span class=SpellE>ÁSZF-ben</span> írt feltételek mellett az ÁSZF
        egyoldalú módosítása útján módosítható (ÁSZF VI/1. pont).<o:p></o:p>
    </span>
</p>

<p class=MsoNormal style='text-align:justify'>
    <b style='mso-bidi-font-weight:
normal'><span style='font-size:14.0pt'><o:p>&nbsp;</o:p></span></b>
</p>

<p class=MsoNormal style='text-align:justify'>
    <b style='mso-bidi-font-weight:
normal'><span style='font-size:14.0pt'>9. Adatkezelés, adatbiztonság:</span></b><span style='font-size:14.0pt'><o:p></o:p></span>
</p>

<p class=MsoNormal style='text-align:justify'>
    <span style='font-size:14.0pt'>
        Az
        adatkezelés részletes szabályait az ÁSZF VI/3. pontja tartalmazza. <o:p></o:p>
    </span>
</p>

<p class=MsoNormal style='text-align:justify'>
    <span style='font-size:14.0pt'>
        Használó
        kijelenti, hogy az adatkezelés megkezdése előtt részletes és egyértelmű
        tájékoztatást kapott az adatai kezelésével kapcsolatos minden tényről,
        körülményről és eljárásról. <o:p></o:p>
    </span>
</p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:14.0pt'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'>
    <span style='font-size:14.0pt'>
        Használó
        személyes adatai – ideértve az információs önrendelkezési jogról és az
        információ szabadságról szóló 2011. évi CXII. törvény szerinti különleges
        adatokat is – Tulajdonos, valamint a jelen szerződésben hivatkozott projektet
        támogató Nemzeti Fejlesztési Ügynökség és az abban közreműködő ESZA Társadalmi
        Nonprofit Kft. általi kezeléséhez – ideértve ezen adatok felvételét, tárolását
        és nyilvánosságra hozatalát is – jelen szerződés aláírásával kifejezetten
        hozzájárul.<o:p></o:p>
    </span>
</p>

<p class=MsoNormal style='text-align:justify;text-indent:35.4pt'>
    <span style='font-size:14.0pt'><o:p>&nbsp;</o:p></span>
</p>

<p class=MsoNormal style='text-align:justify'>
    <span style='font-size:14.0pt'>
        A Tulajdonos
        műszaki és szervezési intézkedésekkel köteles gondoskodni a kezelt felhasználói
        adatok védelméről. Az adatbiztonság részletes szabályait az ÁSZF VI/3.10. pontja
        tartalmazza.<o:p></o:p>
    </span>
</p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:14.0pt'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'>
    <b style='mso-bidi-font-weight:
normal'>
        <span style='font-size:14.0pt'>
            9. Általános Szerződési Feltételek
            (ÁSZF):
        </span>
    </b><span style='font-size:14.0pt'>
        a jelen szerződésben nem
        szabályozott kérdésekre a Tulajdonos alábbi megnevezésű Általános Szerződési
        Feltételei vonatkoznak:<o:p></o:p>
    </span>
</p>

<p class=Norml1 style='margin-left:21.3pt;text-align:justify;tab-stops:35.4pt 70.8pt 106.2pt 141.6pt 177.0pt 212.4pt 247.8pt 283.2pt 318.6pt 354.0pt 389.4pt 424.8pt'>
    <span style='font-size:14.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
Calibri;color:windowtext'>„ÁLTALÁNOS SZERZŐDÉSI FELTÉTELEK<o:p></o:p></span>
</p>

<p class=Norml1 style='margin-left:21.3pt;text-align:justify;tab-stops:35.4pt 70.8pt 106.2pt 141.6pt 177.0pt 212.4pt 247.8pt 283.2pt 318.6pt 354.0pt 389.4pt 424.8pt'>
    <span style='font-size:14.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
Calibri;color:windowtext'>
        A jelnyelvi tolmácsszolgálatok fejlesztése video alapú
        jelnyelvi tolmácsolás és szöveges operátori szolgáltatások bevezetésével című,
        TIOP-3.3.1<span class=GramE>.B-12</span>/1-2012-0001 számú projekt
        megvalósítása során nyújtott KONTAKT tolmácsszolgáltatás igénybevételéhez”.<o:p></o:p>
    </span>
</p>

<p class=Norml1 style='text-align:justify;tab-stops:35.4pt 70.8pt 106.2pt 141.6pt 177.0pt 212.4pt 247.8pt 283.2pt 318.6pt 354.0pt 389.4pt 424.8pt'>
    <span style='font-size:14.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
Calibri;color:windowtext'><o:p>&nbsp;</o:p></span>
</p>

<p class=Norml1 style='text-align:justify;tab-stops:35.4pt 70.8pt 106.2pt 141.6pt 177.0pt 212.4pt 247.8pt 283.2pt 318.6pt 354.0pt 389.4pt 424.8pt'>
    <span style='font-size:14.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
Calibri;color:windowtext'>
        Az ÁSZF elérhető a Szolgáltató honlapján (<a href="http://www.sinosz.hu/">
            <span style='color:windowtext;text-decoration:
none;text-underline:none'>www.sinosz.hu</span>
        </a>).<o:p></o:p>
    </span>
</p>

<p class=Norml1 style='text-align:justify;tab-stops:35.4pt 70.8pt 106.2pt 141.6pt 177.0pt 212.4pt 247.8pt 283.2pt 318.6pt 354.0pt 389.4pt 424.8pt'>
    <span style='font-size:14.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
Calibri;color:windowtext'><o:p>&nbsp;</o:p></span>
</p>

<p class=Norml1 style='text-align:justify;tab-stops:35.4pt 70.8pt 106.2pt 141.6pt 177.0pt 212.4pt 247.8pt 283.2pt 318.6pt 354.0pt 389.4pt 424.8pt'>
    <span style='font-size:14.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
Calibri;color:windowtext'>
        Használó kijelenti, hogy a hatályos <span class=SpellE>ÁSZF-et</span> megismerte, az abban foglaltakat magára nézve
        kötelezőnek elfogadja.<o:p></o:p>
    </span>
</p>

<p class=Norml1 style='text-align:justify;tab-stops:35.4pt 70.8pt 106.2pt 141.6pt 177.0pt 212.4pt 247.8pt 283.2pt 318.6pt 354.0pt 389.4pt 424.8pt'>
    <span style='font-size:14.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
Calibri;color:windowtext'><o:p>&nbsp;</o:p></span>
</p>

<p class=Norml1 style='text-align:justify;tab-stops:35.4pt 70.8pt 106.2pt 141.6pt 177.0pt 212.4pt 247.8pt 283.2pt 318.6pt 354.0pt 389.4pt 424.8pt'>
    <b style='mso-bidi-font-weight:normal'>
        <span style='font-size:14.0pt;font-family:
"Times New Roman","serif";mso-fareast-font-family:Calibri;color:windowtext'>
            10.
            Használó jelen szerződéssel kapcsolatos nyilatkozatai:
        </span>
    </b><span style='font-size:14.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
Calibri;color:windowtext'><o:p></o:p></span>
</p>

<p class=Norml1 style='text-align:justify;tab-stops:35.4pt 70.8pt 106.2pt 141.6pt 177.0pt 212.4pt 247.8pt 283.2pt 318.6pt 354.0pt 389.4pt 424.8pt'>
    <span style='font-size:14.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
Calibri;color:windowtext'>
        Használó kijelenti, hogy jelen szerződéssel
        összefüggő minden lényeges körülményről tájékoztatásra került, a
        tájékoztatásban és a szerződésben foglaltakat megértette, azokat tudomásul
        veszi.<o:p></o:p>
    </span>
</p>

<p class=MsoNormal style='text-align:justify'>
    <span style='font-size:14.0pt'>
        Használó
        kijelenti továbbá, hogy az adatkezelésre vonatkozóan is teljes körűen
        tájékoztatásra került, annak alapja az ő hozzájárulása.<o:p></o:p>
    </span>
</p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:14.0pt'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'>
    <b style='mso-bidi-font-weight:
normal'><span style='font-size:14.0pt'>11. Egyéb<o:p></o:p></span></b>
</p>

<p class=MsoNormal style='text-align:justify'>
    <span style='font-size:14.0pt'>
        A
        jelen szerződésben nem szabályozott kérdésekben a Polgári Törvénykönyv, a
        Polgári Törvénykönyv kölcsönszerződésre vonatkozó szabályai és más vonatkozó
        jogszabályok rendelkezései az irányadóak. Felek jogvitája esetén alkalmazandó
        eljárást az ÁSZF VI/8. pontja rögzíti.<o:p></o:p>
    </span>
</p>

<br />
<br />

<p class=MsoFooter style="text-align:center">
    <span class=MsoPageNumber><span style='mso-no-proof:yes'>4</span></span>
</p>

<p class=MsoNormal style='text-align:justify'><o:p>&nbsp;</o:p></p>

<p class=MsoHeader align=right style='text-align:right'>
    <span style='mso-ignore:vglayout;position:absolute;z-index:1;left:0px;margin-left:-44px;margin-top:27px;width:245px;height:70px'>
        <img width=245 height=70 src="@Url.Content("~/Content/images/sinosz_logo_felirattal.png")" v:shapes="Kép_x0020_23">
    </span>
    <span style='mso-tab-count:1'>                                                   </span>
    <b style='mso-bidi-font-weight:normal'>
        <span style='font-size:14.0pt;font-family:"Verdana","sans-serif"'>
            <img width=199 height=108 src="@Url.Content("~/Content/images/Kontakt_Tolmacsszolgalat_Logo.png")" v:shapes="_x0000_i1025">
        </span>
    </b>
</p>

<p class=MsoNormal style='text-align:justify'>
    <span style='font-size:14.0pt'>
        Ha a jelen szerződés bármely pontja érvényét vesztené, attól a szerződés egésze
        még nem válik érvénytelenné.<o:p></o:p>
    </span>
</p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:14.0pt'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;mso-layout-grid-align:none;
text-autospace:none'>
    <span style='font-size:14.0pt'>
        Felek jelen szerződést
        kölcsönös elolvasás és egységes értelmezés után, mint akaratukkal mindenben
        megegyezőt, jóváhagyólag aláírják.<o:p></o:p>
    </span>
</p>

<p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;mso-layout-grid-align:none;
text-autospace:none'><span style='font-size:14.0pt'>Budapest, 2014. @Model.DateNow<o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;mso-layout-grid-align:none;
text-autospace:none'><span style='font-size:14.0pt'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;mso-layout-grid-align:none;
text-autospace:none'><span style='font-size:14.0pt'><o:p>&nbsp;</o:p></span></p>

<div align=center>

    <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 @*width=621*@
           style='@*width:465.65pt;*@border-collapse:collapse;mso-padding-alt:0cm 3.5pt 0cm 3.5pt'>
        <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes;height:45.15pt'>
            <td width=308 valign=top style='width:275pt;padding:0cm 3.5pt 0cm 3.5pt;height:45.15pt'>
                <p class=MsoNormal><span style='font-size:14.0pt'><o:p>&nbsp;</o:p></span></p>
                <p class=MsoNormal align=center style='margin-left:2.55pt;text-align:center;text-indent:-2.55pt'><span style='font-size:14.0pt'>………………………………..…………..<o:p></o:p></span></p>
                <p class=MsoNormal align=center style='margin-left:2.55pt;text-align:center'>
                    <span style='font-size:14.0pt'>Siketek és Nagyothallók Országos Szövetsége<o:p></o:p></span>
                </p>
                <p class=MsoNormal align=center style='margin-left:2.55pt;text-align:center'>
                    <span style='font-size:14.0pt'>Tulajdonos<o:p></o:p></span>
                </p>
                <p class=MsoNormal align=center style='margin-left:2.55pt;text-align:center'>
                    <span class=SpellE><span style='font-size:14.0pt'>képv</span></span><span class=GramE><span style='font-size:14.0pt'>.:</span></span><span style='font-size:14.0pt'>
                        <span class=SpellE>Ormódi</span> Róbert
                        meghatalmazott<o:p></o:p>
                    </span>
                </p>
            </td>
            <td width=313 valign=top style='width:275pt;padding:0cm 3.5pt 0cm 3.5pt;height:45.15pt'>
                <p class=MsoNormal align=center style='margin-left: 2.55pt; text-align: center'>
                    <span style='font-size:14.0pt'><o:p>&nbsp;</o:p></span>
                </p>
                <p class=MsoNormal align=center style='margin-left: 2.55pt; text-align: center'>
                    <span style='font-size:14.0pt'>…………………………..…………………<o:p></o:p></span>
                </p>
                <p class=MsoNormal align=center style='margin-left: 2.55pt; text-align: center'>
                    <span style='font-size:14.0pt'>@Model.SinoszUserName<o:p></o:p></span>
                </p>
                <p class=MsoNormal align=center style='margin-left: 2.55pt; text-align: center'>
                    <span style='font-size:14.0pt'>Használó<o:p></o:p></span>
                </p>
            </td>
        </tr>
    </table>

</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<p class=MsoFooter style="text-align:center">
    <span class=MsoPageNumber><span style='mso-no-proof:yes'>5</span></span>
</p>

<p class=MsoNormal style='text-align:justify'><o:p>&nbsp;</o:p></p>

<p class=MsoHeader align=right style='text-align:right'>
    <span style='mso-ignore:vglayout;position:absolute;z-index:1;left:0px;margin-left:-44px;margin-top:27px;width:245px;height:70px'>
        <img width=245 height=70 src="@Url.Content("~/Content/images/sinosz_logo_felirattal.png")" v:shapes="Kép_x0020_23">
    </span>
    <span style='mso-tab-count:1'>                                                   </span>
    <b style='mso-bidi-font-weight:normal'>
        <span style='font-size:14.0pt;font-family:"Verdana","sans-serif"'>
            <img width=199 height=108 src="@Url.Content("~/Content/images/Kontakt_Tolmacsszolgalat_Logo.png")" v:shapes="_x0000_i1025">
        </span>
    </b>
</p>

<p class=MsoNormal align=right style='text-align:right'>
    <span style='font-size:
13.0pt'>Melléklet a tesztkészülék használatára vonatkozó szerződéshez<o:p></o:p></span>
</p>

<p class=MsoNormal align=center style='margin-top:6.0pt;margin-right:0cm;
margin-bottom:6.0pt;margin-left:0cm;text-align:center'>
    <b>
        <span style='font-size:15.0pt'>Átadás-átvételi jegyzőkönyv<o:p></o:p></span>
    </b>
</p>

<p class=MsoNormal style='text-align:justify'>
    <span class=GramE>
        <span style='font-size:13.0pt'>mely</span>
    </span><span style='font-size:13.0pt'>
        a
        teszt jelleggel „a jelnyelvi tolmácsszolgálatok fejlesztése video alapú
        jelnyelvi tolmácsolás és szöveges operátori szolgáltatások bevezetésével” című,
        TIOP-3.3.1.B-12/1-2012-0001 számú támogatott projekt keretében a KONTAKT
        Tolmácsszolgálatot üzemeltető<span style='mso-spacerun:yes'>  </span><o:p></o:p>
    </span>
</p>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:0cm;
margin-left:35.45pt;margin-bottom:.0001pt;text-align:justify'>
    <b>
        <span style='font-size:13.0pt'>Siketek és Nagyothallók Országos Szövetsége</span>
    </b><span style='font-size:13.0pt'><o:p></o:p></span>
</p>

<p class=MsoNormal style='margin-left:35.45pt;text-align:justify;text-indent:35.35pt'>
    <span class=GramE><span style='font-size:13.0pt'>székhely</span></span><span style='font-size:13.0pt'>: 1068 Budapest, Benczúr u. 21.<o:p></o:p></span>
</p>

<p class=MsoNormal style='margin-left:35.45pt;text-align:justify'>
    <span style='font-size:13.0pt'>– a továbbiakban <b>SINOSZ</b><o:p></o:p></span>
</p>

<p class=MsoNormal style='text-align:justify'>@*;line-height:200%'>*@
    <span class=GramE><span style='font-size:13.0pt'>@*;line-height:200%'>*@és</span></span><span style='font-size:13.0pt'>@*;line-height:200%'>*@<o:p></o:p></span>
</p>

<p class=MsoNormal style='margin-left:35.4pt;text-align:justify'>@*';line-height:200%'>*@
    <b>
        <span style='font-size:13.0pt'>@*;line-height:200%'>*@
            @Model.SinoszUserName
            <o:p></o:p>
        </span>
    </b>
</p>

<p class=MsoNormal style='margin-left:35.4pt;text-align:justify;text-indent:35.4pt'>
    <span class=GramE><span style='font-size:13.0pt'>lakóhely</span></span><span style='font-size:13.0pt'>: @Model.HomeAddress<o:p></o:p></span>
</p>

<p class=MsoNormal style='margin-left:35.4pt;text-align:justify'>@*;line-height:200%'>*@
    <span style='font-size:13.0pt'>@*;line-height:200%'>*@
        – a továbbiakban: <b>
            Használó
            <o:p></o:p>
        </b>
    </span>
</p>

<p class=MsoNormal style='text-align:justify;line-height:200%'>
    <span style='font-size:13.0pt;line-height:200%'>
        – között a tesztkészülék használatára
        vonatkozó szerződés létrejöttére tekintettel, annak mellékleteként készült. <o:p></o:p>
    </span>
</p>

<p class=MsoNormal style='text-align:justify'>
    <span style='font-size:13.0pt'>
        Helyszín:
        1068 Budapest, Benczúr u. 21.<o:p></o:p>
    </span>
</p>

<p class=MsoNormal style='margin-top:6.0pt;text-align:justify'>
    <span style='font-size:13.0pt'>Jelen vannak:<o:p></o:p></span>
</p>

<p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
text-indent:-18.0pt;mso-list:l4 level1 lfo10'>
    <![if !supportLists]><span style='font-size:13.0pt;font-family:Symbol;mso-fareast-font-family:Symbol;
mso-bidi-font-family:Symbol'>
        <span style='mso-list:Ignore'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>
    </span><![endif]><span style='font-size:13.0pt'>
        SINOSZ<b> </b>képviselője
        <o:p></o:p>
    </span>
</p>

<p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
text-indent:-18.0pt;mso-list:l4 level1 lfo10'>
    <![if !supportLists]><span style='font-size:13.0pt;font-family:Symbol;mso-fareast-font-family:Symbol;
mso-bidi-font-family:Symbol'>
        <span style='mso-list:Ignore'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>
    </span><![endif]><span style='font-size:13.0pt'>Használó<o:p></o:p></span>
</p>

<p class=MsoNormal style='margin-top:6.0pt;text-align:justify'>
    <span style='font-size:13.0pt'>Készülék adatai:<o:p></o:p></span>
</p>

<p class=MsoListParagraph style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
0cm;margin-left:36.0pt;margin-bottom:.0001pt;text-align:justify;text-indent:
-18.0pt;mso-list:l2 level1 lfo11'>
    <![if !supportLists]><span style='font-size:
13.0pt;font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
Symbol'>
        <span style='mso-list:Ignore'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>
    </span><![endif]><span style='font-size:13.0pt'>
        Típus: ASUS <span class=SpellE>Fonepad</span> 7 HD<o:p></o:p>
    </span>
</p>

<p class=MsoListParagraph style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
0cm;margin-left:36.0pt;margin-bottom:.0001pt;text-align:justify;text-indent:
-18.0pt;mso-list:l2 level1 lfo11'>
    <![if !supportLists]><span style='font-size:
13.0pt;font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
Symbol'>
        <span style='mso-list:Ignore'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>
    </span><![endif]><span style='font-size:13.0pt'>
        IMEI azonosító<span class=GramE>: </span>@Model.DeviceId<o:p></o:p>
    </span>
</p>

<p class=MsoNormal style='margin-top:6.0pt;text-align:justify'>
    <span style='font-size:13.0pt'>Készülék tartozékai:<o:p></o:p></span>
</p>

<p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
text-indent:-18.0pt;mso-list:l5 level1 lfo12'>
    <![if !supportLists]><span style='font-size:13.0pt;font-family:Symbol;mso-fareast-font-family:Symbol;
mso-bidi-font-family:Symbol'>
        <span style='mso-list:Ignore'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>
    </span><![endif]><span style='font-size:13.0pt'>
        Készülék saját gyári
        doboza<o:p></o:p>
    </span>
</p>

<p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
text-indent:-18.0pt;mso-list:l5 level1 lfo12'>
    <![if !supportLists]><span style='font-size:13.0pt;font-family:Symbol;mso-fareast-font-family:Symbol;
mso-bidi-font-family:Symbol'>
        <span style='mso-list:Ignore'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>
    </span><![endif]><span style='font-size:13.0pt'>
        Készülék saját
        gyári USB - <span class=SpellE>microUSB</span> kábele<o:p></o:p>
    </span>
</p>

<p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
text-indent:-18.0pt;mso-list:l5 level1 lfo12'>
    <![if !supportLists]><span style='font-size:13.0pt;font-family:Symbol;mso-fareast-font-family:Symbol;
mso-bidi-font-family:Symbol'>
        <span style='mso-list:Ignore'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>
    </span><![endif]><span style='font-size:13.0pt'>
        Készülék saját
        gyári asztali tartója<o:p></o:p>
    </span>
</p>

<p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
text-indent:-18.0pt;mso-list:l5 level1 lfo12'>
    <![if !supportLists]><span style='font-size:13.0pt;font-family:Symbol;mso-fareast-font-family:Symbol;
mso-bidi-font-family:Symbol'>
        <span style='mso-list:Ignore'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span>
    </span><![endif]><span class=SpellE><span style='font-size:13.0pt'>Yenkee</span></span><span style='font-size:13.0pt'>YST 002 univerzális asztali tartó<o:p></o:p></span>
</p>

<p class=MsoNormal style='margin-top:6.0pt;text-align:justify'>
    <span style='font-size:13.0pt'>Készülék állapota:<o:p></o:p></span>
</p>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:0cm;
margin-left:35.45pt;margin-bottom:.0001pt;text-align:justify;text-indent:-14.15pt'>
    <span style='font-size:13.0pt;font-family:Symbol;mso-ascii-font-family:"Times New Roman";mso-hansi-font-family:"Times New Roman";mso-char-type:symbol;mso-symbol-font-family:Symbol'>
        <span style='mso-char-type:symbol;mso-symbol-font-family:Symbol'></span>
    </span>
    <span style='font-size:13.0pt'>
        <span style='mso-tab-count:1'>   </span>Új készülék,
        bontatlan csomagolásban (felek rögzítik, hogy a készülék újkori értéke 72.771,-
        Ft, azaz: hetvenkétezer-hétszázhetvenegy forint);<o:p></o:p>
    </span>
</p>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:0cm;
margin-left:35.45pt;margin-bottom:.0001pt;text-align:justify;text-indent:-14.2pt'>
    <span style='font-size:13.0pt;font-family:Symbol;mso-ascii-font-family:"Times New Roman";mso-hansi-font-family:"Times New Roman";mso-char-type:symbol;mso-symbol-font-family:Symbol'>
        <span style='mso-char-type:symbol;mso-symbol-font-family:Symbol'></span>
    </span>
    <span style='font-size:13.0pt'>            
            <span style='mso-tab-count:1'>   </span>Használt készülék, …………………………………………………………………………………………. állapotban
            (felek rögzítik, hogy a készülék átadás-átvételkori értéke ………………. - Ft, azaz: ………………………………
            forint).<o:p></o:p>
        </span>
</p>

<p class=MsoNormal style='margin-top:6.0pt;text-align:justify'>
    <span style='font-size:13.0pt'>
        Használó kijelenti és jelen jegyzőkönyv aláírásával
        elismeri, hogy a készüléket a jelen jegyzőkönyvben rögzített állapotban, annak
        valamennyi tartozékával együtt, rendeltetésszerű használatra alkalmas
        állapotban átvette. <o:p></o:p>
    </span>
</p>

<p class=MsoNormal>
    <span style='font-size:13.0pt'>
        Budapest, <span class=GramE>            
        </span>@Model.DateNow<o:p></o:p>
    </span>
</p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:13.0pt'><o:p>&nbsp;</o:p></span></p>

<div align=center>

    <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 @*width=621*@
           style='@*width:465.65pt;*@border-collapse:collapse;mso-padding-alt:0cm 3.5pt 0cm 3.5pt'>
        <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes;
  height:45.15pt'>
            <td width=308 valign=top style='width:275pt;padding:0cm 3.5pt 0cm 3.5pt;
  height:45.15pt'>
                <p class=MsoNormal><b><span style='font-size:13.0pt'><o:p>&nbsp;</o:p></span></b></p>
                <p class=MsoNormal align=center style='margin-left:2.55pt;text-align:center;
  text-indent:-2.55pt'><b><span style='font-size:13.0pt'>………………………………..…………..<o:p></o:p></span></b></p>
                <p class=MsoNormal align=center style='margin-left:2.55pt;text-align:center'>
                    <b>
                        <span style='font-size:13.0pt'>Siketek és Nagyothallók Országos Szövetsége<o:p></o:p></span>
                    </b>
                </p>
            </td>
            <td width=313 valign=top style='width:275pt;padding:0cm 3.5pt 0cm 3.5pt;
  height:45.15pt'>
                <p class=MsoNormal align=center style='margin-left: 2.55pt; text-align: center'>
                    <b>
                        <span style='font-size:13.0pt'><o:p>&nbsp;</o:p></span>
                    </b>
                </p>
                <p class=MsoNormal align=center style='margin-left: 2.55pt; text-align: center'>
                    <b>
                        <span style='font-size:13.0pt'>…………………………..……………………<o:p></o:p></span>
                    </b>
                </p>
                <p class=MsoNormal align=center style='margin-left: 2.55pt; text-align: center'>
                    <b>
                        <span style='font-size:13.0pt'>Használó<o:p></o:p></span>
                    </b>
                </p>
            </td>
        </tr>
    </table>

</div>

<br />
<br />

<p class=MsoFooter style="text-align:center">
    <span class=MsoPageNumber><span style='mso-no-proof:yes'>6</span></span>
</p>
