@using Mvc.Mailer;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <link href="@Url.Abs(Url.Content("~/Content/bootstrap.css"))" rel="stylesheet" />
    <link href="@Url.Abs(Url.Content("~/Content/font-awesome.css"))" rel="stylesheet" />
    <link href="@Url.Abs(Url.Content("~/Content/themes/base/jquery-ui.css"))" rel="stylesheet" />

</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <table>
                    <tr>
                        <td>
                            <div style="margin-right:100px;">
                                <img src="@Url.Abs(Url.Content("~/Content/images/sinosz.png"))" class="img-responsive" alt="" style="border: none;" />
                            </div>
                        </td>
                        <td>
                            <div style="margin-left:100px;">
                                <img src="@Url.Abs(Url.Content("~/Content/images/uj_szechenyi_terv.png"))" class="img-responsive" alt="" style="border: none;" />
                            </div>
                        </td>
                    </tr>
                </table>
                <hr style="height: 3px; color: #8cb335; border-color: #8cb335; background-color: #8cb335; "/>
            </div>
        </div>
    </div>*@
    <div class="container body-content">
        @RenderBody()        
        <footer>
            <br/>
            <table>
                <tr>
                    <td style="margin-right:10px;">
                        <small>
                            <p style="margin-bottom:0px;">Siketek és Nagyothallók Országos Szövetsége</p>
                            <p style="margin-bottom:0px;">Cím: H-1068 Budapest Benczúr u. 21.</p>
                            <p style="margin-bottom:0px;">E-mail: <a href="mailto:info@skontakt.hu">info@skontakt.hu</a></p>
                            <p style="margin-bottom:0px;"><a href="www.sinosz.hu">www.sinosz.hu</a></p>
                            <p style="margin-bottom:0px;"><a href="www.ujszechenyiterv.gov.hu">www.ujszechenyiterv.gov.hu</a></p>
                        </small>
                    </td>
                    <td style="margin-left:10px;">
                        <img src="@Url.Abs(Url.Content("~/Content/images/sinosz_logo_felirattal.png"))" class="img-responsive" alt="" style="border: none;" />
                    </td>
                </tr>
            </table>
        </footer>
    </div>

</body>
</html>
