@model Tax.Portal.Mailers.ResetPasswordCompletedData
@using Mvc.Mailer;
@{
    var absUrl = new Uri(Request.Url, Url.Content("~"));
}
<h2>Kedves @Model.FullName!</h2>

<br />
<strong><p>A jelszó módosítása sikeres volt. </p></strong>
<br />
<table>
    <tr><td><p>Bejelentkezési név:</p></td><td><strong><p>@Model.username</p></strong></td></tr>
    <tr><td><p>E-mail cím:</p></td><td><strong><p><a href="mailto:@Model.email">@Model.email</a></p></strong></td></tr>
    <tr><td><p>A jelszó módosításának időpontja:</p></td><td><strong><p>@Model.now.ToLongDateString() @Model.now.ToLongTimeString()</p></strong></td></tr>
</table>
<br />
<br />
<p>Amennyiben ennek ellenére problémát találsz a bejelentkezéskor, jelezd nekünk!</p>
<br />
<br />
<p>Üdvözlettel,</p>
<p>a KONTAKT Tolmácsszolgálat munkatársai</p>
