@model Tax.Portal.Mailers.ResetPasswordData
@using Mvc.Mailer;
@{
    var absUrl = new Uri(Request.Url, Url.Content("~"));
}
<h2>Kedves @Model.FullName!</h2>

<br />
<strong><p>Jelszó visszaállítást kértél.</p></strong>
<p>A lenti linkre kattintva az elfelejtett vagy megváltoztatni kívánt jelszót módosíthatod.</p>
<br />
<br />
<table>
    <tr><td><p>Bejelentkezési név:</p></td><td><strong><p>@Model.username</p></strong></td></tr>
    <tr><td><p>E-mail cím:</p></td><td><strong><p><a href="mailto:@Model.email">@Model.email</a></p></strong></td></tr>
</table>
<br />
<br />
<strong><p>Új jelszó megadásához kattints ide:</p></strong>
<p><a href="@string.Format("{0}{1}{2}", absUrl, "Account/ResetPasswordFinalize?token=", Model.token)">@string.Format("{0}{1}{2}", absUrl, "Account/ResetPasswordFinalize?token=", Model.token)</a></p>
<br />
<p>A link érvényessége:   <strong>@Model.ValidUntil.ToLongDateString() @Model.ValidUntil.ToLongTimeString()</strong></p>
<br />
<p>Ha a link érvényessége lejár, igényelj új jelszó visszaállítást.</p>
<br />
<p>Ha bármi probléma adódik a jelszó visszaállításával kapcsolatban, fordulj hozzánk bizalommal!</p>
<br />
<br />
<p>Üdvözlettel,</p>
<p>a KONTAKT Tolmácsszolgálat munkatársai</p>
