@model Tax.Portal.Mailers.WithoutDeviceElectedEmailData
@using Mvc.Mailer;
@using Tax.Portal.Helpers;
@{
    var absUrl = HtmlHelpers.AppBaseUrl(Url);
}
<h2>Kedves @Model.fullname!</h2>

<br />
<p>Gratulálunk, tesztelő lettél a SINOSZ KONTAKT Tolmácsszolgálat rendszerében! Köszönjük, és reméljük, hogy élvezni fogod! Ahhoz, hogy használni tudd a szolgáltatást, aktiválnunk kell Téged!</p>
<strong><p>Az aktiváláshoz a következő lépéseket kell megtenned:</p></strong>
<p style="color: orange">    1.   Keresd fel a SINOSZ megyei vagy helyi szervezetét ügyfélfogadási időben, és kérd, hogy nyomtassák ki részedre a KONTAKT ügyfélszerződést.</p>
<p style="color: orange">         Mit vigyél magaddal?</p>
<p>            SINOSZ tagsági igazolvány, személyi igazolvány és lakcím kártya</p>
<p style="color: orange">         Az ügyfélfogadási időkről itt tudsz tájékozódni:</p>
<p>            <a href="http://www.sinosz.hu/sinosz/tagszervezetek/tagszervezetek-listaja">http://www.sinosz.hu/sinosz/tagszervezetek/tagszervezetek-listaja</a></p>
<p style="color: orange">    2.   Az ügyfélszerződést olvasd el és ellenőrizd az adataidat!</p>
<p style="color: orange">    3.   Írd alá mind a 2 példányt!</p>
<p style="color: orange">    4.   Mind a 2 példányt küldd el postán erre a címre:</p>
<div class="container" style="border: medium; margin-left: 150px;">
    <strong style="color: orange">  SINOSZ KONTAKT  </strong>
    <strong style="color: orange">  Budapest  </strong>
    <strong style="color: orange">  Benczúr utca 21.  </strong>
    <strong style="color: orange">  1068   </strong>
</div>
<small style="color: orange">         Személyesen is elhozhatod hozzánk: Tedd egy lezárt borítékba, írd rá, hogy <strong>KONTAKT</strong>, és add le a portán!</small>
<p style="color: orange">    5.   Ha megkaptuk a szerződésedet aláírva, aktiválunk a rendszerben. Erről kapsz majd egy értesítést e-mailben.</p>
<small style="color: orange">         Az e-mailben leírjuk majd, hogy hogyan tudod letölteni az alkalmazást, és hogyan tudod elkezdeni a használatát!</small>
<p style="color: orange">    6.   Postán visszaküldjük számodra az általunk aláírt szerződés egyik példányát. Ez a te példányod, nálad marad!</p>
<br />
<p>Ez a lehetőség az e-mail kiküldésétől 1 hónapig érvényes. Ha 1 hónapon belül nem küldöd vissza az ügyfélszerződést, a regisztráció elévül, és más kapja meg a helyedet.</p>
<br />
<br />
<br />
<p>Kérdéseiddel bizalommal fordulj hozzánk: <a href="mailto:info@skontakt.hu">info@skontakt.hu</a></p>
<br />
<br />
<p>Üdvözlettel,</p>
<p>a KONTAKT Tolmácsszolgálat munkatársai</p>
@*<p>Helyszín: <strong>@Model.organizationname (@Model.organizationaddress)</strong></p>*@
@*<br />
<p>Tesztelőnek jelentkeztél a SINOSZ KONTAKT Tolmácsszolgálathoz. Köszönjük, és reméljük, hogy élvezni fogod!</p>
<strong><p>Ahhoz, hogy használni tudd a szolgáltatásokat, aktiválnunk kell téged! A következő lépéseket kell megtenned ehhez:</p></strong>
<p style="color: orange">    1.   Kattints a linkre! Töltsd le és nyomtasd ki az ügyfélszerződést 2 példányban! (Ha nem tudsz nyomtatni, keresd meg a SINOSZ megyei vagy helyi titkárait, és kérd, hogy nyomtassák ki neked!)</p>
<strong><p>         </p><p><a href="@string.Format("{0}{1}", absUrl, "Sinosz/PrintContract")">@string.Format("{0}{1}", absUrl, "Account/PrintContract")</a></p></strong>
<p style="color: orange">    2.   Az ügyfélszerződést olvasd el, ellenőrizd az adataidat!</p>
<p style="color: orange">    3.   Írd alá mind a 2 példányt!</p>
<p style="color: orange">    4.   Mind a 2 példányt küldd el postán erre a címre:</p>
<div class="container" style="border: medium; margin-left: 150px;">
<strong style="color: orange">  SINOSZ KONTAKT  </strong>
<strong style="color: orange">  Budapest  </strong>
<strong style="color: orange">  Benczúr utca 21.  </strong>
<strong style="color: orange">  1068   </strong>
</div>
<small style="color: orange">         Személyesen is elhozhatod hozzánk: Tedd egy lezárt borítékba, írd rá, hogy KONTAKT, és add le a portán!</small>
<p style="color: orange">    5.   Ha megkaptuk a szerződésedet aláírva, aktiválunk a rendszerben. Erről kapsz majd egy értesítést e-mailben.</p>
<small style="color: orange">         Az e-mailben leírjuk majd, hogy hogyan tudod letölteni az alkalmazást, és hogyan tudod elkezdeni a használatát!</small>
<br />
<p>Ez a lehetőség az e-mail kiküldésétől 1 hónapig érvényes. Ha 1 hónapon belül nem küldöd vissza az ügyfélszerződést, a regisztráció elévül, és más kapja meg a helyedet.</p>
<br />
<br />
<p>Kérdéseiddel bizalommal fordulj hozzánk: <a href="mailto:info@skontakt.hu">info@skontakt.hu</a></p>
<br />
<br />
<p>Üdvözlettel,</p>
<p>a KONTAKT Tolmácsszolgálat munkatársai</p>*@
