@model Tax.Portal.Models.PrintContractViewModel

    <div class=WordSection1>

        <p class=MsoNormal align=center style='text-align:center'>
            <b>
                Készülék kölcsönzésére
                és használatára vonatkozó szerződés
            </b>
        </p>

        <p class=MsoNormal align=center style='text-align:center'>
            <b>
                természetes
                személy felhasználók számára
            </b>
        </p>

        <p class=MsoNormal style='text-align:justify'><span style='font-size:8.0pt'>                                                                                                                                                                                       </span></p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:11.0pt'>
                mely
                létrejött
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:11.0pt'>
                egyrészről
                az alább megjelölt <b>Tulajdonos</b>
            </span>
        </p>

        <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0
               style='border-collapse:collapse;border:none'>
            <tr>
                <td width=350 valign=top style='width:220pt;border:solid black 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoNormal style='text-align:justify'><b><span style='font-size:11.0pt'>Elnevezése:</span></b></p>
                </td>
                <td width=350 colspan=2 valign=top style='width:290pt;border:solid black 1.0pt;
  border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoTitle style='text-align:justify'>
                        <span style='font-size:11.0pt;
  letter-spacing:0pt'>Siketek és Nagyothallók Országos Szövetsége (SINOSZ)</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width=253 valign=top style='width:220pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoNormal style='text-align:justify'><b><span style='font-size:11.0pt'>Székhelye:</span></b></p>
                </td>
                <td width=421 colspan=2 valign=top style='width:290pt;border-top:none;
  border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoTitle style='text-align:justify'>
                        <span style='font-size:11.0pt;
  letter-spacing:0pt;font-weight:normal'>1068 Budapest, Benczúr u. 21.</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width=253 valign=top style='width:220pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoNormal style='text-align:justify'><b><span style='font-size:11.0pt'>Képviselője:</span></b></p>
                </td>
                <td width=421 colspan=2 valign=top style='width:290pt;border-top:none;
  border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoNormal style='text-align:justify'>
                        <span style='font-size:11.0pt'>
                            dr.
                            Kósa Ádám országos elnök
                        </span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width=350 valign=top style='width:220pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoNormal style='text-align:justify'>
                        <b>
                            <span style='font-size:11.0pt'>
                                Jelen
                                szerződéskötés során képviseli:
                            </span>
                        </b>
                    </p>
                </td>
                <td width=350 colspan=2 valign=top style='width:290pt;border-top:none;
  border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoNormal style='text-align:justify'>
                        <span style='font-size:11.0pt'>
                            Ormódi
                            Róbert általános meghatalmazással
                        </span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width=253 valign=top style='width:220pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoNormal style='text-align:justify'>
                        <b>
                            <span style='font-size:11.0pt'>
                                Országos
                                nyilvántartásbeli azonosító:
                            </span>
                        </b>
                    </p>
                </td>
                <td width=421 colspan=2 valign=top style='width:290pt;border-top:none;
  border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoTitle align=left style='text-align:left'>
                        <span style='font-size:
  11.0pt;letter-spacing:0pt;font-weight:normal'>Pk. 60331/1989.</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width=253 valign=top style='width:220pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoNormal style='text-align:justify'>
                        <b>
                            <span style='font-size:11.0pt'>
                                E-mail
                                címe:
                            </span>
                        </b>
                    </p>
                </td>
                <td width=421 colspan=2 valign=top style='width:290pt;border-top:none;
  border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt'>info@sinosz.hu</span></p>
                </td>
            </tr>
            <tr>
                <td width=253 valign=top style='width:220pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoNormal style='text-align:justify'>
                        <b>
                            <span style='font-size:11.0pt'>
                                Telefon
                                száma:
                            </span>
                        </b>
                    </p>
                </td>
                <td width=421 colspan=2 valign=top style='width:290pt;border-top:none;
  border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt'>(06-1)351-04-34</span></p>
                </td>
            </tr>
        </table>

        <p class=MsoNormal style='text-align:justify'><span style='font-size:8.0pt'>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:11.0pt'>
                másrészről
                az alább megjelölt <b>Használó</b>
            </span>
        </p>

        <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0
               style='border-collapse:collapse;border:none'>
            <tr>
                <td width=206 valign=top style='width:154.25pt;border:solid black 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoNormal style='text-align:justify'><b><span style='font-size:11.0pt'>Név:</span></b></p>
                </td>
                <td width=468 valign=top style='width:351.35pt;border:solid black 1.0pt;
  border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoNormal style='text-align:justify'><b><span style='font-size:11.0pt'>@Model.SinoszUserName</span></b></p>
                </td>
            </tr>
            <tr>
                <td width=206 valign=top style='width:154.25pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoNormal style='text-align:justify'>
                        <b>
                            <span style='font-size:11.0pt'>
                                Születési
                                név:
                            </span>
                        </b>
                    </p>
                </td>
                <td width=468 valign=top style='width:351.35pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoNormal style='text-align:justify'><b><span style='font-size:11.0pt'>@Model.BirthName</span></b></p>
                </td>
            </tr>
            <tr>
                <td width=206 valign=top style='width:154.25pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoNormal style='text-align:justify'>
                        <b>
                            <span style='font-size:11.0pt'>
                                Anyja
                                neve:
                            </span>
                        </b>
                    </p>
                </td>
                <td width=468 valign=top style='width:351.35pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoNormal style='text-align:justify'><b><span style='font-size:11.0pt'>@Model.MothersName</span></b></p>
                </td>
            </tr>
            <tr>
                <td width=206 valign=top style='width:154.25pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoNormal style='text-align:justify'>
                        <b>
                            <span style='font-size:11.0pt'>
                                Születési
                                helye, ideje:
                            </span>
                        </b>
                    </p>
                </td>
                <td width=468 valign=top style='width:351.35pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoNormal style='text-align:justify'><b><span style='font-size:11.0pt'>@Model.BirthDatas</span></b></p>
                </td>
            </tr>
            <tr>
                <td width=206 valign=top style='width:154.25pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoNormal style='text-align:justify'><b><span style='font-size:11.0pt'>Lakóhelye:</span></b></p>
                </td>
                <td width=468 valign=top style='width:351.35pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoNormal style='text-align:justify'><b><span style='font-size:11.0pt'>>@Model.HomeAddress</span></b></p>
                </td>
            </tr>
            <tr>
                <td width=206 valign=top style='width:154.25pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoNormal style='text-align:justify'>
                        <b>
                            <span style='font-size:11.0pt'>
                                SINOSZ
                                tagsági száma:
                            </span>
                        </b>
                    </p>
                </td>
                <td width=468 valign=top style='width:351.35pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoNormal style='text-align:justify'><b><span style='font-size:11.0pt'>@Model.SinoszId</span></b></p>
                </td>
            </tr>
            <tr>
                <td width=206 valign=top style='width:154.25pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoNormal style='text-align:justify'>
                        <b>
                            <span style='font-size:11.0pt'>
                                E-mail
                                címe:
                            </span>
                        </b>
                    </p>
                </td>
                <td width=468 valign=top style='width:351.35pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoNormal style='text-align:justify'><b><span style='font-size:11.0pt'>@Model.Email</span></b></p>
                </td>
            </tr>
            <tr>
                <td width=206 valign=top style='width:154.25pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoNormal style='text-align:justify'>
                        <b>
                            <span style='font-size:11.0pt'>
                                Telefon
                                száma:
                            </span>
                        </b>
                    </p>
                </td>
                <td width=468 valign=top style='width:351.35pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoNormal style='text-align:justify'><b><span style='font-size:11.0pt'>@Model.Telephone</span></b></p>
                </td>
            </tr>
        </table>

        <p class=MsoNormal style='text-align:justify'><span style='font-size:8.0pt'>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:11.0pt'>
                együttesen,
                mint felek között alulírott helyen és napon az alábbi feltételekkel.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'><b><span style='font-size:11.0pt'>&nbsp;</span></b></p>

        <p class=MsoNormal style='text-align:justify'>
            <b>
                <span style='font-size:11.0pt'>
                    1.
                    Előzmény
                </span>
            </b>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:11.0pt'>
                Felek
                rögzítik, hogy Tulajdonos az infokommunikációs akadálymentesítés elősegítése
                érdekében teszt jelleggel „a jelnyelvi tolmácsszolgálatok fejlesztése video
                alapú jelnyelvi tolmácsolás és szöveges operátori szolgáltatások bevezetésével”
                című, TIOP-3.3.1.B-12/1-2012-0001 számú támogatott projekt keretében ún.
                KONTAKT Tolmácsszolgálatot üzemeltet hallássérült természetes személy
                felhasználók részére. Felek rögzítik továbbá, hogy jelen szerződés
                létrejöttének és fenntartásának feltétele, hogy a projekthez kapcsolódóan
                Használó a Tulajdonossal a külön szolgáltatási szerződést (a továbbiakban: <b>
                    Szolgáltatási
                    szerződés
                </b>) megkösse és az alapján a KONTAKT Tolmácsszolgálat elfogadott
                regisztrációval rendelkező felhasználója legyen.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:11.0pt'>
                Használó
                kijelenti és szavatolja, hogy a Szolgáltatási szerződés közte és a Tulajdonos
                között létrejött, a KONTAKT Tolmácsszolgálat elfogadott regisztrációval
                rendelkező felhasználója.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt'>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify'>
            <b><span style='font-size:11.0pt'>2.</span></b><span style='font-size:11.0pt'> <b>A</b></span><b>
                <span style='font-size:11.0pt'>szerződés időtartama</span>
            </b>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:11.0pt'>
                Felek
                megállapodása alapján jelen szerződés a mindkét fél általi aláírás napján lép
                hatályba és a 2015. február 1. napjáig tartó határozott időtartamra jön létre.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt'>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify'>
            <b><span style='font-size:11.0pt'>3.</span></b><span style='font-size:11.0pt'> <b>A</b></span><b>
                <span style='font-size:11.0pt'>szerződés tárgya</span>
            </b>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:11.0pt'>
                Felek
                megállapodása alapján Tulajdonos a kizárólagos tulajdonát képező és a KONTAKT
                Tolmácsszolgálat szolgáltatásainak igénybevételére alkalmas ASUS Fonepad 7 HD
                típusú készüléket, valamint annak a jelen szerződés elválaszthatatlan
                mellékletét képező átadás-átvételi jegyzőkönyvben rögzített tartozékait (a
                továbbiakban együttesen: Készülék) Használó használatába bocsátja az 1. pontban
                meghatározott projekt tesztelése érdekében a 2. pontban meghatározott
                időtartamra.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:11.0pt'>
                Tulajdonos
                a jelen szerződés aláírásával egyidejűleg a mellékelt átadás-átvételi
                jegyzőkönyv szerint – a Készülék tulajdonjogának érintése nélkül – Használó
                birtokába és használatába adja a Készüléket. Használó a jelen szerződés
                aláírásával a Készülék átvételét elismeri és nyugtázza.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:11.0pt'>
                A
                készülék beüzemelésével és használatával kapcsolatosan a jelen szerződésre
                vonatkozó általános szerződési feltételek (ÁSZF) szerint Tulajdonos – Használó
                erre vonatkozó igénye esetén – segítséget nyújt (ÁSZF VI/5 pont).
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'><span style='font-size:8.0pt'>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:11.0pt'>
                Használó
                tudomásul veszi Tulajdonos azon tájékoztatását, mely szerint a Készülék használatához
                internet elérésre van szükség. A készülék az internetre kapcsolódni egyaránt
                képes WiFi-n, és mobil szolgáltatón keresztül, ún. micro SIM kártya
                behelyezését követően. A megfelelő sávszélességű internet hozzáférés
                biztosítása a Szolgáltatási szerződésben és az ÁSZF-ben meghatározottak szerint
                Használó kötelezettsége saját költségén. Felek kifejezetten rögzítik, hogy az
                internet-szolgáltatás fenntartásának költségei Használót terhelik, azok
                Tulajdonosra át nem háríthatóak.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt'>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify'>
            <b><span style='font-size:11.0pt'>4.</span></b><span style='font-size:11.0pt'><b>Díjazás</b></span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:11.0pt'>
                Felek
                kifejezetten rögzítik, hogy Tulajdonos a Készüléket ellenérték nélkül adja át
                Használó részére, azért Használó jelen szerződés időtartama alatt díjfizetésre
                nem köteles.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt'>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify'>
            <b><span style='font-size:11.0pt'>5.</span></b><span style='font-size:11.0pt'><b>Használó kötelezettségei: </b></span>
        </p>

        <p class=MsoNormal style='text-align:justify'><span style='font-size:8.0pt'>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:11.0pt'>
                Használót
                jelen szerződéses jogviszony fennállása alatt az alábbi kötelezettségek
                terhelik:
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <b><span style='font-size:11.0pt'>a)</span></b><span style='font-size:11.0pt'>
                a Készülék állagának megóvása és rendeltetésszerű
                használata.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:11.0pt'>
                A
                Használó köteles saját költségén a Készüléket karbantartani, állagát megóvni,
                azt rendeltetésszerűen használni.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:11.0pt'>
                Felek
                kifejezetten rögzítik, hogy Használó nem telepíthet és nem futtathat illegális
                tartalmakat a készüléken  (ÁSZF IV/8.2.a) pont).
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:11.0pt'>
                Amennyiben
                Használó a jelen alpontban meghatározott kötelezettségeinek nem tesz eleget,
                úgy Tulajdonos jogosult jelen szerződést azonnali hatállyal felmondani, ez
                esetben Használó köteles a Készüléket a felmondástól számított 3 munkanapon
                belül a rendeltetésszerű használatnak megfelelő állapotban átadás-átvételi
                jegyzőkönyv felvétele mellett Tulajdonosnak visszaadni.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:11.0pt'>
                Használó
                – függetlenül attól, hogy Tulajdonos él-e az azonnali hatályú felmondás jogával
                – köteles a szerződésszegésből eredő károkat a polgári jog szabályai szerint
                megtéríteni, valamint viselni valamennyi magatartásával összefüggésben
                felmerülő hátrányos jogkövetkezményt.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'><span style='font-size:8.0pt'>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify'>
            <b><span style='font-size:11.0pt'>b)</span></b><span style='font-size:11.0pt'>
                A Készülék megrongálódása, meghibásodása,
                megsemmisülése, Használó birtokából való kikerülése, egyéb, a Készüléket érintő
                lényeges körülmény esetén haladéktalan bejelentési, kárenyhítési,
                együttműködési kötelezettség (ÁSZF IV/8.2.b) pont) a Tulajdonos felé.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:11.0pt'>
                Amennyiben
                Használó a jelen alpontban meghatározott kötelezettségeinek nem tesz eleget,
                úgy Tulajdonos jogosult jelen szerződést azonnali hatállyal felmondani, ez esetben
                Használó köteles a Készüléket a felmondástól számított 3 munkanapon belül a
                rendeltetésszerű használatnak megfelelő állapotban átadás-átvételi jegyzőkönyv
                felvétele mellett Tulajdonosnak visszaadni.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:11.0pt'>
                Használó
                – függetlenül attól, hogy Tulajdonos él-e az azonnali hatályú felmondás jogával
                – köteles a szerződésszegésből eredő károkat a polgári jog szabályai szerint
                megtéríteni, valamint viselni valamennyi magatartásával összefüggésben
                felmerülő hátrányos jogkövetkezményt.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'><span style='font-size:8.0pt'>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify'>
            <b>
                <span style='font-size:11.0pt'>
                    c)
                </span>
            </b><span style='font-size:11.0pt'>
                folyamatos együttműködés a KONTAKT
                Tolmácsszolgálattal a Szolgáltatási szerződés 7. pontjában meghatározottak
                szerint (ÁSZF IV/8.2.c) pont).<b> </b>
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:11.0pt'>
                Amennyiben
                Használó ismételten nem tesz megfelelően eleget a Szolgáltatási szerződésben
                meghatározott igénybevételi és visszajelzési kötelezettségének, Tulajdonos
                jogosult jelen szerződést azonnali hatállyal felmondani, ez esetben Használó
                köteles a Készüléket a felmondástól számított 3 munkanapon belül a
                rendeltetésszerű használatnak megfelelő állapotban átadás-átvételi jegyzőkönyv
                felvétele mellett Tulajdonosnak visszaadni.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'><span style='font-size:8.0pt'>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify'>
            <b><span style='font-size:11.0pt'>d)</span></b><span style='font-size:11.0pt'>
                A jelen szerződés időtartama alatt kizárólagosan Használó
                jogosult a készülék használatára, a Készüléket Használó más harmadik személynek
                – az ÁSZF III/8.d) pontjában meghatározott sürgős eset kivételével – nem
                adhatja át (ÁSZF IV/8.2.d) pont).
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:11.0pt'>
                Amennyiben
                Használó a jelen alpontban rögzített kötelezettségét megszegi, köteles az ebből
                eredő károkat megtéríteni. Ismételt esetben Tulajdonos jogosult jelen
                szerződést azonnali hatállyal felmondani, ez esetben Használó köteles a
                Készüléket a felmondástól számított 3 munkanapon belül a rendeltetésszerű
                használatnak megfelelő állapotban átadás-átvételi jegyzőkönyv felvétele mellett
                Tulajdonosnak visszaadni.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt'>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:11.0pt'>
                Felek
                megállapodása alapján amennyiben Használó a Készüléket a jelen pont a-d)
                alpontjaiban meghatározott határidőben nem adja Tulajdonos birtokába, úgy
                köteles a késedelem időtartamára napi 5.000,- Ft , de maximum 25.000,- Ft
                kötbért a Tulajdonosnak megfizetni, 5 napot meghaladó késedelem esetén ezen
                felül köteles a Készülék átadás-átvételi jegyzőkönyvben meghatározott értékét
                is Tulajdonosnak megtéríteni.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'><b><span style='font-size:11.0pt'>&nbsp;</span></b></p>

        <p class=MsoNormal style='text-align:justify'>
            <b>
                <span style='font-size:11.0pt'>
                    6.
                    Kárveszély viselése
                </span>
            </b>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:11.0pt'>
                Felek
                megállapodása alapján a Készülékkel kapcsolatos kárveszélyt a Készülék
                átvételétől kezdve a Használó viseli (ÁSZF IV/9. pont), erre tekintettel
                köteles a Tulajdonosnak megtéríteni minden olyan, a Készülékben beállott kárt –
                ideértve a Készülék megsemmisüléséből, elvesztéséből vagy ellopásából eredő
                kárt is –, melynek megtérítésére más nem kötelezhető .
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt'>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify'>
            <b><span style='font-size:11.0pt'>7. A</span></b><b>
                <span style='font-size:11.0pt'>
                    szerződés
                    megszűnése illetőleg megszüntetése:
                </span>
            </b>
        </p>

        <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt'>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify;text-indent:7.1pt'>
            <b>
                <span style='font-size:11.0pt'>7.1 Jelen szerződés az alábbi esetekben szűnik meg:</span>
            </b>
        </p>

        <p class=MsoNormal style='margin-left:54.0pt;text-align:justify;text-indent:
-18.0pt'>
            <b>
                <span style='font-size:11.0pt'>
                    a)<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </b><span style='font-size:11.0pt'>a határozott idő lejártával,</span>
        </p>

        <p class=MsoNormal style='margin-left:54.0pt;text-align:justify;text-indent:
-18.0pt'>
            <b>
                <span style='font-size:11.0pt'>
                    b)<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </b><span style='font-size:11.0pt'>
                Használó SINOSZ tagságának
                bármely okból történő megszűnésével,
            </span>
        </p>

        <p class=MsoNormal style='margin-left:54.0pt;text-align:justify;text-indent:
-18.0pt'>
            <b>
                <span style='font-size:11.0pt'>
                    c)<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </b><span style='font-size:11.0pt'>Használó halálával,</span>
        </p>

        <p class=MsoNormal style='margin-left:54.0pt;text-align:justify;text-indent:
-18.0pt'>
            <b>
                <span style='font-size:11.0pt'>
                    d)<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </b><span style='font-size:11.0pt'>
                Tulajdonos jogutód nélkül
                történő megszűnésével,
            </span>
        </p>

        <p class=MsoNormal style='margin-left:54.0pt;text-align:justify;text-indent:
-18.0pt'>
            <b>
                <span style='font-size:11.0pt'>
                    e)<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </b><span style='font-size:11.0pt'>
                ha a Szolgáltatási szerződés bármely
                okból megszűnik,
            </span>
        </p>

        <p class=MsoNormal style='margin-left:54.0pt;text-align:justify;text-indent:
-18.0pt'>
            <b>
                <span style='font-size:11.0pt'>
                    f)<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </b><span style='font-size:11.0pt'>
                a készülék megsemmisülésével
                illetőleg elvesztésével (ideértve ellopás esetét is).
            </span>
        </p>

        <p class=MsoNormal style='margin-left:36.0pt;text-align:justify'>
            <span style='font-size:11.0pt'>
                Felek ismételten kifejezetten rögzítik, hogy a
                készülék megsemmisülése, illetőleg elvesztése esetén Használó a Tulajdonos felé
                kártérítési felelősséggel tartozik. Rögzítik továbbá felek, hogy a Készülék
                megsemmisülése illetőleg elvesztése esetén Tulajdonos a készülék pótlására nem
                köteles.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt'>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify;text-indent:7.1pt'>
            <b>
                <span style='font-size:11.0pt'>
                    7.2 Jelen szerződés az alábbi esetekben szüntethető
                    meg:
                </span>
            </b>
        </p>

        <p class=MsoNormal style='margin-left:36.0pt;text-align:justify'>
            <b>
                <span style='font-size:11.0pt'>a)</span>
            </b><span style='font-size:11.0pt'>
                felek
                közös megegyezésével,
            </span>
        </p>

        <p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:
17.4pt'>
            <b><span style='font-size:11.0pt'>b</span></b><span style='font-size:
11.0pt'>) súlyos szerződésszegés esetén azonnali hatályú felmondással,</span>
        </p>

        <p class=MsoNormal style='margin-left:35.4pt;text-align:justify'>
            <span style='font-size:11.0pt'>
                c) a jelen szerződés 1. pontjában leírt projekt
                forrásainak bármely okból történő megszűnése vagy a projekt fenntarthatóságát
                érintő csökkenése esetén, Szolgáltató azonnali hatályú felmondásával.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt'>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:11.0pt'>
                Felek
                kifejezetten rögzítik, hogy jelen szerződés bármely okból történő megszűnése
                nem jelenti egyben a Szolgáltatási szerződés megszűnését is.  A Szolgáltatási
                szerződés megszűnésére a Szolgáltatási szerződés 9. pontjában rögzítettek az
                irányadók.
            </span>
        </p>

        <p class=MsoNormal style='margin-left:35.4pt;text-align:justify'>
            <span style='font-size:11.0pt'>&nbsp;</span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:11.0pt'>
                Használó
                kifejezetten kötelezettséget vállal arra, hogy a jelen szerződés bármely okból
                történő megszűnésétől számított 3 munkanapon belül a Készüléket a
                rendeltetésszerű használatnak megfelelő állapotban átadás-átvételi jegyzőkönyv
                felvétele mellett Tulajdonosnak visszaadja.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:11.0pt'>
                Felek
                megállapodása alapján amennyiben Használó a Készüléket a fent meghatározott
                határidőben nem adja Tulajdonos birtokába, úgy köteles a késedelem időtartamára
                napi 5.000,- Ft, de maximum 25.000,- Ft kötbért Tulajdonosnak megfizetni, 5
                napot meghaladó késedelem esetén ezen felül köteles a Készülék átadás-átvételi
                jegyzőkönyvben meghatározott értékét Tulajdonosnak megtéríteni.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'><b><span style='font-size:11.0pt'>&nbsp;</span></b></p>

        <p class=MsoNormal style='text-align:justify'>
            <b><span style='font-size:11.0pt'>8. A</span></b><b>
                <span style='font-size:11.0pt'>
                    szerződés
                    módosítása
                </span>
            </b>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:11.0pt'>
                Jelen
                szerződés felek közös megegyezésével, illetve a Tulajdonos által egyoldalúan
                kizárólag az ÁSZF-ben írt feltételek mellett az ÁSZF egyoldalú módosítása útján
                módosítható (ÁSZF VI/1. pont).
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'><b><span style='font-size:11.0pt'>&nbsp;</span></b></p>

        <p class=MsoNormal style='text-align:justify'>
            <b>
                <span style='font-size:11.0pt'>
                    9.
                    Adatkezelés, adatbiztonság:
                </span>
            </b><span style='font-size:11.0pt'> </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:11.0pt'>
                Az
                adatkezelés részletes szabályait az ÁSZF VI/3. pontja tartalmazza.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:11.0pt'>
                Használó
                kijelenti, hogy az adatkezelés megkezdése előtt részletes és egyértelmű
                tájékoztatást kapott az adatai kezelésével kapcsolatos minden tényről,
                körülményről és eljárásról.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt'>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt'>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:11.0pt'>
                Használó
                személyes adatai – ideértve az információs önrendelkezési jogról és az
                információ szabadságról szóló 2011. évi CXII. törvény szerinti különleges
                adatokat is – Tulajdonos, valamint a jelen szerződésben hivatkozott projektet
                támogató Nemzeti Fejlesztési Ügynökség és az abban közreműködő ESZA Társadalmi
                Nonprofit Kft. általi kezeléséhez – ideértve ezen adatok felvételét, tárolását
                és nyilvánosságra hozatalát is – jelen szerződés aláírásával kifejezetten
                hozzájárul.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify;text-indent:35.4pt'>
            <span style='font-size:11.0pt'>&nbsp;</span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:11.0pt'>
                A Tulajdonos
                műszaki és szervezési intézkedésekkel köteles gondoskodni a kezelt felhasználói
                adatok védelméről. Az adatbiztonság részletes szabályait az ÁSZF VI/3.10. pontja
                tartalmazza.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt'>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify'>
            <b>
                <span style='font-size:11.0pt'>
                    9.
                    Általános Szerződési Feltételek (ÁSZF):
                </span>
            </b><span style='font-size:11.0pt'>
                a
                jelen szerződésben nem szabályozott kérdésekre a Tulajdonos alábbi megnevezésű
                Általános Szerződési Feltételei vonatkoznak:
            </span>
        </p>

        <p class=Norml1 style='margin-left:21.3pt;text-align:justify'>
            <span style='font-size:11.0pt;font-family:"Times New Roman","serif";color:windowtext'>
                „ÁLTALÁNOS
                SZERZŐDÉSI FELTÉTELEK
            </span>
        </p>

        <p class=Norml1 style='margin-left:21.3pt;text-align:justify'>
            <span style='font-size:11.0pt;font-family:"Times New Roman","serif";color:windowtext'>
                A
                jelnyelvi tolmácsszolgálatok fejlesztése video alapú jelnyelvi tolmácsolás és
                szöveges operátori szolgáltatások bevezetésével című,
                TIOP-3.3.1.B-12/1-2012-0001 számú projekt megvalósítása során nyújtott KONTAKT
                tolmácsszolgáltatás igénybevételéhez”.
            </span>
        </p>

        <p class=Norml1 style='text-align:justify'>
            <span style='font-size:11.0pt;
font-family:"Times New Roman","serif";color:windowtext'>
                Az ÁSZF elérhető a
                Szolgáltató honlapján (<a href="http://www.sinosz.hu/">
                    <span style='color:windowtext;
text-decoration:none'>www.sinosz.hu</span>
                </a>).
            </span>
        </p>

        <p class=Norml1 style='text-align:justify'>
            <span style='font-size:11.0pt;
font-family:"Times New Roman","serif";color:windowtext'>
                Felhasználó kijelenti,
                hogy a hatályos ÁSZF-et megismerte, az abban foglaltakat magára nézve
                kötelezőnek elfogadja.
            </span>
        </p>

        <p class=Norml1 style='text-align:justify'>
            <span style='font-size:11.0pt;
font-family:"Times New Roman","serif";color:windowtext'>&nbsp;</span>
        </p>

        <p class=Norml1 style='text-align:justify'>
            <b>
                <span style='font-size:11.0pt;
font-family:"Times New Roman","serif";color:windowtext'>
                    10. Használó jelen
                    szerződéssel kapcsolatos nyilatkozatai:
                </span>
            </b>
        </p>

        <p class=Norml1 style='text-align:justify'>
            <span style='font-size:11.0pt;
font-family:"Times New Roman","serif";color:windowtext'>
                Használó kijelenti,
                hogy jelen szerződéssel összefüggő minden lényeges körülményről tájékoztatásra
                került, a tájékoztatásban és a szerződésben foglaltakat megértette, azokat
                tudomásul veszi.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:11.0pt'>
                Használó
                kijelenti továbbá, hogy az adatkezelésre vonatkozóan is teljes körűen
                tájékoztatásra került, annak alapja az ő hozzájárulása.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt'>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify'>
            <b>
                <span style='font-size:11.0pt'>
                    11.
                    Egyéb
                </span>
            </b>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:11.0pt'>
                A
                jelen szerződésben nem szabályozott kérdésekben a Polgári Törvénykönyv, a
                Polgári Törvénykönyv kölcsönszerződésre vonatkozó szabályai és más vonatkozó
                jogszabályok rendelkezései az irányadóak. Felek jogvitája esetén alkalmazandó
                eljárást az ÁSZF VI/8. pontja rögzíti.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:11.0pt'>
                Ha
                a jelen szerződés bármely pontja érvényét vesztené, attól a szerződés egésze
                még nem válik érvénytelenné.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt'>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify;text-autospace:none'>
            <span style='font-size:11.0pt'>
                Felek jelen szerződést kölcsönös elolvasás és egységes
                értelmezés után, mint akaratukkal mindenben megegyezőt, jóváhagyólag aláírják.
            </span>
        </p>

        <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;text-autospace:none'>
            <span style='font-size:11.0pt'>Budapest, @Model.DateNow</span>
        </p>

        <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;text-autospace:none'>
            <span style='font-size:11.0pt'>&nbsp;</span>
        </p>

        <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;text-autospace:none'>
            <span style='font-size:11.0pt'>&nbsp;</span>
        </p>

        <div align=center>

            <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=621
                   style='width:465.65pt;border-collapse:collapse'>
                <tr style='height:45.15pt'>
                    <td width=308 valign=top style='width:231.05pt;padding:0cm 3.5pt 0cm 3.5pt;
  height:45.15pt'>
                        <p class=MsoNormal><span style='font-size:11.0pt'>&nbsp;</span></p>
                        <p class=MsoNormal align=center style='margin-left:2.55pt;text-align:center;
  text-indent:-2.55pt'><span style='font-size:11.0pt'>………………………………..…………..</span></p>
                        <p class=MsoNormal align=center style='margin-left:2.55pt;text-align:center'>
                            <span style='font-size:11.0pt'>Siketek és Nagyothallók Országos Szövetsége</span>
                        </p>
                        <p class=MsoNormal align=center style='margin-left:2.55pt;text-align:center'>
                            <span style='font-size:11.0pt'>Tulajdonos</span>
                        </p>
                        <p class=MsoNormal align=center style='margin-left:2.55pt;text-align:center'>
                            <span style='font-size:11.0pt'>képv.: Ormódi Róbert meghatalmazott</span>
                        </p>
                    </td>
                    <td width=313 valign=top style='width:234.6pt;padding:0cm 3.5pt 0cm 3.5pt;
  height:45.15pt'>
                        <p class=MsoNormal align=center style='margin-left:22.7pt;text-align:center'>
                            <span style='font-size:11.0pt'>&nbsp;</span>
                        </p>
                        <p class=MsoNormal align=center style='margin-left:22.7pt;text-align:center'>
                            <span style='font-size:11.0pt'>…………………………..…………………</span>
                        </p>
                        <p class=MsoNormal align=center style='margin-left:22.7pt;text-align:center'>
                            <span style='font-size:11.0pt'>@Model.SinoszUserName</span>
                        </p>
                        <p class=MsoNormal align=center style='margin-left:22.7pt;text-align:center'>
                            <span style='font-size:11.0pt'>Használó</span>
                        </p>
                    </td>
                </tr>
            </table>

        </div>

        <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt'>&nbsp;</span></p>

        <span style='font-size:12.0pt;font-family:"Times New Roman","serif"'>
            <br clear=all style='page-break-before:always'>
        </span>

        <p class=MsoNormal align=right style='text-align:right'>
            <span style='font-size:
10.0pt'>Melléklet a tesztkészülék használatára vonatkozó szerződéshez</span>
        </p>

        <p class=MsoNormal style='text-align:justify'><span style='font-size:10.0pt'>&nbsp;</span></p>

        <p class=MsoNormal align=center style='margin-top:6.0pt;margin-right:0cm;
margin-bottom:6.0pt;margin-left:0cm;text-align:center'>
            <b>
                <span style='font-size:16.0pt'>Átadás-átvételi jegyzőkönyv</span>
            </b>
        </p>

        <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt'>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:10.0pt'>
                mely
                a teszt jelleggel „a jelnyelvi tolmácsszolgálatok fejlesztése video alapú
                jelnyelvi tolmácsolás és szöveges operátori szolgáltatások bevezetésével” című,
                TIOP-3.3.1.B-12/1-2012-0001 számú támogatott projekt keretében a KONTAKT
                Tolmácsszolgálatot üzemeltető 
            </span>
        </p>

        <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:0cm;
margin-left:35.45pt;margin-bottom:.0001pt;text-align:justify'>
            <b>
                <span style='font-size:10.0pt'>Siketek és Nagyothallók Országos Szövetsége</span>
            </b><span style='font-size:10.0pt'></span>
        </p>

        <p class=MsoNormal style='margin-left:35.45pt;text-align:justify;text-indent:
35.35pt'>
            <span style='font-size:10.0pt'>
                székhely: 1068 Budapest, Benczúr u. 21.
            </span>
        </p>

        <p class=MsoNormal style='margin-left:35.45pt;text-align:justify'>
            <span style='font-size:10.0pt'>– a továbbiakban<b>SINOSZ</b></span>
        </p>

        <p class=MsoNormal style='text-align:justify;line-height:200%'>
            <span style='font-size:10.0pt;line-height:200%'>és</span>
        </p>

        <p class=MsoNormal style='margin-left:35.4pt;text-align:justify;line-height:
200%'>
            <b>
                <span style='font-size:10.0pt;line-height:200%'>
                    @Model.SinoszUserName
                </span>
            </b>
        </p>

        <p class=MsoNormal style='margin-left:35.4pt;text-align:justify;text-indent:
35.4pt;line-height:200%'>
            <span style='font-size:10.0pt;line-height:200%'>l</span><span style='font-size:10.0pt;line-height:200%'>akóhely: @Model.HomeAddress</span>
        </p>

        <p class=MsoNormal style='margin-left:35.4pt;text-align:justify;line-height:
200%'>
            <span style='font-size:10.0pt;line-height:200%'>
                – a továbbiakban: <b>
                    Használó
                </b>
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify;line-height:200%'>
            <span style='font-size:10.0pt;line-height:200%'>
                – között a tesztkészülék használatára
                vonatkozó szerződés létrejöttére tekintettel, annak mellékleteként készült.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:10.0pt'>
                Helyszín:
                1068 Budapest, Benczúr u. 21.
            </span>
        </p>

        <p class=MsoNormal style='margin-top:6.0pt;text-align:justify'>
            <span style='font-size:10.0pt'>Jelen vannak:</span>
        </p>

        <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
text-indent:-18.0pt'>
            <span style='font-size:10.0pt;font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><span style='font-size:10.0pt'>SINOSZ<b> </b>képviselője </span>
        </p>

        <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
text-indent:-18.0pt'>
            <span style='font-size:10.0pt;font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><span style='font-size:10.0pt'>
                Használó/Használó törvényes
                képviselője
            </span>
        </p>

        <p class=MsoNormal style='margin-top:6.0pt;text-align:justify'>
            <span style='font-size:10.0pt'>Készülék adatai:</span>
        </p>

        <p class=MsoListParagraph style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
0cm;margin-left:36.0pt;margin-bottom:.0001pt;text-align:justify;text-indent:
-18.0pt'>
            <span style='font-size:10.0pt;font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><span style='font-size:10.0pt'>Típus: ASUS Fonepad 7 HD</span>
        </p>

        <p class=MsoListParagraph style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
0cm;margin-left:36.0pt;margin-bottom:.0001pt;text-align:justify;text-indent:
-18.0pt'>
            <span style='font-size:10.0pt;font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><span style='font-size:10.0pt'>IMEI azonosító: @Model.DeviceId</span>
        </p>

        <p class=MsoNormal style='margin-top:6.0pt;text-align:justify'>
            <span style='font-size:10.0pt'>Készülék tartozékai:</span>
        </p>

        <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
text-indent:-18.0pt'>
            <span style='font-size:10.0pt;font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><span style='font-size:10.0pt'>Készülék saját gyári doboza</span>
        </p>

        <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
text-indent:-18.0pt'>
            <span style='font-size:10.0pt;font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><span style='font-size:10.0pt'>
                Készülék saját gyári USB -
                microUSB kábele
            </span>
        </p>

        <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
text-indent:-18.0pt'>
            <span style='font-size:10.0pt;font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><span style='font-size:10.0pt'>
                Készülék saját gyári asztali
                tartója
            </span>
        </p>

        <p class=MsoListParagraph style='margin-left:36.0pt;text-align:justify;
text-indent:-18.0pt'>
            <span style='font-size:10.0pt;font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><span style='font-size:10.0pt'>
                Yenkee YST 002 univerzális asztali
                tartó
            </span>
        </p>

        <p class=MsoNormal style='margin-top:6.0pt;text-align:justify'>
            <span style='font-size:10.0pt'>Készülék állapota:</span>
        </p>

        <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:0cm;
margin-left:35.45pt;margin-bottom:.0001pt;text-align:justify;text-indent:-14.15pt'>
            <span style='font-size:10.0pt;font-family:Symbol'></span><span style='font-size:
10.0pt'>
                Új készülék, bontatlan csomagolásban (felek rögzítik, hogy a
                készülék újkori értéke 72.771,- Ft, azaz: hetvenkétezer-hétszázhetvenegy
                forint);
            </span>
        </p>

        <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:0cm;
margin-left:35.45pt;margin-bottom:.0001pt;text-align:justify;text-indent:-14.2pt;
line-height:200%'>
            <span style='font-size:10.0pt;line-height:200%;font-family:
Symbol'></span><span style='font-size:10.0pt;line-height:200%'>
                Használt
                készülék, ………………………………………………………………………………….. állapotban (felek rögzítik, hogy a
                készülék átadás-átvételkori értéke ………………. - Ft, azaz: ……………………………… forint).
            </span>
        </p>

        <p class=MsoNormal style='margin-top:6.0pt;text-align:justify'>
            <span style='font-size:10.0pt'>
                Használó kijelenti és jelen jegyzőkönyv aláírásával
                elismeri, hogy a készüléket a jelen jegyzőkönyvben rögzített állapotban, annak
                valamennyi tartozékával együtt, rendeltetésszerű használatra alkalmas
                állapotban átvette.
            </span>
        </p>

        <p class=MsoNormal style='margin-top:18.0pt;text-align:justify'>
            <span style='font-size:10.0pt'>Budapest, @Model.DateNow</span>
        </p>

        <p class=MsoNormal style='text-align:justify'><span style='font-size:10.0pt'>&nbsp;</span></p>

        <div align=center>

            <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=621
                   style='width:465.65pt;border-collapse:collapse'>
                <tr style='height:45.15pt'>
                    <td width=308 valign=top style='width:231.05pt;padding:0cm 3.5pt 0cm 3.5pt;
  height:45.15pt'>
                        <p class=MsoNormal><b><span style='font-size:8.0pt'>&nbsp;</span></b></p>
                        <p class=MsoNormal align=center style='margin-left:2.55pt;text-align:center;
  text-indent:-2.55pt'><b><span style='font-size:11.0pt'>………………………………..…………..</span></b></p>
                        <p class=MsoNormal align=center style='margin-left:2.55pt;text-align:center'>
                            <b>
                                <span style='font-size:11.0pt'>Siketek és Nagyothallók Országos Szövetsége</span>
                            </b>
                        </p>
                    </td>
                    <td width=313 valign=top style='width:234.6pt;padding:0cm 3.5pt 0cm 3.5pt;
  height:45.15pt'>
                        <p class=MsoNormal align=center style='margin-left:22.7pt;text-align:center'>
                            <b>
                                <span style='font-size:8.0pt'>&nbsp;</span>
                            </b>
                        </p>
                        <p class=MsoNormal align=center style='margin-left:22.7pt;text-align:center'>
                            <b>
                                <span style='font-size:11.0pt'>@Model.SinoszUserName</span>
                            </b>
                        </p>
                        <p class=MsoNormal align=center style='margin-left:22.7pt;text-align:center'>
                            <b>
                                <span style='font-size:11.0pt'>Használó</span>
                            </b>
                        </p>
                    </td>
                </tr>
            </table>

        </div>

        <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt'>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify'>&nbsp;</p>

    </div>
