@model Tax.Portal.Models.PrintContractViewModel

<title>Szolgáltatási szerződés természetes személy felhasználónak</title>

<div class=WordSection1>

        <p class=MsoNormal align=center style='text-align:center'>
            <b>
                <span style='font-size:12.0pt'>
                    Szolgáltatási szerződés természetes személy
                    felhasználónak
                </span>
            </b>
        </p>

        <p class=MsoNormal align=center style='text-align:center'>
            <b>
                <span style='font-size:12.0pt'>próbaidőszakra</span>
            </b>
        </p>

        <p class=MsoNormal style='text-align:justify'><span style='font-size:8.0pt'>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify'>mely létrejött</p>

        <p class=MsoNormal style='text-align:justify'>egyrészről az alább megjelölt <b>Szolgáltató:</b></p>

        <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0
               style='border-collapse:collapse;border:none;border-collapse:collapse !msorm;
 border:none !msorm'>
            <tr>
                <td width=350 valign=top style='width:250.4pt;border:solid black 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;border:solid black 1.0pt !msorm;padding:0cm 5.4pt 0cm 5.4pt !msorm'>
                    <p class=MsoNormal style='text-align:justify'><b>Elnevezése:</b></p>
                </td>
                <td width=350 valign=top style='width:250.7pt;border:solid black 1.0pt;
  border-left:none;padding:0cm 5.4pt 0cm 5.4pt;border:solid black 1.0pt !msorm;
  border-left:none !msorm;padding:0cm 5.4pt 0cm 5.4pt !msorm'>
                    <p class=MsoTitle style='text-align:justify'>
                        <span style='font-size:11.0pt;
  letter-spacing:0pt'>Siketek és Nagyothallók Országos Szövetsége</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width=350 valign=top style='width:200.4pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt;border:solid black 1.0pt !msorm;
  border-top:none !msorm;padding:0cm 5.4pt 0cm 5.4pt !msorm'>
                    <p class=MsoNormal style='text-align:justify'><b>Székhelye:</b></p>
                </td>
                <td width=374 valign=top style='width:280.7pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;border-top:none !msorm;border-left:none !msorm;
  border-bottom:solid black 1.0pt !msorm;border-right:solid black 1.0pt !msorm;
  padding:0cm 5.4pt 0cm 5.4pt !msorm'>
                    <p class=MsoTitle style='text-align:justify'>
                        <span style='font-size:11.0pt;
  letter-spacing:0pt;font-weight:normal'>1068 Budapest, Benczúr u. 21.</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width=350 valign=top style='width:200.4pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt;border:solid black 1.0pt !msorm;
  border-top:none !msorm;padding:0cm 5.4pt 0cm 5.4pt !msorm'>
                    <p class=MsoNormal style='text-align:justify'><b>Képviselője:</b></p>
                </td>
                <td width=374 valign=top style='width:280.7pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;border-top:none !msorm;border-left:none !msorm;
  border-bottom:solid black 1.0pt !msorm;border-right:solid black 1.0pt !msorm;
  padding:0cm 5.4pt 0cm 5.4pt !msorm'>
                    <p class=MsoNormal style='text-align:justify'>dr. Kósa Ádám országos elnök</p>
                </td>
            </tr>
            <tr>
                <td width=350 valign=top style='width:200.4pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt;border:solid black 1.0pt !msorm;
  border-top:none !msorm;padding:0cm 5.4pt 0cm 5.4pt !msorm'>
                    <p class=MsoNormal style='text-align:justify'>
                        <b>
                            Jelen szerződéskötés során
                            képviseli:
                        </b>
                    </p>
                </td>
                <td width=374 valign=top style='width:280.7pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;border-top:none !msorm;border-left:none !msorm;
  border-bottom:solid black 1.0pt !msorm;border-right:solid black 1.0pt !msorm;
  padding:0cm 5.4pt 0cm 5.4pt !msorm'>
                    <p class=MsoNormal style='text-align:justify'>
                        Ormódi Róbert általános
                        meghatalmazással
                    </p>
                </td>
            </tr>
            <tr>
                <td width=350 valign=top style='width:200.4pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt;border:solid black 1.0pt !msorm;
  border-top:none !msorm;padding:0cm 5.4pt 0cm 5.4pt !msorm'>
                    <p class=MsoNormal style='text-align:justify'><b>Országos nyilvántartásbeli azonosító:</b></p>
                </td>
                <td width=374 valign=top style='width:280.7pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;border-top:none !msorm;border-left:none !msorm;
  border-bottom:solid black 1.0pt !msorm;border-right:solid black 1.0pt !msorm;
  padding:0cm 5.4pt 0cm 5.4pt !msorm'>
                    <p class=MsoTitle align=left style='text-align:left'>
                        <span style='letter-spacing:
  0pt;font-weight:normal'>Pk. 60331/1989.</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width=350 valign=top style='width:200.4pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt;border:solid black 1.0pt !msorm;
  border-top:none !msorm;padding:0cm 5.4pt 0cm 5.4pt !msorm'>
                    <p class=MsoNormal style='text-align:justify'><b>E-mail címe:</b></p>
                </td>
                <td width=374 valign=top style='width:280.7pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;border-top:none !msorm;border-left:none !msorm;
  border-bottom:solid black 1.0pt !msorm;border-right:solid black 1.0pt !msorm;
  padding:0cm 5.4pt 0cm 5.4pt !msorm'>
                    <p class=MsoNormal style='text-align:justify'>
                        <span class=msoIns>
                            <ins cite="mailto:Török%20Tamás" datetime="2014-02-28T15:08">
                                <a href="mailto:info@sinosz.hu">info@sinosz.hu</a>
                            </ins>
                        </span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width=350 valign=top style='width:200.4pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt;border:solid black 1.0pt !msorm;
  border-top:none !msorm;padding:0cm 5.4pt 0cm 5.4pt !msorm'>
                    <p class=MsoNormal style='text-align:justify'><b>Telefon száma:</b></p>
                </td>
                <td width=374 valign=top style='width:280.7pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;border-top:none !msorm;border-left:none !msorm;
  border-bottom:solid black 1.0pt !msorm;border-right:solid black 1.0pt !msorm;
  padding:0cm 5.4pt 0cm 5.4pt !msorm'>
                    <p class=MsoNormal style='text-align:justify'>Tel.:(06-1)351-04-34</p>
                </td>
            </tr>
        </table>

        <p class=MsoNormal style='text-align:justify'><span style='font-size:8.0pt'>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify'>másrészről az alább megjelölt <b>Felhasználó:</b></p>

        <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0
               style='border-collapse:collapse;border:none'>
            <tr>
                <td width=350 valign=top style='width:160pt;border:solid black 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoNormal style='text-align:justify'><b>Név:</b></p>
                </td>
                <td width=350 valign=top style='width:370pt;border:solid black 1.0pt;
  border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoNormal style='text-align:justify'><b>@Model.SinoszUserName</b></p>
                </td>
            </tr>
            <tr>
                <td width=206 valign=top style='width:154.25pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoNormal style='text-align:justify'><b>Születési név:</b></p>
                </td>
                <td width=468 valign=top style='width:351.35pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoNormal style='text-align:justify'><b>@Model.BirthName</b></p>
                </td>
            </tr>
            <tr>
                <td width=206 valign=top style='width:154.25pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoNormal style='text-align:justify'><b>Anyja neve:</b></p>
                </td>
                <td width=468 valign=top style='width:351.35pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoNormal style='text-align:justify'><b>@Model.MothersName</b></p>
                </td>
            </tr>
            <tr>
                <td width=206 valign=top style='width:154.25pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoNormal style='text-align:justify'><b>Születési helye, ideje:</b></p>
                </td>
                <td width=468 valign=top style='width:351.35pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoNormal style='text-align:justify'><b>@Model.BirthDatas</b></p>
                </td>
            </tr>
            <tr>
                <td width=206 valign=top style='width:154.25pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoNormal style='text-align:justify'><b>Lakóhelye:</b></p>
                </td>
                <td width=468 valign=top style='width:351.35pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoNormal style='text-align:justify'><b>@Model.HomeAddress</b></p>
                </td>
            </tr>
            <tr>
                <td width=206 valign=top style='width:154.25pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoNormal style='text-align:justify'><b>SINOSZ tagsági száma:</b></p>
                </td>
                <td width=468 valign=top style='width:351.35pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoNormal style='text-align:justify'><b>@Model.SinoszId</b></p>
                </td>
            </tr>
            <tr>
                <td width=206 valign=top style='width:154.25pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoNormal style='text-align:justify'><b>E-mail címe:</b></p>
                </td>
                <td width=468 valign=top style='width:351.35pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoNormal style='text-align:justify'><b>@Model.Email</b></p>
                </td>
            </tr>
            <tr>
                <td width=206 valign=top style='width:154.25pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoNormal style='text-align:justify'><b>Telefon száma:</b></p>
                </td>
                <td width=468 valign=top style='width:351.35pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoNormal style='text-align:justify'><b>@Model.Telephone</b></p>
                </td>
            </tr>
        </table>

        <p class=MsoNormal style='text-align:justify'>
            együttesen mint felek között
            alulírott helyen és napon az alábbi feltételekkel.
        </p>

        <p class=MsoNormal style='text-align:justify'><b>&nbsp;</b></p>

        <p class=MsoNormal style='text-align:justify'><b>1. A</b><b> szerződés tárgya</b></p>

        <p class=MsoNormal style='text-align:justify'>
            Szolgáltató „A jelnyelvi
            tolmácsszolgálatok fejlesztése video alapú jelnyelvi tolmácsolás és szöveges
            operátori szolgáltatások bevezetésével” című, TIOP-3.3.1.B-12/1-2012-0001 számú
            támogatott projekt keretében tolmácsszolgáltatást nyújt hallássérült
            természetes személy felhasználók részére.
        </p>

        <p class=MsoNormal style='text-align:justify'>
            A tolmácsszolgáltatást jelen
            szerződés alapján a 2014. évre rendezett SINOSZ tagsággal valamint a
            szolgáltatásra elfogadott regisztrációval rendelkező természetes személy veheti
            igénybe.
        </p>

        <p class=MsoNormal style='text-align:justify'>
            Az ÁSZF tartalmazza az
            igénybevétel feltételeit (III/3. pont), a regisztráció folyamatát (III/4. pont),
            a szolgáltatás típusait (III/6. pont), a tolmácsolási módokat (III/9. pont), a
            tolmácsolási területeket (III/8. pont).
        </p>

        <p class=MsoNormal style='text-align:justify'>
            A projekt próbaidőszaka alatt
            oktatási célra a térítésmentes jelnyelvi videó- és szöveges tolmácsszolgáltatás
            nem terjed ki.
        </p>

        <p class=MsoNormal style='text-align:justify'>&nbsp;</p>

        <p class=MsoNormal style='text-align:justify'><b>2. A</b><b> szerződés időbeli hatálya</b></p>

        <p class=MsoNormal style='text-align:justify'>
            A jelen szolgáltatási szerződés
            határozott időre, a szolgáltatás aktiválásától 2015. február 28-ig jön létre.
        </p>

        <p class=MsoNormal style='text-align:justify'>
            Felek rögzítik, hogy a
            szolgáltatás aktiválására (ÁSZF III/5.3. pont) a szerződés mindkét fél általi
            aláírását követő 5 munkanapon belül kerül sor.
        </p>

        <p class=MsoNormal style='text-align:justify'><span style='font-size:8.0pt'>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify'>
            Felek megállapodnak abban, hogy
            amennyiben Felhasználó jelen szerződés időtartamának lejártát követően is
            szeretné megszakítás nélkül igénybe venni a szolgáltatást, úgy erre vonatkozó
            igényét a jelen szerződésben meghatározott határozott idő lejártát megelőző
            legalább 90 nappal a Szolgáltató honlapján a későbbiekben elérhető határozatlan
            időtartamú szolgáltatási szerződés aláírásával és Szolgáltatónak történő
            megküldésével jogosult bejelenteni (ÁSZF III/10. pont).
        </p>

        <p class=MsoNormal style='text-align:justify'>&nbsp;</p>

        <p class=MsoNormal style='text-align:justify'>
            Felek kifejezetten rögzítik, hogy
            Szolgáltató a határozott időtartam lejártát követően a szolgáltatás nyújtására
            kötelezettséget nem vállal, arra kötelezetté csak az előzőekben hivatkozott
            határozatlan időtartamú szerződés általa történő aláírásával válik.
        </p>

        <p class=MsoNormal style='text-align:justify'>&nbsp;</p>

        <p class=MsoNormal style='text-align:justify'><b>3. A</b><b> szolgáltatás műszaki feltételeinek biztosítása (ÁSZF III/3.b) pont)</b></p>

        <p class=MsoNormal style='text-align:justify'>
            Felek egyezően rögzítik, hogy a
            szolgáltatás eléréséhez szükséges megfelelő sávszélességű internet (WI-FI vagy
            GSM rendszernél micro SIM felhasználásával) biztosítása Felhasználó
            kötelezettsége saját költségén:
        </p>

        <p class=MsoNormal style='text-align:justify'>
            Felek egyezően rögzítik, hogy a
            szolgáltatás eléréséhez szükséges előlapi kamerával rendelkező megfelelő
            készülék (PC; iOS vagy android rendszerű tablet, iOS vagy android rendszerű okostelefon)
            biztosítása – felek eltérő külön írásbeli megállapodásának hiányában –
            Felhasználó kötelezettsége saját költségén. A szolgáltatás Felhasználó általi
            igénybevételéhez szükséges és a Felhasználó által biztosítandó eszközök műszaki
            paramétereit a szolgáltatás honlapja tartalmazza. A Felhasználó saját
            eszközeinek működéséért a Szolgáltató semmilyen formában nem felelős.
        </p>

        <p class=MsoNormal style='text-align:justify'>&nbsp;</p>

        <p class=MsoNormal style='text-align:justify'><b>4. A</b><b> szolgáltatás elérésének időrendje</b></p>

        <p class=MsoNormal style='text-align:justify'>
            Szolgáltató kijelenti, Felhasználó
            tudomásul veszi, hogy a szolgáltatás a következők szerint elérhető (ASZF III/11.1.
            pont):
        </p>

        <p class=MsoNormal>a) munkanapokon: 08-16 óráig</p>

        <p class=MsoNormal>b) ügyelet:</p>

        <p class=MsoNormal style='margin-left:72.0pt;text-align:justify;text-indent:
-18.0pt'>
            <span style='font-family:"Courier New"'>
                o<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;
                </span>
            </span>munkanapokon 16:00-08:00 óráig
        </p>

        <p class=MsoNormal style='margin-left:72.0pt;text-align:justify;text-indent:
-18.0pt'>
            <span style='font-family:"Courier New"'>
                o<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;
                </span>
            </span>munkaszüneti napokon (hétvégén és ünnepnapokon): 00:00-24.00
            óráig.
        </p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal style='text-align:justify'>
            <a name="_Toc367981982">
                Felek
                kifejezetten rögzítik, hogy az ügyeleti időszakban Szolgáltató kizárólag sürgősségi
                hívást (ÁSZF III/8.d) pont) fogad. Felhasználó kötelezettséget vállal arra,
                hogy sürgősségi videó hívást csak vészhelyzetben kezdeményez, valamint arra,
                hogy ügyeleti időszakban kizárólag sürgősségi hívást kezdeményez.
            </a>
        </p>

        <p class=MsoNormal style='text-align:justify'>&nbsp;</p>

        <p class=MsoNormal style='text-align:justify'><b>5. Díjazás</b></p>

        <p class=MsoNormal style='text-align:justify'>
            Felek kifejezetten rögzítik, hogy
            Szolgáltató a tolmácsszolgáltatást a próbaidőszakban Felhasználó részére
            ellenérték nélkül nyújtja, azért Felhasználó díjfizetésre nem köteles. A
            díjmentesség kizárólag a próbaidőszakra érvényes.
        </p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal><b>6. Szolgáltató kötelezettsége, felelőssége</b></p>

        <p class=MsoNormal style='text-align:justify'>
            Szolgáltató kötelezettséget
            vállal arra, hogy a jelen szerződés 1. pontjában meghatározott
            tolmácsszolgáltatást nyújtja Felhasználó részére a jelen szerződésben és az
            ÁSZF-ben meghatározott feltételek szerint.
        </p>

        <p class=MsoNormal style='text-align:justify'>
            Felek kifejezetten rögzítik azon
            megállapodásukat, hogy amennyiben a Szolgáltató által vállalt szolgáltatás
            bármilyen okból hibásan (ideértve azon esetet is, amennyiben a tolmácsolás nem
            megfelelő), vagy egyáltalán nem valósul meg (ideértve azon esetet is, ha a
            hívás kezdeményezésének időpontjában szabad tolmácskapacitás nem áll
            rendelkezésre), azért Szolgáltatót felelősség nem terheli, erre hivatkozva
            Felhasználó semmilyen jogcímen nem élhet igénnyel Szolgáltatóval szemben (ÁSZF III/13.3.
            pont).
        </p>

        <p class=MsoNormal style='text-align:justify'>
            Felek rögzítik, hogy ezen
            nyilatkozatuk megtétele során figyelemmel voltak arra a körülményre is, hogy a
            szolgáltatás tesztelés alatt áll, illetve hogy a szolgáltatás nyújtására
            ellenérték nélkül  kerül sor.
        </p>

        <p class=MsoNormal style='text-align:justify'><span style='font-size:8.0pt'>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify'>
            Felek rögzítik, hogy a
            szolgáltatással összefüggésben felmerülő panaszokat Felhasználó jogosult a Szolgáltató
            felé jelezni, a panaszkezelési eljárást az ÁSZF VI/4. pontja tartalmazza.
        </p>

        <p class=MsoNormal style='text-align:justify'><b>&nbsp;</b></p>

        <p class=MsoNormal style='text-align:justify'><b>7. Felhasználó kötelezettségei</b></p>

        <p class=MsoNormal style='text-align:justify'><b>a) Igénybevételi kötelezettség</b></p>

        <p class=MsoNormal style='text-align:justify'>
            Felhasználó köteles bármely olyan
            a jelen szerződés 1. pontjában meghatározott projekt rendszer által nyújtott szolgáltatást,
            amely tolmács közreműködésével jár naptári hónaponként minimum 2 alkalommal
            igénybe venni.
        </p>

        <p class=MsoNormal style='text-align:justify'>
            Felek kifejezetten rögzítik, hogy
            a regisztrált és szerződött felhasználóknak a jelen szerződés 1. pontjában
            meghatározott projekt rendszerének felhasználásával történő egymás közötti
            kommunikációja nem minősül igénybevételnek.
        </p>

        <p class=MsoNormal style='text-align:justify'>
            Amennyiben az igénybevételi
            kötelezettségének Felhasználó nem tesz eleget, úgy arra Szolgáltató
            felszólítja. Amennyiben a Szolgáltató felszólítása ellenére az igénybevételi
            kötelezettségének Felhasználó továbbra sem tesz eleget, úgy Szolgáltató
            jogosult a Felhasználót a szolgáltatásból 1-től 10 napig terjedő időtartamra
            kizárni, a szolgáltatás nyújtását felfüggeszteni.
        </p>

        <p class=MsoNormal style='text-align:justify'>
            Felek kifejezetten rögzítik, hogy
            amennyiben Felhasználó a jelen alpontban meghatározott kötelezettségének
            fentieken túl ismételten nem tesz eleget, az súlyos szerződésszegésnek minősül,
            melyre tekintettel Szolgáltató jogosult a szerződés azonnali hatályú
            felmondására.
        </p>

        <p class=MsoNormal style='text-align:justify'><span style='font-size:6.0pt'>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify'>
            <b>
                b) Adatszolgáltatási
                kötelezettség
            </b>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            Szolgáltató kijelenti,
            Felhasználó tudomásul veszi, hogy a szolgáltatás igénybevételét követően
            Szolgáltató a szolgáltatásra vonatkozóan visszajelző kérdőívet továbbít
            Felhasználó részére. Felhasználó kötelezettséget vállal arra, hogy a kérdőívet
            teljes mértékben kitölti és Szolgáltató rendelkezésére bocsátja.
        </p>

        <p class=MsoNormal style='text-align:justify'>
            Amennyiben az adatszolgáltatási
            kötelezettségének Felhasználó nem tesz eleget, úgy arra Szolgáltató elektronikus
            levélben felszólítja. Amennyiben a Szolgáltató felszólítása ellenére az
            adatszolgáltatási kötelezettségének Felhasználó továbbra sem tesz eleget, úgy
            Szolgáltató jogosult a Felhasználót a szolgáltatásból 1-től 10 napig terjedő
            időtartamra kizárni, a szolgáltatás nyújtását felfüggeszteni.
        </p>

        <p class=MsoNormal style='text-align:justify'>
            Felek kifejezetten rögzítik, hogy
            amennyiben Felhasználó a jelen alpontban meghatározott kötelezettségének
            fentieken túl ismételten nem tesz eleget, az súlyos szerződésszegésnek minősül,
            melyre tekintettel Szolgáltató jogosult a szerződés azonnali hatályú
            felmondására.
        </p>

        <p class=MsoNormal style='text-align:justify'><span style='font-size:6.0pt'>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify'>
            <b>
                c) Ügyelet alatt a Felhasználó
                csak sürgősségi hívást kezdeményezhet, kizárólag indokolt vészhelyzetben.
            </b>
        </p>

        <p class=MsoNormal style='text-align:justify'>(lásd jelen szerződés 4. pontja)</p>

        <p class=MsoNormal style='text-align:justify'>
            Amennyiben jelen alpontban
            rögzített kötelezettségének Felhasználó nem tesz eleget, úgy Szolgáltató
            jogosult a Felhasználót a szolgáltatásból 10 nap időtartamra kizárni, a
            szolgáltatás nyújtását felfüggeszteni. Felek kifejezetten rögzítik, hogy
            amennyiben Felhasználó a jelen alpontban meghatározott kötelezettségének
            fentieken túl ismételten nem tesz eleget, úgy Szolgáltató jogosult a
            Felhasználót a szolgáltatásból határozatlan időtartamra kizárni, a szolgáltatás
            nyújtását felfüggeszteni.
        </p>

        <p class=MsoNormal style='text-align:justify'>
            Amennyiben Felhasználó jelen
            alpontban rögzített kötelezettségét kettőnél több esetben megszegi, az súlyos
            szerződésszegésnek minősül, melyre tekintettel Szolgáltató jogosult a szerződés
            azonnali hatályú felmondására.
        </p>

        <p class=MsoNormal style='text-align:justify'><span style='font-size:8.0pt'>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify'><b>8. A</b><b> szerződés módosítása</b></p>

        <p class=MsoNormal style='text-align:justify'>
            Jelen szerződés felek közös
            megegyezésével, illetve a Szolgáltató által egyoldalúan kizárólag az ÁSZF-ben
            írt feltételek mellett az ÁSZF egyoldalú módosítása útján módosítható (ÁSZF VI/1.
            pont).
        </p>

        <p class=MsoNormal style='text-align:justify'><span style='font-size:8.0pt'>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify'><b>9. A</b><b> szerződés megszűnésének esetei (ÁSZF VI/2. pont)</b></p>

        <p class=MsoNormal style='text-align:justify'>Jelen szerződés megszűnik:</p>

        <p class=MsoNormal style='margin-left:36.0pt;text-align:justify;text-indent:
-18.0pt'>
            -<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>a határozott idő lejártával,
        </p>

        <p class=MsoNormal style='margin-left:36.0pt;text-align:justify;text-indent:
-18.0pt'>
            -<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>Felhasználó SINOSZ tagságának bármilyen okból történő megszűnésével,
        </p>

        <p class=MsoNormal style='margin-left:36.0pt;text-align:justify;text-indent:
-18.0pt'>
            -<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>Felhasználó halálával
        </p>

        <p class=MsoNormal style='margin-left:36.0pt;text-align:justify;text-indent:
-18.0pt'>
            -<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>Szolgáltató jogutód nélkül történő megszűnésével.
        </p>

        <p class=MsoNormal style='text-align:justify'>Jelen szerződés megszűntethető:</p>

        <p class=MsoNormal style='margin-left:36.0pt;text-align:justify;text-indent:
-18.0pt'>
            -<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>felek közös megegyezésével,
        </p>

        <p class=MsoNormal style='margin-left:36.0pt;text-align:justify;text-indent:
-18.0pt'>
            -<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>súlyos szerződésszegés esetén azonnali hatályú felmondással.
        </p>

        <p class=MsoNormal style='margin-left:36.0pt;text-align:justify;text-indent:
-18.0pt'>
            -<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>a jelen szerződés 1. pontjában leírt projekt forrásainak bármely okból
            történő megszűnése vagy a projekt fenntarthatóságát érintő csökkenése esetén,
            Szolgáltató azonnali hatályú felmondásával.
        </p>

        <p class=MsoNormal style='text-align:justify'><span style='font-size:8.0pt'>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify'><b>10. Adatkezelés, adatbiztonság</b></p>

        <p class=MsoNormal style='text-align:justify'>
            Az adatkezelés részletes
            szabályait az ÁSZF VI/3. pontja tartalmazza.<b> </b>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            Felhasználó kijelenti, hogy az
            adatkezelés megkezdése előtt részletes és egyértelmű tájékoztatást kapott az
            adatai kezelésével kapcsolatos minden tényről, körülményről és eljárásról.
        </p>

        <p class=MsoNormal style='text-align:justify'>
            Felhasználó e körben kijelenti,
            hogy tudomással bír arról is, hogy a jelen szerződés időtartama alatt a
            szolgáltatás általa történő felhasználása videó felvétel útján rögzítésre
            kerül, az ÁSZF VI/3.7. pontjában rögzített időig, melyhez a Felhasználó
            hozzájárul. A Szolgáltató valamennyi a szolgáltatással kapcsolatos
            dokumentációt köteles 2020. december 31-ig megőrizni, Felhasználó ehhez
            kifejezetten hozzájárul.
        </p>

        <p class=MsoNormal style='text-align:justify'>
            Felhasználó személyes adatai –
            ideértve az információs önrendelkezési jogról és az információs szabadságról
            szóló 2011. CXII. tv. szerinti különleges adatokat is – Szolgáltató, valamint
            az 1. pontban megnevezett projektet támogató Nemzeti Fejlesztési Ügynökség és
            az abban közreműködő ESZA Társadalmi Nonprofit Kft. általi kezeléséhez –
            ideértve ezen adatok felvételét, tárolását és nyilvánosságra hozatalát is – jelen
            szerződés aláírásával kifejezetten hozzájárul.
        </p>

        <p class=MsoNormal style='text-align:justify'><span style='font-size:6.0pt'>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify'>
            A Szolgáltató műszaki és
            szervezési intézkedésekkel köteles gondoskodni a szolgáltatás nyújtása során
            kezelt felhasználói adatok védelméről. Az adatbiztonság részletes szabályait az
            ÁSZF VI/3.10. pontja tartalmazza.
        </p>

        <p class=MsoNormal style='text-align:justify'><span style='font-size:8.0pt'>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify'>
            <b>
                11. Általános Szerződési
                Feltételek (ÁSZF)
            </b>
        </p>

        <p class=Norml1 style='text-align:justify'>
            <span style='font-size:11.0pt;
font-family:"Times New Roman","serif"'>
                A jelen szerződés szerinti
                szolgáltatásra, annak igénybevételére a Szolgáltató alábbi megnevezésű
                Általános Szerződési Feltételei vonatkoznak:
            </span>
        </p>

        <p class=Norml1 style='text-align:justify'>
            <span style='font-size:11.0pt;
font-family:"Times New Roman","serif"'>„ÁLTALÁNOS SZERZŐDÉSI FELTÉTELEK</span>
        </p>

        <p class=Norml1 style='text-align:justify'>
            <span style='font-size:11.0pt;
font-family:"Times New Roman","serif"'>
                A jelnyelvi tolmácsszolgálatok
                fejlesztése video alapú jelnyelvi tolmácsolás és szöveges operátori
                szolgáltatások bevezetésével című, TIOP-3.3.1.B-12/1-2012-0001 számú projekt
                megvalósítása során nyújtott KONTAKT
            </span><span class=MsoCommentReference>
                <span style='font-size:11.0pt'>tol</span>
            </span><span style='font-size:11.0pt;
font-family:"Times New Roman","serif"'>mácsszolgáltatás igénybevételéhez”.</span>
        </p>

        <p class=Norml1 style='text-align:justify'>
            <span style='font-size:11.0pt;
font-family:"Times New Roman","serif"'>
                Az ÁSZF elérhető a Szolgáltató honlapján
                (
            </span><span style='font-family:"Times New Roman","serif"'>
                <a href="http://www.sinosz.hu/">www.sinosz.hu</a>
            </span><span style='font-size:
11.0pt;font-family:"Times New Roman","serif"'>).</span>
        </p>

        <p class=Norml1 style='text-align:justify'>
            <span style='font-size:11.0pt;
font-family:"Times New Roman","serif"'>
                Felhasználó kijelenti, hogy a hatályos
                ÁSZF-et megismerte, az abban foglaltakat magára nézve kötelezőnek elfogadja.
            </span>
        </p>

        <p class=Norml1><span style='font-size:8.0pt;font-family:"Times New Roman","serif"'>&nbsp;</span></p>

        <p class=Norml1>
            <b>
                <span style='font-size:11.0pt;font-family:"Times New Roman","serif"'>
                    12.
                    Felhasználó jelen szerződéssel kapcsolatos nyilatkozatai
                </span>
            </b>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            Felhasználó kijelenti, hogy jelen
            szerződéssel összefüggő minden lényeges körülményről tájékoztatásra került, a
            tájékoztatásban és a szerződésben foglaltakat megértette, azokat tudomásul
            veszi.
        </p>

        <p class=MsoNormal style='text-align:justify'>
            Felhasználó kijelenti továbbá,
            hogy az adatkezelésre vonatkozóan is teljes körűen tájékoztatásra került, annak
            alapja az ő hozzájárulása.
        </p>

        <p class=MsoNormal style='text-align:justify'><span style='font-size:8.0pt'>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify'><b>13. Egyéb</b></p>

        <p class=MsoNormal style='text-align:justify'>
            A jelen szerződésben nem
            szabályozott kérdésekben a Polgári Törvénykönyv, a Polgári Törvénykönyv vállalkozási
            szerződésre vonatkozó szabályai és más vonatkozó jogszabályok rendelkezései az irányadóak.
        </p>

        <p class=MsoNormal style='text-align:justify'>
            Felek jogvitája esetén
            alkalmazandó eljárást az ÁSZF VI/8. pontja rögzíti.
        </p>

        <p class=MsoNormal style='text-align:justify'>
            Ha a jelen szerződés bármely
            pontja érvényét vesztené, attól a szerződés egésze még nem válik érvénytelenné
            (ÁSZF VI/7. pont).
        </p>

        <p class=MsoNormal style='text-align:justify'>&nbsp;</p>

        <p class=MsoNormal style='text-align:justify;text-autospace:none'>
            Felek jelen
            szerződést kölcsönös elolvasás és egységes értelmezés után, mint akaratukkal
            mindenben megegyezőt, jóváhagyólag aláírják.
        </p>

        <p class=MsoNormal><span style='font-size:8.0pt'>&nbsp;</span></p>

        <p class=MsoNormal>Budapest, @Model.DateNow</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal><span style='font-size:8.0pt'>&nbsp;</span></p>

        <p class=MsoNormal>&nbsp;</p>

        <div align=center>

            <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=621
                   style='width:465.65pt;border-collapse:collapse;border-collapse:collapse !msorm'>
                <tr style='height:45.15pt' style='height:45.15pt !msorm'>
                    <td width=308 valign=top style='width:231.05pt;padding:0cm 3.5pt 0cm 3.5pt 0cm 3.5pt 0cm 3.5pt !msorm;
  height:45.15pt'>
                        <p class=MsoNormal>&nbsp;</p>
                        <p class=MsoNormal align=center style='margin-left:2.55pt;text-align:center;
  text-indent:-2.55pt'>………………………………..…………..</p>
                        <p class=MsoNormal align=center style='margin-left:2.55pt;text-align:center'>
                            <b>
                                Siketek
                                és Nagyothallók Országos Szövetsége
                            </b>
                        </p>
                        <p class=MsoNormal align=center style='margin-left:2.55pt;text-align:center'><b>Szolgáltató</b></p>
                        <p class=MsoNormal align=center style='margin-left:2.55pt;text-align:center'>
                            <b>
                                képv.:
                                Ormódi Róbert meghatalmazott
                            </b>
                        </p>
                    </td>
                    <td width=313 valign=top style='width:234.6pt;padding:0cm 3.5pt 0cm 3.5pt 0cm 3.5pt 0cm 3.5pt !msorm;
  height:45.15pt'>
                        <p class=MsoNormal align=center style='margin-left:22.7pt;text-align:center'>&nbsp;</p>
                        <p class=MsoNormal align=center style='margin-left:22.7pt;text-align:center'>…………………………..……………………</p>
                        <p class=MsoNormal align=center style='margin-left:22.7pt;text-align:center'><b><i>@Model.SinoszUserName</i></b></p>
                        <p class=MsoNormal align=center style='margin-left:22.7pt;text-align:center'><b>Felhasználó</b></p>
                    </td>
                </tr>
            </table>

        </div>

        <p class=MsoNormal style='text-align:justify'>&nbsp;</p>

    </div>

