<style type="text/css">
    .ui-jqgrid .ui-state-highlight {
        background: #cccccc;
    }
    .container .grid {
        /*border: 1px solid #ddd;*/
        padding-left: 0px;
        padding-top: 35px;
        padding-right: 0px;
        padding-bottom: 15px;
        margin-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
    }
    .modal-dialog {
        width: 600px; /* your width */
        height: auto;
    }
</style>

<div class="modal fade bs-modal-sm" id="warningmodal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="color:orange">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">WARNING!</h4>
            </div>
            <div class="modal-body" style="color:orange">
                <p id="warningtext" style="text-align:center"></p>
            </div>
            <div class="modal-footer">
                <div class="text-center text-center">
                    <input type="button" class="btn btn-warning" data-dismiss="modal" value=" OK " />
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>

<div class="modal fade bs-modal-sm" id="errormodal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="color:red">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">ERROR!</h4>
            </div>
            <div class="modal-body" style="color:red">
                <p id="errortext" style="text-align:center"></p>
            </div>
            <div class="modal-footer">
                <div class="text-center text-center">
                    <input type="button" class="btn btn-danger" data-dismiss="modal" value=" OK " />
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>

<div class="modal fade bs-modal-sm" id="createmodal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add message</h4>
            </div>
            <div class="modal-body" style="height:200px">
                <div id="customvalidation" class="validation-summary-errors" data-valmsg-summary="true" style="display:none">
                    <div id="message"></div>
                </div>
                <div class="col-sm-12 col-xs-12">
                    @Html.Label("New message on english")
                </div>
                <div class="col-sm-12 col-xs-12">
                    @Html.TextBox("NewmessageEn", "", new { @class = "form-control", placeholder = "Type here a name of new message on english" })
                </div>
                <div class="col-sm-12 col-xs-12" style="padding-top:10px">
                    @Html.Label("New message on hungarian")
                </div>
                <div class="col-sm-12 col-xs-12">
                    @Html.TextBox("NewmessageHu", "", new { @class = "form-control", placeholder = "Type here a name of new message on hungarian" })
                </div>
            </div>
            <div class="modal-footer">
                <div class="text-center pull-left">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value=" BACK " />
                </div>
                <div class="text-center pull-right">
                    <input id="createbutton" type="button" class="btn btn-warning" value=" SAVE " />
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>

<div class="modal fade bs-modal-sm" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">ATTENTION!</h4>
            </div>
            <div class="modal-body">
                <p id="deletetext" style="text-align:center">Do you really want to delete this?</p>
            </div>
            <div class="modal-footer">
                <div class="text-center pull-left">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value=" CANCEL " />
                </div>
                <div class="text-center pull-right">
                    <input id="deletebutton" type="button" class="btn btn-warning" data-dismiss="modal" value=" DELETE " />
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>

<div class="row">    
    <div class="container grid">
        <div class="col-sm-12">
            <div class=" col-sm-12 col-xs-12" style="padding-left:0px">
                <div class="btn-group">
                    <a id="create" class="fa fa-plus fa-lg" style="padding-left:5px; padding-right:5px" data-toggle="modal" data-target="#createmodal"></a>
                    <a id="del" class="fa fa-trash-o fa-lg" style="visibility:hidden; padding-right:5px" data-toggle="modal" data-target="#deletemodal"></a>
                </div>
                <table id="msg" class="display"><tr><td /></tr></table>
                <div id="msgpager"></div>
            </div>
        </div>
    </div>
</div>

<input id="rowid" style="visibility: hidden" /> 

@section Scripts {
    @Scripts.Render("~/Scripts/jqgrid")

<script type="text/javascript">
    var getColumnIndexByName = function (gridname, columnName) {
        var grid = $("#" + gridname);
        var cm = grid.jqGrid('getGridParam', 'colModel');
        var retval = -1;
        $.each(cm, function () {
            if (this.name === columnName) {
                retval = cm.indexOf(this);
            }
        });
        return retval;
    };

    initDateSearch = function (elem) {
        setTimeout(function () {
            $(elem).datepicker({
                autoSize: true,
                //showOn: 'button', // it dosn't work in searching dialog
                changeYear: true,
                changeMonth: true,
                showButtonPanel: true,
                showWeek: true,
                onSelect: function () {
                    if (this.id.substr(0, 3) === "gs_") {
                        setTimeout(function () {
                            $("#msg")[0].triggerToolbar();
                        }, 50);
                    } else {
                        // to refresh the filter
                        $(this).trigger('change');
                    }
                }
            });
        }, 100);
    };

    numberSearchOptions = ['eq', 'ne', 'lt', 'le', 'gt', 'ge'];// 'nu', 'nn', 'in', 'ni'],

    numberTemplate = {
        formatter: 'integer', align: 'right', sorttype: 'number',
        searchoptions: { searchhidden: true, sopt: numberSearchOptions }
    };

    myDefaultSearch = 'cn';

    var ids = [];

    jQuery("#msg").jqGrid({
        url: '@Url.Action("ListMessages", "Message")',
        editurl: '@Url.Action("Edit", "Message")',
        datatype: "json",
        loadError: function (jqXHR, textStatus, errorThrown) {
            $('#errortext').text(jqXHR.responseText);
            $('#errormodal').modal({ show: true });
        },
        ajaxSelectOptions: { type: "GET" }, //ezzel megy a lenyíló az advanced search-ben
        colNames: [
            'Action'
            , 'id'
            , 'Status'
            , 'MessageENG'
            , 'MessageHUN'
            , 'Published'
            , 'Ok-IOS'
            , 'Response-IOS'
            , 'Ok-Andriod'
            , 'Response-Android'
        ],
        colModel: [
            {
                name: "act"
                , index: "act"
                , formatter: "actions"
                , formatoptions: {
                    keys: false, editbutton: true, delbutton: false,
                    afterSave: function () {
                        $("#msg").trigger("reloadGrid", [{ current: true }]);
                    },
                    afterRestore: function () {
                        $("#msg").trigger("reloadGrid", [{ current: true }]);
                    },
                    onError: function (jqXHR, textStatus, errorThrown) {
                        $('#errortext').text(jqXHR.responseText);
                        $('#errormodal').modal({ show: true });
                    }
                }
                , width: 55
                , sortable: false
                , search: false
            },
            { name: 'Id', index: 'Id', hidden: true }, //nem látszik, nem kereshető, nem vihető fel
            {
                name: 'Status', index: 'Status', width: 80, align: "left", hidden: false, sortable: true,
                search: true, stype: 'select',
                searchoptions: {
                    searchhidden: true,
                    sopt: ['eq', 'ne'],
                    dataUrl: '@Url.Action("ListNewsStatus", "New")?isSearch=' + true,
                    buildSelect: function (result) { return result; }
                },
                editable: false
            },
            {
                name: 'MessageEn', index: 'NameEn', width: 200, align: "left", hidden: false,
                sortable: true, sorttype: "string",
                search: true,
                editable: true, editrules: { required: true, edithidden: true }, //edittype: "textarea",
                cellattr: function (rowId, tv, rawObject, cm, rdata) { return 'style="white-space: normal;"' }//sortörés
            },
            {
                name: 'MessageHu', index: 'NameHu', width: 200, align: "left", hidden: false,
                sortable: true, sorttype: "string",
                editable: true, editrules: { required: true, edithidden: true }, //edittype: "textarea",
                cellattr: function (rowId, tv, rawObject, cm, rdata) { return 'style="white-space: normal;"' }
            },
            {
                name: 'PublishingDate', index: 'PublishingDate', width: 90, align: "center",
                hidden: false,
                formatter: 'date', formatoptions: { srcformat: $('#griddateformat').val(), newformat: $('#griddateformat').val() },
                search: true,
                searchoptions: {
                    sopt: ['eq', 'ne', 'lt', 'le', 'gt', 'ge'],
                    dataInit: initDateSearch
                },
                //searchrules: { custom: true, custom_func: datetimecheck },
                editable: false
            },
            {
                name: 'OkIos', index: 'OkIos', width: 55, align: "center", editable: false,
//                edittype: 'checkbox', editoptions: { value: "True:False" },
                searchoptions: { sopt: ['eq'], value: '"":All;True:True;False:False' }, stype: 'select',
                formatter: "checkbox", formatoptions: { disabled: true }, sortable: true
            },
            {
                name: 'ServiceResponseIos', index: 'ServiceResponseIos', width: 190, align: "left", hidden: false,
                sortable: true, sorttype: "string",
                search: true,
                editable: false,
                formatter: function (v) { return '<div style="max-height: 100px">' + v + '</div>'; } //max. sormagasság
            },
            {
                name: 'OkAndroid', index: 'OkAndroid', width: 55, align: "center", editable: false,
                //                edittype: 'checkbox', editoptions: { value: "True:False" },
                searchoptions: { sopt: ['eq'], value: '"":All;True:True;False:False' }, stype: 'select',
                formatter: "checkbox", formatoptions: { disabled: true }, sortable: true
            },
            {
                name: 'ServiceResponseAndroid', index: 'ServiceResponseAndroid', width: 190, align: "left", hidden: false,
                sortable: true, sorttype: "string",
                search: true,
                editable: false,
                formatter: function (v) { return '<div style="max-height: 100px">' + v + '</div>'; } //max. sormagasság
            }
        ],
        rowNum: 20,
        rowList: [20, 40, 60],
        toppager: true,
        pager: '#msgpager',
        sortname: 'Status,MessageEn',
        viewrecords: true,
        sortorder: "asc",
        caption: 'Messages',
        rownumbers: false,
        gridview: true,
        hoverrows: true,
        scrollrows: true,
        shrinkToFit: false,
        height: '100%',
        //width: '650',
        autowidth: true,
        onSelectRow: function (rowid) {
            $("#rowid").val(rowid);
            if ($(this).getCell(rowid, 'Status') == 'Under editing' || $(this).getCell(rowid, 'Status') == 'Szerkesztés alatt') {
                $("#Publish").show().css({ visibility: "visible" });
                $("#del").show().css({ visibility: "visible" });
            }
            else
            {
                $("#Publish").hide().css({ visibility: "hidden" });
                $("#del").hide().css({ visibility: "hidden" });
            }
        },
        loadComplete: function () {
            $("#del").hide().css({ visibility: "hidden" });
            $("#Publish").hide().css({ visibility: "hidden" });
            var ids = jQuery("#msg").getDataIDs();
            for (var i = 0; i < ids.length; i++)
            {
                if ($(this).getCell(ids[i], 'Status') == 'Under editing' || $(this).getCell(ids[i], 'Status') == 'Szerkesztés alatt')
                {
                    $("tr#" + $.jgrid.jqID(ids[i]) + " div.ui-inline-edit").show();
                }
                else
                {
                    $("tr#" + $.jgrid.jqID(ids[i]) + " div.ui-inline-edit").hide();
                };
            }
        }
    });

    jQuery("#msg").jqGrid('navGrid', '#msgpager'
        , { edit: false, add: false, del: false, refresh: true, cloneToTop: true }
        , {} //prmedit
        , {} //prmadd
        , {} //prmdel
        , {
            width: 600,
            multiplesearch: true,
            recreatefilter: true,
            closeonescape: true,
            closeaftersearch: true,
            overlay: 0,
            afterredraw: function () {
                $('input.add-rule', this)//.button().val('add new rule')
                    .attr('title', 'add new search rule');
                $('input.delete-rule', this)//.button().val('delete rule')
                    .attr('title', 'delete rule');
            }
        } //prmsearch
        , {} //prmview
    )
    .jqGrid('filterToolbar', { stringResult: true, searchOnEnter: true, defaultSearch: "cn" })

    jQuery("#msg").bind("jqGridInlineSuccessSaveRow",
        function (e, jqXHR, rowid, options) {
            var str = JSON.parse(jqXHR.responseText);
            if (!str.success) {
                if (str.error) {
                    $('#errortext').text(str.response);
                    $('#errormodal').modal({ show: true });
                }
                else {
                    $('#warningtext').text(str.response);
                    $('#warningmodal').modal({ show: true });
                }
            }
            return [true, jqXHR.responseText];
        }
    );

    $('#deletebutton').click(function () {
        $.ajax({
            url: '@Url.Action("DeleteMessage", "Message")?id=' + $("#rowid").val(),
            type: 'POST',
            beforeSend: function (jqXHR, textStatus) { jQuery('#msg').block({ message: '<h3>Wait…</h3>' }); },
            complete: function (jqXHR, textStatus) {
                var str = JSON.parse(jqXHR.responseText);
                if (!str.success) {
                    if (str.error) {
                        $('#errortext').text(str.response);
                        $('#errormodal').modal({ show: true });
                    }
                    else {
                        $('#warningtext').text(str.response);
                        $('#warningmodal').modal({ show: true });
                    }
                }
                jQuery('#msg').unblock();
                $("#msg").trigger("reloadGrid", [{ current: true }]);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#errortext').text(jqXHR.responseText);
                $('#errormodal').modal({ show: true });
            }
        });
    });

    $('#createbutton').click(function () {
        $.ajax({
            url: '@Url.Action("Create", "Message")?messageEn=' + $("#NewmessageEn").val() + '&messageHu=' + $("#NewmessageHu").val(),
            type: 'POST',
            beforeSend: function (jqXHR, textStatus) { jQuery('#msg').block({ message: '<h3>Wait…</h3>' }); },
            complete: function (jqXHR, textStatus) {
                var str = JSON.parse(jqXHR.responseText);
                if (!str.success) {
                    $('#message').text(str.response)
                    $('#customvalidation').show().css({ visibility: "visible" });
                }
                else {
                    $("#customvalidation").hide().css({ visibility: "hidden" });
                    $('#createmodal').modal('hide');
                }
                jQuery('#msg').unblock();
                $("#msg").trigger("reloadGrid", [{ current: true }]);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#errortext').text(jqXHR.responseText);
                $('#errormodal').modal({ show: true });
            }
        });
    });

    $("#createmodal").on("hide.bs.modal", function () {
        $("#customvalidation").hide().css({ visibility: "hidden" });
        $('#NewmessageEn').val('');
        $('#NewmessageHu').val('');
    });

    $('#Publish').click(function () {
        $.ajax({
            url: '@Url.Action("UpdateMessageStatus", "Message")?id=' + $("#rowid").val() + '&to=Published',
            type: 'POST',
            beforeSend: function (jqXHR, textStatus) { jQuery('#msg').block({ message: '<h3>Wait…</h3>' }); },
            complete: function (jqXHR, textStatus) {
                var str = JSON.parse(jqXHR.responseText);
                if (!str.success) {
                    if (str.error) {
                        $('#errortext').text(str.response);
                        $('#errormodal').modal({ show: true });
                    }
                    else {
                        $('#warningtext').text(str.response);
                        $('#warningmodal').modal({ show: true });
                    }
                }
                jQuery('#msg').unblock();
                $("#msg").trigger("reloadGrid", [{ current: true }]);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#errortext').text(jqXHR.responseText);
                $('#errormodal').modal({ show: true });
            }
        });
    });
 
    </script>

}